<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HEAD>
<META http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<LINK REL="alternate" TITLE="McStas news RSS" HREF="http://rss.mcstas.org/RSS.xml" TYPE="application/rss+xml">
<TITLE>McStas homepage</TITLE>
<STYLE>
<!--
a.menu {color: #000000}
-->
</STYLE>
<link rel="icon" href="/favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"> 
</HEAD>
<BODY text="#000000" bgcolor="#777777" link="#006699" vlink="#003366" alink="#FF0000">

<TABLE border="0" cellpadding="4" cellspacing="0" width="100%">
 <TR> <!-- top --> 
  <TD align="center" bgcolor="#ffffff" text="ffffff"> <!-- left (nrulogo) -->
   <A href="/"><IMG src="/logo-left.png" border="0" alt="McStas logo"></A>
  </TD> <!-- left (nrulogo) -->

  <TD align="center" bgcolor="#ffffff" width="10000"> <!-- midle (title) -->
    <A href="/"><img overlay src="/toplogo_animated.gif" border="0" alt="McStas - A neutron ray-trace simulation package"></A>
  </TD> <!-- midle (nrutitle) -->
  <TD align="right" bgcolor="#ffffff"><!-- right (rhhslogo) -->
    <A href="http://www.ill.fr"><IMG src="/ill-logo.png" border="0" alt="ILL;"></A>
    </TD>
  <TD align="right" bgcolor="#ffffff"><!-- right (rhhslogo) -->
    <A href="http://www.psi.ch"><IMG src="/psi-logo.png" border="0" alt="PSI;"></A> 
    </TD>
  <td align="right" bgcolor="white">
  <A href="http://www.europeanspallationsource.se/"><IMG
    src="/ESS_Logo_Frugal_Blue_cmyk.png" border="0" alt="ESS"></A></td>
  <TD align="right" bgcolor="#ffffff"><!-- right (rhhslogo) -->
  <A href="http://www.nbi.dk"><IMG src="/ku_nat.gif" border="0" alt="Niels Bohr Institute"></A></td><td align="right" bgcolor="white">
  <A href="http://www.fys.dtu.dk/"><IMG src="/DTU_logo.gif" border="0" alt="DTU Physics"></A></td><td align="right" bgcolor="white">
  <A href="http://nexmap.fysik.dtu.dk/"><IMG src="/NEXMAP_logo.png" border="0" alt="NEXMAP"></A>
  </TD> <!-- right (rhhslogo) -->
 </TR> <!-- top -->

 <TR> <!-- main -->
  <TD align="left" valign="top" bgcolor="#ffffff"> <!-- left (menu) -->
   <BR> <P style="font-family:Verdana"><B><A href="/" class="menu">McStas</A></B><BR> 
	<SMALL>
<P style="font-family:Verdana"><B><A href="/about/" class="menu">About McStas</A></B><BR> 
	<SMALL>
		&nbsp;<A href="/about/conditions" class="menu">Conditions of use</A><BR>
		&nbsp;<A href="/about/contacts" class="menu">Authors/Contacts</A><BR>
		&nbsp;<A href="/about/funding" class="menu">Project funding</A><BR>
		&nbsp;<A href="/about/screenshots" class="menu">Screenshots</A><BR>
	</SMALL>
</P> 
<P style="font-family:Verdana"><B><A href="/download/" class="menu"><font color="green">Download</font></A></B><BR> 
	<SMALL>
		&nbsp;<A href="/download/components" class="menu">Components</A><BR>
		&nbsp;<A href="/download/install_linux" class="menu"><font color="green">Linux Install (deb/rpm)</font></A><BR>
		&nbsp;<A href="/download/install_mac_os_x" class="menu"><font color="green">Mac OS X Install</font></A><BR>
		&nbsp;<A href="/download/install_unix" class="menu"><font color="green">Unix Install (src code)</font></A><BR>
		&nbsp;<A href="/download/install_windows" class="menu"><font color="green">Windows Install</font></A><BR>
		&nbsp;<A href="/download/share" class="menu"><font color="blue">Other Downloads (share)</font></A><BR>
	</SMALL>
</P> 
<P style="font-family:Verdana"><B><A href="/list/" class="menu">Mailing list</A></B><BR> 
	<SMALL>
	</SMALL>
</P> 
<P style="font-family:Verdana"><B><A href="/search/" class="menu">Search web/mailinglist</A></B><BR> 
	<SMALL>
	</SMALL>
</P> 
<P style="font-family:Verdana"><B><A href="/documentation/" class="menu">Documentation</A></B><BR> 
	<SMALL>
		&nbsp;<A href="/documentation/manual" class="menu">McStas manual</A><BR>
		&nbsp;<A href="/documentation/faq" class="menu">FAQ</A><BR>
		&nbsp;<A href="/documentation/problems" class="menu">Known problems</A><BR>
		&nbsp;<A href="/documentation/publications" class="menu">Publications</A><BR>
		&nbsp;<A href="/documentation/compilers" class="menu">C Compilers</A><BR>
		&nbsp;<A href="/documentation/other" class="menu">Other</A><BR>
		&nbsp;<A href="/documentation/tools" class="menu">Tools</A><BR>
		&nbsp;<A href="/documentation/tutorial" class="menu">Tutorial</A><BR>
	</SMALL>
</P> 
<P style="font-family:Verdana"><B><A href="/workshop/" class="menu">Workshops/conferences</A></B><BR> 
	<SMALL>
	</SMALL>
</P> 
<P style="font-family:Verdana"><B><A href="/developments/" class="menu">Developments</A></B><BR> 
	<SMALL>
	</SMALL>
</P> 
<P style="font-family:Verdana"><B><A href="/links/" class="menu">Links</A></B><BR> 
	<SMALL>
	</SMALL>
</P> 
<P style="font-family:Verdana"><B><A href="/McZilla/" class="menu">Report bugs</A></B><BR> 
	<SMALL>
	</SMALL>
</P> 
<P style="font-family:Verdana"><B><A href="/git/" class="menu">Git</A></B><BR> 
	<SMALL>
	</SMALL>
</P> 
<P style="font-family:Verdana"><B><A href="/ubuntu/" class="menu"><font color="green">McStas Ubuntu live-dvd</font></A></B><BR> 
	<SMALL>
	</SMALL>
</P> 
 <BR>
  </TD> <!-- left (menu) -->

  <TD colspan="8" align="left" valign="top" bgcolor="#ffffff"> <!-- midleright (text) -->
  <div style="font-family:arial; border: solid 0 #555; border-width:2px; padding:2.5ex; background-color: #ffffff;";>




<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<HTML><HEAD>
<TITLE>McStas: ESS_moderator Component</TITLE>
<LINK REV="made" HREF="mailto:peter.willendrup@risoe.dk">
</HEAD>

<BODY>

<P ALIGN=CENTER>
 [ <A href="#id">Identification</A>
 | <A href="#desc">Description</A>
 | <A href="#ipar">Input parameters</A>
 | <A href="#opar">Output parameters</A>
 | <A href="#links">Links</A> ]
</P>

<H1>The <CODE>ESS_moderator</CODE> Component</H1>

A parametrised pulsed source for modelling ESS long pulses.


<H2><A NAME=id></A>Identification</H2>

<UL>
  <LI> <B>Author:</B> P Willendrup and E Klinkby, February 2014, derived from K Lefmann ESS_moderator_long</B>
  <LI> <B>Origin:</B> DTU</B>
  <LI> <B>Date:</B>(Unknown)</B>
  <LI> <B>Version:</B> $Revision$</B>
  <LI> <B>Modification history:</B> <UL>
    <LI>  J. Saroun (saroun@ujf.cas.cz)
  </UL>
</UL>
<H2><A NAME=desc></A>Description</H2>

<PRE>
Produces a time-of-flight spectrum, from the ESS parameters
Chooses evenly in lambda, evenly/exponentially decaying in time
Adapted from ESS_moderator_long by: K Lefmann, 2001

Updates and simplified interface:
<ol>
<li>The spectrum from the source(s) is defined via the sourcedef string input parameter which allows these values:
<ul>
<li>sourcedef="2001", legacy "Mezei moderators" from the original F. Mezei documents 
"ESS reference moderator characteristics for generic instrument performance evaluation", but rescaled to ESS TDR frequency, pulselength and power.
<li>sourcedef="TDR", Mezei moderators, with a wavelength-dependent correction term to the cold flux, derived from 
2012 MCNPX calculations by ESS neutronics group. Corrections calculated by K Lieutenant (Vitess) and 
implemented here by E Klinkby. NOTE: uses the 2001 brilliance for the thermal moderator!
<li>sourcedef="2014", updated brilliance using formulation by Troels Schoenfeldt, including support for the "pancacke", i.e. flat geometry.
<li>sourcedef="2015", updated brilliance using formulation by Troels Schoenfeldt, new butterfly baseline.
</ul>
<li>The component can use target_index for focusing to a given beam port. Use an Arm() and ROTATED to position 
relatively to the moderator.
<li>The component relies on the new ess_source-lib which is expected to become further enriched during design-finaliziation and construciton of the ESS.
</ol>

<p><b>Note that this component does not implement "engineering reality" and currently uses a coordinate system centered on the moderator assembly. An
updated moderator component which references the "Moderator focus coordinate system" will be released later during the spring of 2016.</b>

<p>Derived from ESS_moderator_long which was debugged intensively against Mezei note (4/12 2000) and VitESS @ Rencurel 2006.

-----------------------------------------------
Correction by J. Saroun, NPI Rez:
1) version 2015: accepts negative port angles
2) version 2015: weight by cosine of the port angle
Warning: The negative beamport angle is not taken into acccount by mcplot

%VALIDATION 
Mezei-modererators validated against VitESS and Mezei note (4/12 2000) @ Rencurel 2006
Benchmarked against multiple versions of ESS moderator group simulation data 2013-2015

</PRE>

<H2><A NAME=ipar></A>Input parameters</H2>
Parameters in <B>boldface</B> are required;
the others are optional.
<TABLE BORDER=1>
<TR><TH>Name</TH>  <TH>Unit</TH>  <TH>Description</TH> <TH>Default</TH></TR>
<TR> <TD>isleft</TD>
     <TD>1</TD>
     <TD>Fraction of thermal neutrons generated at the "left" moderator slab in case of "2013" or "2014"
</TD>
<TD ALIGN=RIGHT>0.9</TD> </TR>
<TR> <TD><B>Lmin</B></TD>
     <TD>AA</TD>
     <TD>Lower edge of wavelength distribution
</TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>Lmax</B></TD>
     <TD>AA</TD>
     <TD>Upper edge of wavelength distribution
</TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD>cold_frac</TD>
     <TD>1</TD>
     <TD>Fraction of neutron statistics from cold source. It is implicitely assumed 
that supermirror allows each beamline to choose the desired fraction
of cold and thermal neutrons (i.e. extreme idealization).
</TD>
<TD ALIGN=RIGHT>1.0</TD> </TR>
<TR> <TD>dist</TD>
     <TD>m</TD>
     <TD>Distance from source to focusing rectangle; at (0,0,dist)
</TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD><B>focus_xw</B></TD>
     <TD>m</TD>
     <TD>Width of focusing rectangle
</TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>focus_yh</B></TD>
     <TD>m</TD>
     <TD>Height of focusing rectangle
</TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD>target_index</TD>
     <TD>1</TD>
     <TD>relative index of component to focus at, e.g. next is +1
this is used to compute 'dist' automatically.
</TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>tmax_multiplier</TD>
     <TD>1</TD>
     <TD>Defined maximum emission time at moderator, tmax= tmax_multiplier * ESS_PULSE_DURATION. Only in combination with sourcedef="2013", "2014" or "2015"
</TD>
<TD ALIGN=RIGHT>3</TD> </TR>
<TR> <TD>yheight_c</TD>
     <TD>m</TD>
     <TD>Height of the cold source
</TD>
<TD ALIGN=RIGHT>0.12</TD> </TR>
<TR> <TD>yheight_t</TD>
     <TD>m</TD>
     <TD>Height of the thermal source
</TD>
<TD ALIGN=RIGHT>0.12</TD> </TR>
<TR> <TD>n_pulses</TD>
     <TD>1</TD>
     <TD>Number of pulses simulated. 0 and 1 creates one pulse. 
The integrated intensity is constant 
</TD>
<TD ALIGN=RIGHT>1</TD> </TR>
<TR> <TD>acc_power</TD>
     <TD>MW</TD>
     <TD>Accelerator power in MW
</TD>
<TD ALIGN=RIGHT>5</TD> </TR>
<TR> <TD>beamport_angle</TD>
     <TD>deg</TD>
     <TD>Direction within the beamport sector (0 < angle < extraction_opening for 2014, -extraction_opening/2 < angle < extraction_opening/2 for 2015) to direct neutrons. For sourcedef="2015", the only allowed values are 5,15,...,55 degrees measured from the central point.
</TD>
<TD ALIGN=RIGHT>-1</TD> </TR>
<TR> <TD>sourcedef</TD>
     <TD>string</TD>
     <TD>ESS source "database", values: "TDR", "2001", "2013", "2014", "2015"
</TD>
<TD ALIGN=RIGHT>"2015"</TD> </TR>
<TR> <TD>xwidth_c</TD>
     <TD>m</TD>
     <TD>Width / arc-length opening of the cold source. 
</TD>
<TD ALIGN=RIGHT>0.1</TD> </TR>
<TR> <TD>xwidth_t</TD>
     <TD>m</TD>
     <TD>Edge of thermal source
</TD>
<TD ALIGN=RIGHT>0.18</TD> </TR>
<TR> <TD>extraction_opening</TD>
     <TD>deg</TD>
     <TD>Width of extraction-area in degrees (60 or 120 degrees). 120 deg only in combination with sourcedef="2014" and "2015". 
</TD>
<TD ALIGN=RIGHT>120</TD> </TR>
</TABLE>


<H2><A NAME=opar></A>Output parameters</H2>
<TABLE BORDER=1>
<TR><TH>Name</TH>  <TH>Unit</TH>  <TH>Description</TH> <TH>Default</TH></TR>
<TR> <TD><B>l_range</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>w_mult</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>w_geom</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>w_geom_c</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>w_geom_t</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>w_stat</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>cold</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>wasleft</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>cosine</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>tx</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>ty</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>tz</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>cx</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>cy</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>cz</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>cyl_radius</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>t1x</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>t1y</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>t1z</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>t2x</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>t2y</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>t2z</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>modextras</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>cold_bril</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>thermal_bril</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>tfocus_width</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>tfocus_time</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>dt</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>r_empty</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>lambda</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>xprime</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>yprime</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>zprime</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>sgnport</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>abs_beamport_angle</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>cos_beamport_angle</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>edge_thermal</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>cos_thermal</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>cos_cold</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>sin_beamport_angle</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
</TABLE>


<H2><A NAME=links></A>Links</H2>

<UL>
  <LI> <A HREF="ESS_moderator.comp">Source code</A> for <CODE>ESS_moderator.comp</CODE>.
</UL>
<HR>
<P ALIGN=CENTER>
 [ <A href="#id">Identification</A>
 | <A href="#desc">Description</A>
 | <A href="#ipar">Input parameters</A>
 | <A href="#opar">Output parameters</A>
 | <A href="#links">Links</A> ]
</P>

<ADDRESS>
Generated automatically by McDoc, Peter Willendrup
&lt;<A HREF="mailto:peter.willendrup@risoe.dk">peter.willendrup@risoe.dk</A>&gt; /
Thu Jun 16 08:51:07 2016</ADDRESS>
</BODY></HTML>

<P><DIV align=right><A href="/download/components/sources/ESS_moderator.pure.html">Printable version</A></DIV><HR> <CENTER><SMALL>Last Modified: Thursday, 16-Jun-2016 10:51:07 CEST</SMALL></CENTER>
</div></TD> <!-- midleright (text) -->
 </TR> <!-- main -->
<TR bgcolor = "#ffffff" align="left">
<TD colspan="8"><a href="/search"><img
 src="/spyglass.gif" alt="Search website" align="middle" height="40"
 border="0"></a>
<a href="http://freshmeat.net/projects/mcstas"><img
 src="/link_button_3.gif" align="middle"
 border="0" alt="freshmeat.net McStas site"></a>
<a href="http://rss.mcstas.org/RSS.xml" ><img src="/rssfeed.png" align="middle" border="0" alt="RSS feed"></a>
<a href="http://mailman.mcstas.org/pipermail/mcstas-users/"><img src="/Mailman.jpg" align="middle" border="0" alt="mailinglist archive"></a>
<a href="https://svn.mccode.org/svn/McCode"><img src="/subversion_logo.png" align="middle" height="40" border="0" alt="SVN repos"></A>
<a href="http://trac.mccode.org"><img src="/trac_logo.png"
 align="middle" height="50" border="0" alt="McCode Trac"></a>
<!-- Facebook Badge START --><a
 href="http://www.facebook.com/McStas"
 target="_TOP" title="McStas"><img align="middle" src="/mcstas-fblogo.png" width="50" height="40" style="border: 0px;" /></a><!-- Facebook Badge END --></TD></TR></TABLE >

</BODY>
</HTML>

