<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HEAD>
<META http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<LINK REL="alternate" TITLE="McStas news RSS" HREF="http://rss.mcstas.org/RSS.xml" TYPE="application/rss+xml">
<TITLE>McStas homepage</TITLE>
<STYLE>
<!--
a.menu {color: #000000}
-->
</STYLE>
<link rel="icon" href="/favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"> 
</HEAD>
<BODY text="#000000" bgcolor="#777777" link="#006699" vlink="#003366" alink="#FF0000">

<TABLE border="0" cellpadding="4" cellspacing="0" width="100%">
 <TR> <!-- top --> 
  <TD align="center" bgcolor="#ffffff" text="ffffff"> <!-- left (nrulogo) -->
   <A href="/"><IMG src="/logo-left.png" border="0" alt="McStas logo"></A>
  </TD> <!-- left (nrulogo) -->

  <TD align="center" bgcolor="#ffffff" width="10000"> <!-- midle (title) -->
    <A href="/"><img overlay src="/toplogo_animated.gif" border="0" alt="McStas - A neutron ray-trace simulation package"></A>
  </TD> <!-- midle (nrutitle) -->
  <TD align="right" bgcolor="#ffffff"><!-- right (rhhslogo) -->
    <A href="http://www.ill.fr"><IMG src="/ill-logo.png" border="0" alt="ILL;"></A>
    </TD>
  <TD align="right" bgcolor="#ffffff"><!-- right (rhhslogo) -->
    <A href="http://www.psi.ch"><IMG src="/psi-logo.png" border="0" alt="PSI;"></A> 
    </TD>
  <td align="right" bgcolor="white">
  <A href="http://www.europeanspallationsource.se/"><IMG
    src="/ESS_Logo_Frugal_Blue_cmyk.png" border="0" alt="ESS"></A></td>
  <TD align="right" bgcolor="#ffffff"><!-- right (rhhslogo) -->
  <A href="http://www.nbi.dk"><IMG src="/ku_nat.gif" border="0" alt="Niels Bohr Institute"></A></td><td align="right" bgcolor="white">
  <A href="http://www.fys.dtu.dk/"><IMG src="/DTU_logo.gif" border="0" alt="DTU Physics"></A></td><td align="right" bgcolor="white">
  <A href="http://nexmap.fysik.dtu.dk/"><IMG src="/NEXMAP_logo.png" border="0" alt="NEXMAP"></A>
  </TD> <!-- right (rhhslogo) -->
 </TR> <!-- top -->

 <TR> <!-- main -->
  <TD align="left" valign="top" bgcolor="#ffffff"> <!-- left (menu) -->
   <BR> <P style="font-family:Verdana"><B><A href="/" class="menu">McStas</A></B><BR> 
	<SMALL>
<P style="font-family:Verdana"><B><A href="/about/" class="menu">About McStas</A></B><BR> 
	<SMALL>
		&nbsp;<A href="/about/conditions" class="menu">Conditions of use</A><BR>
		&nbsp;<A href="/about/contacts" class="menu">Authors/Contacts</A><BR>
		&nbsp;<A href="/about/funding" class="menu">Project funding</A><BR>
		&nbsp;<A href="/about/screenshots" class="menu">Screenshots</A><BR>
	</SMALL>
</P> 
<P style="font-family:Verdana"><B><A href="/download/" class="menu"><font color="green">Download</font></A></B><BR> 
	<SMALL>
		&nbsp;<A href="/download/components" class="menu">Components</A><BR>
		&nbsp;<A href="/download/install_linux" class="menu"><font color="green">Linux Install (deb/rpm)</font></A><BR>
		&nbsp;<A href="/download/install_mac_os_x" class="menu"><font color="green">Mac OS X Install</font></A><BR>
		&nbsp;<A href="/download/install_unix" class="menu"><font color="green">Unix Install (src code)</font></A><BR>
		&nbsp;<A href="/download/install_windows" class="menu"><font color="green">Windows Install</font></A><BR>
		&nbsp;<A href="/download/share" class="menu"><font color="blue">Other Downloads (share)</font></A><BR>
	</SMALL>
</P> 
<P style="font-family:Verdana"><B><A href="/list/" class="menu">Mailing list</A></B><BR> 
	<SMALL>
	</SMALL>
</P> 
<P style="font-family:Verdana"><B><A href="/search/" class="menu">Search web/mailinglist</A></B><BR> 
	<SMALL>
	</SMALL>
</P> 
<P style="font-family:Verdana"><B><A href="/documentation/" class="menu">Documentation</A></B><BR> 
	<SMALL>
		&nbsp;<A href="/documentation/manual" class="menu">McStas manual</A><BR>
		&nbsp;<A href="/documentation/faq" class="menu">FAQ</A><BR>
		&nbsp;<A href="/documentation/problems" class="menu">Known problems</A><BR>
		&nbsp;<A href="/documentation/publications" class="menu">Publications</A><BR>
		&nbsp;<A href="/documentation/compilers" class="menu">C Compilers</A><BR>
		&nbsp;<A href="/documentation/other" class="menu">Other</A><BR>
		&nbsp;<A href="/documentation/tools" class="menu">Tools</A><BR>
		&nbsp;<A href="/documentation/tutorial" class="menu">Tutorial</A><BR>
	</SMALL>
</P> 
<P style="font-family:Verdana"><B><A href="/workshop/" class="menu">Workshops/conferences</A></B><BR> 
	<SMALL>
	</SMALL>
</P> 
<P style="font-family:Verdana"><B><A href="/developments/" class="menu">Developments</A></B><BR> 
	<SMALL>
	</SMALL>
</P> 
<P style="font-family:Verdana"><B><A href="/links/" class="menu">Links</A></B><BR> 
	<SMALL>
	</SMALL>
</P> 
<P style="font-family:Verdana"><B><A href="/McZilla/" class="menu">Report bugs</A></B><BR> 
	<SMALL>
	</SMALL>
</P> 
<P style="font-family:Verdana"><B><A href="/git/" class="menu">Git</A></B><BR> 
	<SMALL>
	</SMALL>
</P> 
<P style="font-family:Verdana"><B><A href="/ubuntu/" class="menu"><font color="green">McStas Ubuntu live-dvd</font></A></B><BR> 
	<SMALL>
	</SMALL>
</P> 
 <BR>
  </TD> <!-- left (menu) -->

  <TD colspan="8" align="left" valign="top" bgcolor="#ffffff"> <!-- midleright (text) -->
  <div style="font-family:arial; border: solid 0 #555; border-width:2px; padding:2.5ex; background-color: #ffffff;";>




<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<HTML><HEAD>
<TITLE>McStas: Source_Optimizer Component</TITLE>
<LINK REV="made" HREF="mailto:peter.willendrup@risoe.dk">
</HEAD>

<BODY>

<P ALIGN=CENTER>
 [ <A href="#id">Identification</A>
 | <A href="#desc">Description</A>
 | <A href="#ipar">Input parameters</A>
 | <A href="#opar">Output parameters</A>
 | <A href="#links">Links</A> ]
</P>

<H1>The <CODE>Source_Optimizer</CODE> Component</H1>

A component that optimizes the neutron flux passing through the
Source_Optimizer in order to have the maximum flux at the
<b>Monitor_Optimizer</b> position.


<H2><A NAME=id></A>Identification</H2>

<UL>
  <LI> <B>Author:</B> <a href="mailto:farhi@ill.fr">Emmanuel Farhi</a></B>
  <LI> <B>Origin:</B> <a href="http://www.ill.fr">ILL (France)</a></B>
  <LI> <B>Date:</B> 17 Sept 1999</B>
  <LI> <B>Version:</B> $Revision$</B>
  <LI> <B>Modification history:</B> <UL>
    <LI>  (v 0.06) EF, Feb 2000;
    <LI>  (v.0.07) EF, Mar 10th 2000; (smoothed, parse options). struct
    <LI>  (v.0.08) EF, Oct 12th 2000; optim divergence for v and s
    <LI>  (v.0.09) EF, Mar 13th 2001; bug on div s (SIGFPE /0 )
  </UL>
</UL>
<H2><A NAME=desc></A>Description</H2>

<PRE>
  Principle: The optimizer first (step 1) computes neutron state parameter
limits passing in the Source_Optimizer, and then (step 2) records a Reference
source as well as the state (at Source_Optimizer position) of neutrons
reaching Monitor. The optimized source is defined as a fraction of the
Reference source plus the distribution of 'good' neutrons reaching the
Monitor. The optimization then starts (step 3), and focuses new neutrons on
the Monitor_Optimizer. In fact it changes 'bad' neutrons into 'good' ones
(that reach the Monitor), acting on their position, spin and divergence or
velocity. The overall Monitor flux is kept during process. The energy and
polarisation distributions are kept during optimization as far as possible
during optimisation. The optimization method considers that all neutron
parameters - (x,y), (vx,vy,vz) or (vx/v2,vy/v2,v2), (sx,sy,sz) or
(sx/s2,sy/s2,s2) - are independent.

  Options: The optimized source can be computed regularly ('continuous'
option) or only once ('not continuous'). The time spent in steps 1 and 2 can
be reduced for a shorter optimization ('auto').  The neutrons passing during
steps 1 and 2 can be smoothed for a better neutron weight distribution
('smooth' option).

Source_optimizer can be placed at any position where you want to act on the
flux, for instance just after the source.
Monitor_Optimizer should be placed at position(s) to optimize.
I prefer to put one just before the sample.

Default parameters bins, step, and keep are 10, 10%  and 10% respectively.
The option string can be empty (""), which stands for default configuration
that works fine in usual cases:

 options="continuous optimization, auto mode, smooth, SetXY+SetDivV+SetDivS"

<b>Possible options are</b>
    continuous      for continuous source optimization (default).
    verbose         displays optimization process (debug purpose).
    auto            uses the shortest possible 'step 1' and 'step 2'
                    and sets 'step' value as required (default).
    smooth          remove possible spikes generated in
                    steps 1 and 2 (default is smooth).
    unactivate      to unactivate the Optimizer.
    no or not       revert next option
    bins=[value=10] set the Number of cells for sampling neutron states
    step=[value=10] Optimizer step in % of simulation.
    keep=[value=10] Percentage of initial source distribution that is kept
    file=[name]     Filename where to save optimized source distributions
                    (no file is generated if not given. Default ext. is .src)
    SetXY           Keywords to indicate what may be changed during
    SetV            optimisation. Default is position, divergence and spin
    SetS            direction ("SetXY+SetDivV+SetdivS"). Choosing the speed
    SetDivV         or spin optimization (SetV or SetS) may modify the energy
    SetDivS         or polarisation distribution (norm of V and S)
                    as the three components are then independent.

Parameters bins, step and keep can also be entered as optional parameters.

<b>EXAMPLE</b>: I use the following settings

 optim_s = Source_Optimizer(options="please be clever") (same as empty)
    (...)
 Monitor_Optimizer(xmin=-0.05, xmax=0.05, ymin=-0.05, ymax=0.05,
            optim_comp = optim_s)

A good optimization needs to record enough non optimized neutrons on Monitor
during step 2. Typical enhancement in computation speed is by a factor 20.
This component usually works well.

<b>NOTE:</b> You must be aware that in some cases (SetV and SetS),
the optimization might sligtly afect the energy or spin distribution of the
source. The optimizer tries to do its best anyway.
Also, some 'spikes' may sometime appear in monitor signals in the course of
the optimization, coming from non-optimized neutrons with original weight.
The 'smooth' option minimises this effect (on by default).

</PRE>

<H2><A NAME=ipar></A>Input parameters</H2>
Parameters in <B>boldface</B> are required;
the others are optional.
<TABLE BORDER=1>
<TR><TH>Name</TH>  <TH>Unit</TH>  <TH>Description</TH> <TH>Default</TH></TR>
<TR> <TD>bins</TD>
     <TD>1</TD>
     <TD>Number of cells for sampling neutron states. </TD>
<TD ALIGN=RIGHT>10</TD> </TR>
<TR> <TD>step</TD>
     <TD>0-100</TD>
     <TD>Optimizer step in percent of simulation. </TD>
<TD ALIGN=RIGHT>0.1</TD> </TR>
<TR> <TD>keep</TD>
     <TD>0-100</TD>
     <TD>Percentage of initial source distribution that is kept. </TD>
<TD ALIGN=RIGHT>0.1</TD> </TR>
<TR> <TD>options</TD>
     <TD>str</TD>
     <TD>string of options. See <b>Description<b> </TD>
<TD ALIGN=RIGHT>0</TD> </TR>
</TABLE>


<H2><A NAME=opar></A>Output parameters</H2>
<TABLE BORDER=1>
<TR><TH>Name</TH>  <TH>Unit</TH>  <TH>Description</TH> <TH>Default</TH></TR>
<TR> <TD><B>DEFS</B></TD>
     <TD>struct</TD>
     <TD>a set of constant values used in the component </TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>Vars</B></TD>
     <TD>struct</TD>
     <TD>structure that contains variables used in the component </TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
</TABLE>


<H2><A NAME=links></A>Links</H2>

<UL>
  <LI> <A HREF="Source_Optimizer.comp">Source code</A> for <CODE>Source_Optimizer.comp</CODE>.
  <LI> <a href="Monitor_Optimizer.html">Monitor_Optimizer</a>

</UL>
<HR>
<P ALIGN=CENTER>
 [ <A href="#id">Identification</A>
 | <A href="#desc">Description</A>
 | <A href="#ipar">Input parameters</A>
 | <A href="#opar">Output parameters</A>
 | <A href="#links">Links</A> ]
</P>

<ADDRESS>
Generated automatically by McDoc, Peter Willendrup
&lt;<A HREF="mailto:peter.willendrup@risoe.dk">peter.willendrup@risoe.dk</A>&gt; /
Thu Jun 16 08:51:07 2016</ADDRESS>
</BODY></HTML>

<P><DIV align=right><A href="/download/components/sources/Source_Optimizer.pure.html">Printable version</A></DIV><HR> <CENTER><SMALL>Last Modified: Thursday, 16-Jun-2016 10:51:07 CEST</SMALL></CENTER>
</div></TD> <!-- midleright (text) -->
 </TR> <!-- main -->
<TR bgcolor = "#ffffff" align="left">
<TD colspan="8"><a href="/search"><img
 src="/spyglass.gif" alt="Search website" align="middle" height="40"
 border="0"></a>
<a href="http://freshmeat.net/projects/mcstas"><img
 src="/link_button_3.gif" align="middle"
 border="0" alt="freshmeat.net McStas site"></a>
<a href="http://rss.mcstas.org/RSS.xml" ><img src="/rssfeed.png" align="middle" border="0" alt="RSS feed"></a>
<a href="http://mailman.mcstas.org/pipermail/mcstas-users/"><img src="/Mailman.jpg" align="middle" border="0" alt="mailinglist archive"></a>
<a href="https://svn.mccode.org/svn/McCode"><img src="/subversion_logo.png" align="middle" height="40" border="0" alt="SVN repos"></A>
<a href="http://trac.mccode.org"><img src="/trac_logo.png"
 align="middle" height="50" border="0" alt="McCode Trac"></a>
<!-- Facebook Badge START --><a
 href="http://www.facebook.com/McStas"
 target="_TOP" title="McStas"><img align="middle" src="/mcstas-fblogo.png" width="50" height="40" style="border: 0px;" /></a><!-- Facebook Badge END --></TD></TR></TABLE >

</BODY>
</HTML>

