<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HEAD>
<META http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<LINK REL="alternate" TITLE="McStas news RSS" HREF="http://rss.mcstas.org/RSS.xml" TYPE="application/rss+xml">
<TITLE>McStas homepage</TITLE>
<STYLE>
<!--
a.menu {color: #000000}
-->
</STYLE>
<link rel="icon" href="/favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"> 
</HEAD>
<BODY text="#000000" bgcolor="#777777" link="#006699" vlink="#003366" alink="#FF0000">

<TABLE border="0" cellpadding="4" cellspacing="0" width="100%">
 <TR> <!-- top --> 
  <TD align="center" bgcolor="#ffffff" text="ffffff"> <!-- left (nrulogo) -->
   <A href="/"><IMG src="/logo-left.png" border="0" alt="McStas logo"></A>
  </TD> <!-- left (nrulogo) -->

  <TD align="center" bgcolor="#ffffff" width="10000"> <!-- midle (title) -->
    <A href="/"><img overlay src="/toplogo_animated.gif" border="0" alt="McStas - A neutron ray-trace simulation package"></A>
  </TD> <!-- midle (nrutitle) -->
  <TD align="right" bgcolor="#ffffff"><!-- right (rhhslogo) -->
    <A href="http://www.ill.fr"><IMG src="/ill-logo.png" border="0" alt="ILL;"></A>
    </TD>
  <TD align="right" bgcolor="#ffffff"><!-- right (rhhslogo) -->
    <A href="http://www.psi.ch"><IMG src="/psi-logo.png" border="0" alt="PSI;"></A> 
    </TD>
  <td align="right" bgcolor="white">
  <A href="http://www.europeanspallationsource.se/"><IMG
    src="/ESS_Logo_Frugal_Blue_cmyk.png" border="0" alt="ESS"></A></td>
  <TD align="right" bgcolor="#ffffff"><!-- right (rhhslogo) -->
  <A href="http://www.nbi.dk"><IMG src="/ku_nat.gif" border="0" alt="Niels Bohr Institute"></A></td><td align="right" bgcolor="white">
  <A href="http://www.fys.dtu.dk/"><IMG src="/DTU_logo.gif" border="0" alt="DTU Physics"></A></td><td align="right" bgcolor="white">
  <A href="http://nexmap.fysik.dtu.dk/"><IMG src="/NEXMAP_logo.png" border="0" alt="NEXMAP"></A>
  </TD> <!-- right (rhhslogo) -->
 </TR> <!-- top -->

 <TR> <!-- main -->
  <TD align="left" valign="top" bgcolor="#ffffff"> <!-- left (menu) -->
   <BR> <P style="font-family:Verdana"><B><A href="/" class="menu">McStas</A></B><BR> 
	<SMALL>
<P style="font-family:Verdana"><B><A href="/about/" class="menu">About McStas</A></B><BR> 
	<SMALL>
		&nbsp;<A href="/about/conditions" class="menu">Conditions of use</A><BR>
		&nbsp;<A href="/about/contacts" class="menu">Authors/Contacts</A><BR>
		&nbsp;<A href="/about/funding" class="menu">Project funding</A><BR>
		&nbsp;<A href="/about/screenshots" class="menu">Screenshots</A><BR>
	</SMALL>
</P> 
<P style="font-family:Verdana"><B><A href="/download/" class="menu"><font color="green">Download</font></A></B><BR> 
	<SMALL>
		&nbsp;<A href="/download/components" class="menu">Components</A><BR>
		&nbsp;<A href="/download/install_linux" class="menu"><font color="green">Linux Install (deb/rpm)</font></A><BR>
		&nbsp;<A href="/download/install_mac_os_x" class="menu"><font color="green">Mac OS X Install</font></A><BR>
		&nbsp;<A href="/download/install_unix" class="menu"><font color="green">Unix Install (src code)</font></A><BR>
		&nbsp;<A href="/download/install_windows" class="menu"><font color="green">Windows Install</font></A><BR>
		&nbsp;<A href="/download/share" class="menu"><font color="blue">Other Downloads (share)</font></A><BR>
	</SMALL>
</P> 
<P style="font-family:Verdana"><B><A href="/list/" class="menu">Mailing list</A></B><BR> 
	<SMALL>
	</SMALL>
</P> 
<P style="font-family:Verdana"><B><A href="/search/" class="menu">Search web/mailinglist</A></B><BR> 
	<SMALL>
	</SMALL>
</P> 
<P style="font-family:Verdana"><B><A href="/documentation/" class="menu">Documentation</A></B><BR> 
	<SMALL>
		&nbsp;<A href="/documentation/manual" class="menu">McStas manual</A><BR>
		&nbsp;<A href="/documentation/faq" class="menu">FAQ</A><BR>
		&nbsp;<A href="/documentation/problems" class="menu">Known problems</A><BR>
		&nbsp;<A href="/documentation/publications" class="menu">Publications</A><BR>
		&nbsp;<A href="/documentation/compilers" class="menu">C Compilers</A><BR>
		&nbsp;<A href="/documentation/other" class="menu">Other</A><BR>
		&nbsp;<A href="/documentation/tools" class="menu">Tools</A><BR>
		&nbsp;<A href="/documentation/tutorial" class="menu">Tutorial</A><BR>
	</SMALL>
</P> 
<P style="font-family:Verdana"><B><A href="/workshop/" class="menu">Workshops/conferences</A></B><BR> 
	<SMALL>
	</SMALL>
</P> 
<P style="font-family:Verdana"><B><A href="/developments/" class="menu">Developments</A></B><BR> 
	<SMALL>
	</SMALL>
</P> 
<P style="font-family:Verdana"><B><A href="/links/" class="menu">Links</A></B><BR> 
	<SMALL>
	</SMALL>
</P> 
<P style="font-family:Verdana"><B><A href="/McZilla/" class="menu">Report bugs</A></B><BR> 
	<SMALL>
	</SMALL>
</P> 
<P style="font-family:Verdana"><B><A href="/git/" class="menu">Git</A></B><BR> 
	<SMALL>
	</SMALL>
</P> 
<P style="font-family:Verdana"><B><A href="/ubuntu/" class="menu"><font color="green">McStas Ubuntu live-dvd</font></A></B><BR> 
	<SMALL>
	</SMALL>
</P> 
 <BR>
  </TD> <!-- left (menu) -->

  <TD colspan="8" align="left" valign="top" bgcolor="#ffffff"> <!-- midleright (text) -->
  <div style="font-family:arial; border: solid 0 #555; border-width:2px; padding:2.5ex; background-color: #ffffff;";>




<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<HTML><HEAD>
<TITLE>McStas: Source_gen Component</TITLE>
<LINK REV="made" HREF="mailto:peter.willendrup@risoe.dk">
</HEAD>

<BODY>

<P ALIGN=CENTER>
 [ <A href="#id">Identification</A>
 | <A href="#desc">Description</A>
 | <A href="#ipar">Input parameters</A>
 | <A href="#opar">Output parameters</A>
 | <A href="#links">Links</A> ]
</P>

<H1>The <CODE>Source_gen</CODE> Component</H1>

Circular/squared neutron source with flat or Maxwellian energy/wavelength
spectrum


<H2><A NAME=id></A>Identification</H2>

<UL>
  <LI> <B>Author:</B> Emmanuel Farhi, Kim Lefmann</B>
  <LI> <B>Origin:</B> ILL/Risoe</B>
  <LI> <B>Date:</B> Aug 27, 2001</B>
  <LI> <B>Version:</B> $Revision$</B>
  <LI> <B>Modification history:</B> <UL>
    <LI>  EF, Aug 27, 2001 ; can use Energy/wavelength and I1
    <LI>  EF, Sep 18, 2001 ; corrected illumination bug. Add options
    <LI>  EF, Oct 30, 2001 ; minor changes. mccompcurname replaced
  </UL>
</UL>
<H2><A NAME=desc></A>Description</H2>

<PRE>
This routine is a neutron source (rectangular or circular), which aims at
a square target centered at the beam (in order to improve MC-acceptance
rate). The angular divergence is then given by the dimensions of the
target. However, it may be directly set using the 'focus-aw' and 'focus_ah'
parameters.

The neutron energy/wavelength is distributed uniformly in wavelength between
Emin=E0-dE and Emax=E0+dE or Lmin=lambda0-dlambda and Lmax=lambda0+dlambda. 
The I1 may be either arbitrary (I1=0), or specified in neutrons per steradian
per square cm per Angstrom per s. A Maxwellian spectra may be selected if you 
give the source temperatures (up to 3). 

Finally, a file with the flux as a
function of the wavelength [lambda(AA) flux(n/s/cm^2/st/AA)] may be used
with the 'flux_file' parameter. Format is 2 columns free text.

Additional distributions for the horizontal and vertical phase spaces
distributions (position-divergence) may be specified with the
'xdiv_file' and 'ydiv_file' parameters. Format is free text, requiring
a comment line '# xylimits: pos_min pos_max div_min div_max' to set
the axis of the distribution matrix. All these files may be generated using
standard monitors (better in McStas/PGPLOT format), e.g.:
  Monitor_nD(options="auto lambda per cm2")
  Monitor_nD(options="x hdiv, all auto")
  Monitor_nD(options="y vdiv, all auto")

The source shape is defined by its radius, or can alternatively be squared
if you specify non-zero yheight and xwidth parameters.
The beam is divergence uniform,.
The source may have a thickness, which will broaden the default zero time
distribution.

Usage example:
  Source_gen(radius=0.1,lambda0=2.36,dlambda=0.16,T1=20,I1=1e13,focus_xw=0.01,focus_yh=0.01)
  Source_gen(yheight=0.1,xwidth=0.1,Emin=1,Emax=3,I1=1e13,verbose=1,focus_xw=0.01,focus_yh=0.01)
  EXTEND
  %{
     t = rand0max(1e-3); // set time from 0 to 1 ms for TOF instruments.
  %}

<b>Some neutron facility parameters:</b>
PSI cold source     T1=296.2,I1=8.5E11, T2=40.68,I2=5.2E11
ILL VCS cold source T1=216.8,I1=1.24e+13,T2=33.9,I2=1.02e+13
       (H1, 58 MW)  T3=16.7 ,I3=3.0423e+12
ILL HCS cold source T1=413.5,I1=10.22e12,T2=145.8,I2=3.44e13
       (H5, 58 MW)  T3=40.1 ,I3=2.78e13
ILL Thermal tube    T1=683.7,I1=0.5874e+13,T2=257.7,I2=2.5099e+13
       (H12, 58 MW) T3=16.7 ,I3=1.0343e+12
ILL Hot source      T1=1695, I1=1.74e13,T2=708,  I2=3.9e12 (58MW)
HZB cold source     T1=43.7 ,I1=1.4e12, T2=137.2,I2=2.08e12,radius=.155 (10MW)
HZB bi-spectral     T1=43.7, I1=1.4e12, T2=137.2,I2=2.08e12,T3=293.0,I3=1.77e12
HZB thermal tube    T1=293.0,I1=2.64e12 (10MW)
FRM2 cold,20MW      T1=35.0, I1=9.38e12,T2=547.5,I2=2.23e12,T3=195.4,I3=1.26e13
FRM2 thermal,20MW   T1=285.6,I1=3.06e13,T2=300.0,I2=1.68e12,T3=429.9,I3=6.77e12
LLB cold,14MW       T1=220,  I1=2.09e12,T2=60,   I2=3.83e12,T3=20,   I3=1.04e12
TRIGA thermal 1MW   T1=300,  I1=3.5e11 (scale by thermal power in MW)

%VALIDATION
Feb 2005: output cross-checked for 3 Maxwellians against VITESS source
          I(lambda), I(hor_div), I(vert_div) identical in shape and absolute values
Validated by: K. Lieutenant

</PRE>

<H2><A NAME=ipar></A>Input parameters</H2>
Parameters in <B>boldface</B> are required;
the others are optional.
<TABLE BORDER=1>
<TR><TH>Name</TH>  <TH>Unit</TH>  <TH>Description</TH> <TH>Default</TH></TR>
<TR> <TD>flux_file</TD>
     <TD>str</TD>
     <TD>Name of a two columns [lambda flux] text file that contains
the wavelength distribution of the flux in <b>either</b> [1/(s*cm**2*st)] <b>or</b> [1/(s*cm**2*st*AA)] (see flux_file_perAA flag)
Comments (#) and further columns are ignored. Format is
compatible with McStas/PGPLOT wavelength monitor files.
When specified, temperature and intensity values are ignored.
</TD>
<TD ALIGN=RIGHT>"NULL"</TD> </TR>
<TR> <TD>xdiv_file</TD>
     <TD>str</TD>
     <TD>Name of the x-horiz. divergence distribution file, given as a
free format text matrix, preceeded with a line
'# xylimits: xmin xmax xdiv_min xdiv_max'
</TD>
<TD ALIGN=RIGHT>"NULL"</TD> </TR>
<TR> <TD>ydiv_file</TD>
     <TD>str</TD>
     <TD>Name of the y-vert. divergence distribution file, given as a
free format text matrix, preceeded with a line
'# xylimits: ymin ymax ydiv_min ydiv_max'
</TD>
<TD ALIGN=RIGHT>"NULL"</TD> </TR>
<TR> <TD>radius</TD>
     <TD>m</TD>
     <TD>Radius of circle in (x,y,0) plane where neutrons
are generated. You may also use 'yheight' and 'xwidth' for a square source
</TD>
<TD ALIGN=RIGHT>0.0</TD> </TR>
<TR> <TD>dist</TD>
     <TD>m</TD>
     <TD>Distance to target along z axis.
</TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>focus_xw</TD>
     <TD>m</TD>
     <TD>Width of target.
</TD>
<TD ALIGN=RIGHT>0.045</TD> </TR>
<TR> <TD>focus_yh</TD>
     <TD>m</TD>
     <TD>Height of target.
</TD>
<TD ALIGN=RIGHT>0.12</TD> </TR>
<TR> <TD>focus_aw</TD>
     <TD>deg</TD>
     <TD>maximal (uniform) horz. width divergence
</TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>focus_ah</TD>
     <TD>deg</TD>
     <TD>maximal (uniform) vert. height divergence
</TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>E0</TD>
     <TD>meV</TD>
     <TD>Mean energy of neutrons.
</TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>dE</TD>
     <TD>meV</TD>
     <TD>Energy spread of neutrons, half width.
</TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>lambda0</TD>
     <TD>AA</TD>
     <TD>Mean wavelength of neutrons.
</TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>dlambda</TD>
     <TD>AA</TD>
     <TD>Wavelength spread of neutrons,half width
</TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>I1</TD>
     <TD>1/(cm**2*sr)</TD>
     <TD>Source flux per solid angle, area and Angstrom
if I1=0, the source emits 1 in 4*PI whole space.
</TD>
<TD ALIGN=RIGHT>1</TD> </TR>
<TR> <TD>yheight</TD>
     <TD>m</TD>
     <TD>Source y-height, then does not use radius parameter
</TD>
<TD ALIGN=RIGHT>0.1</TD> </TR>
<TR> <TD>xwidth</TD>
     <TD>m</TD>
     <TD>Source x-width, then does not use radius parameter
</TD>
<TD ALIGN=RIGHT>0.1</TD> </TR>
<TR> <TD>verbose</TD>
     <TD>0/1</TD>
     <TD>display info about the source. -1 unactivate source.
</TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>T1</TD>
     <TD>K</TD>
     <TD>Temperature of the Maxwellian source, 0=none
</TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>flux_file_perAA</TD>
     <TD>1</TD>
     <TD>When true (1), indicates that flux file data is already per
Angstroem. If false, file data is per wavelength bin.
</TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>flux_file_log</TD>
     <TD>1</TD>
     <TD>When true, will transform the flux table in log scale to
improve the sampling. 
</TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>Lmin</TD>
     <TD>AA</TD>
     <TD>Minimum wavelength of neutrons
</TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>Lmax</TD>
     <TD>AA</TD>
     <TD>Maximum wavelength of neutrons
</TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>Emin</TD>
     <TD>meV</TD>
     <TD>Minimum energy of neutrons
</TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>Emax</TD>
     <TD>meV</TD>
     <TD>Maximum energy of neutrons
</TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>T2</TD>
     <TD>K</TD>
     <TD>Second Maxwellian source Temperature, 0=none
</TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>I2</TD>
     <TD>1/(cm**2*sr)</TD>
     <TD>Second Maxwellian Source flux
</TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>T3</TD>
     <TD>K</TD>
     <TD>Third Maxwellian source Temperature, 0=none
</TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>I3</TD>
     <TD>1/(cm**2*sr)</TD>
     <TD>Third Maxwellian Source flux
</TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>zdepth</TD>
     <TD>m</TD>
     <TD>Source z-zdepth, not anymore flat
</TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>target_index</TD>
     <TD>1</TD>
     <TD>relative index of component to focus at, e.g. next is +1
this is used to compute 'dist' automatically.
</TD>
<TD ALIGN=RIGHT>+1</TD> </TR>
</TABLE>


<H2><A NAME=opar></A>Output parameters</H2>
<TABLE BORDER=1>
<TR><TH>Name</TH>  <TH>Unit</TH>  <TH>Description</TH> <TH>Default</TH></TR>
<TR> <TD><B>p_in</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>lambda1</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>lambda2</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>lambda3</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>pTable</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>pTable_x</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>pTable_y</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>pTable_xmin</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>pTable_xmax</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>pTable_xsum</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>pTable_ymin</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>pTable_ymax</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>pTable_ysum</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>pTable_dxmin</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>pTable_dxmax</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>pTable_dymin</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>pTable_dymax</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
</TABLE>


<H2><A NAME=links></A>Links</H2>

<UL>
  <LI> <A HREF="Source_gen.comp">Source code</A> for <CODE>Source_gen.comp</CODE>.
  <LI> P. Ageron, Nucl. Inst. Meth. A 284 (1989) 197
</UL>
<HR>
<P ALIGN=CENTER>
 [ <A href="#id">Identification</A>
 | <A href="#desc">Description</A>
 | <A href="#ipar">Input parameters</A>
 | <A href="#opar">Output parameters</A>
 | <A href="#links">Links</A> ]
</P>

<ADDRESS>
Generated automatically by McDoc, Peter Willendrup
&lt;<A HREF="mailto:peter.willendrup@risoe.dk">peter.willendrup@risoe.dk</A>&gt; /
Thu Jun 16 08:51:07 2016</ADDRESS>
</BODY></HTML>

<P><DIV align=right><A href="/download/components/sources/Source_gen.pure.html">Printable version</A></DIV><HR> <CENTER><SMALL>Last Modified: Thursday, 16-Jun-2016 10:51:07 CEST</SMALL></CENTER>
</div></TD> <!-- midleright (text) -->
 </TR> <!-- main -->
<TR bgcolor = "#ffffff" align="left">
<TD colspan="8"><a href="/search"><img
 src="/spyglass.gif" alt="Search website" align="middle" height="40"
 border="0"></a>
<a href="http://freshmeat.net/projects/mcstas"><img
 src="/link_button_3.gif" align="middle"
 border="0" alt="freshmeat.net McStas site"></a>
<a href="http://rss.mcstas.org/RSS.xml" ><img src="/rssfeed.png" align="middle" border="0" alt="RSS feed"></a>
<a href="http://mailman.mcstas.org/pipermail/mcstas-users/"><img src="/Mailman.jpg" align="middle" border="0" alt="mailinglist archive"></a>
<a href="https://svn.mccode.org/svn/McCode"><img src="/subversion_logo.png" align="middle" height="40" border="0" alt="SVN repos"></A>
<a href="http://trac.mccode.org"><img src="/trac_logo.png"
 align="middle" height="50" border="0" alt="McCode Trac"></a>
<!-- Facebook Badge START --><a
 href="http://www.facebook.com/McStas"
 target="_TOP" title="McStas"><img align="middle" src="/mcstas-fblogo.png" width="50" height="40" style="border: 0px;" /></a><!-- Facebook Badge END --></TD></TR></TABLE >

</BODY>
</HTML>

