<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<HTML><HEAD>
<TITLE>McStas: Virtual_input Component</TITLE>
<LINK REV="made" HREF="mailto:peter.willendrup@risoe.dk">
</HEAD>

<BODY>

<P ALIGN=CENTER>
 [ <A href="#id">Identification</A>
 | <A href="#desc">Description</A>
 | <A href="#ipar">Input parameters</A>
 | <A href="#opar">Output parameters</A>
 | <A href="#links">Links</A> ]
</P>

<H1>The <CODE>Virtual_input</CODE> Component</H1>

Source-like component that generates neutron events from an ascii
'virtual source' filename.


<H2><A NAME=id></A>Identification</H2>

<UL>
  <LI> <B>Author:</B> <a href="mailto:farhi@ill.fr">E. Farhi</a></B>
  <LI> <B>Origin:</B> <a href="http://www.ill.fr">ILL</a></B>
  <LI> <B>Date:</B> Sep 28th, 2001</B>
  <LI> <B>Version:</B>  $Revision$</B>
  <LI> <B>Modification history:</B> <UL>
    <LI>  EF, Oct 2002. make use of shared read-table library.
  </UL>
</UL>
<H2><A NAME=desc></A>Description</H2>

<PRE>
  This component reads neutron events stored from a file, and sends them into
the instrument. It thus replaces a Source component, using a previously
computed neutron set. The 'source' file type is an ascii text file with the
format listed below. The number of neutron events for the
simulation is set to the length of the 'source' file times the
repetition parameter 'repeat_count' (1 by default).
  It is particularly useful to generate a virtual source at a point that few
neutron reach. A long simulation will then only be performed once, to create
the 'source' filename. Further simulations are much faster if they start from
this low flux position with the 'source' filename.

The output file format is:
text column formatted with lines containing 11 values in the order:
      p x y z vx vy vz t sx sy sz stored into about 83 bytes/n.

%BUGS
We recommend NOT to use parallel execution (MPI) with this component. If you
need to, set parameter 'smooth=1'.

EXAMPLE:
To create a 'source' file collecting all neutron states, use:
  COMPONENT MySourceCreator = Virtual_output(filename = "MySource.list")
at the position where will be the Virtual_input.
Then unactivate the part of the simulation description before (and including)
the component MySourceCreator. Put the new instrument source:
  COMPONENT Source = Virtual_input(filename="MySource.list")
at the same position as 'MySourceCreator'.
A Vitess filename may be obtained from the 'Vitess_output' component or from a
Vitess simulation (104 bytes per neutron) and read with Vitess_input.

</PRE>

<H2><A NAME=ipar></A>Input parameters</H2>
Parameters in <B>boldface</B> are required;
the others are optional.
<TABLE BORDER=1>
<TR><TH>Name</TH>  <TH>Unit</TH>  <TH>Description</TH> <TH>Default</TH></TR>
<TR> <TD>filename</TD>
     <TD>str</TD>
     <TD>Name of the neutron input file. Empty string "" unactivates component </TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>verbose</TD>
     <TD>0/1</TD>
     <TD>Display additional information about source, recommended </TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>repeat_count</TD>
     <TD>1</TD>
     <TD>Number of times the source must be generated/repeated </TD>
<TD ALIGN=RIGHT>1</TD> </TR>
<TR> <TD>smooth</TD>
     <TD>0/1</TD>
     <TD>Smooth sparsed event files for filename repetitions. Use this option with MPI.
This will apply gaussian distributions around initial events from the file </TD>
<TD ALIGN=RIGHT>1</TD> </TR>
<TR> <TD>display</TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>1</TD> </TR>
</TABLE>


<H2><A NAME=opar></A>Output parameters</H2>
<TABLE BORDER=1>
<TR><TH>Name</TH>  <TH>Unit</TH>  <TH>Description</TH> <TH>Default</TH></TR>
<TR> <TD><B>read_block</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>pos</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>nrows</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>Offset</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>rTable</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>repeat_number</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>filename_ncount</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>mean_vx</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>mean_vy</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>mean_vz</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>mean_dx</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>mean_dy</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>mean_dz</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>n_neutrons</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>min_x</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>min_y</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>min_z</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>max_x</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>max_y</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>max_z</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>min_vx</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>min_vy</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>min_vz</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>max_vx</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>max_vy</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>max_vz</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>first_block</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>mean_x</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>mean_y</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>mean_z</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>end_reading</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>n_count_extrapolated</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>repeat_cnt</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
</TABLE>


<H2><A NAME=links></A>Links</H2>

<UL>
  <LI> <A HREF="Virtual_input.comp">Source code</A> for <CODE>Virtual_input.comp</CODE>.
</UL>
<HR>
<P ALIGN=CENTER>
 [ <A href="#id">Identification</A>
 | <A href="#desc">Description</A>
 | <A href="#ipar">Input parameters</A>
 | <A href="#opar">Output parameters</A>
 | <A href="#links">Links</A> ]
</P>

<ADDRESS>
Generated automatically by McDoc, Peter Willendrup
&lt;<A HREF="mailto:peter.willendrup@risoe.dk">peter.willendrup@risoe.dk</A>&gt; /
Thu Jun 16 08:51:07 2016</ADDRESS>
</BODY></HTML>
