<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HEAD>
<META http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<LINK REL="alternate" TITLE="McStas news RSS" HREF="http://rss.mcstas.org/RSS.xml" TYPE="application/rss+xml">
<TITLE>McStas homepage</TITLE>
<STYLE>
<!--
a.menu {color: #000000}
-->
</STYLE>
<link rel="icon" href="/favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"> 
</HEAD>
<BODY text="#000000" bgcolor="#777777" link="#006699" vlink="#003366" alink="#FF0000">

<TABLE border="0" cellpadding="4" cellspacing="0" width="100%">
 <TR> <!-- top --> 
  <TD align="center" bgcolor="#ffffff" text="ffffff"> <!-- left (nrulogo) -->
   <A href="/"><IMG src="/logo-left.png" border="0" alt="McStas logo"></A>
  </TD> <!-- left (nrulogo) -->

  <TD align="center" bgcolor="#ffffff" width="10000"> <!-- midle (title) -->
    <A href="/"><img overlay src="/toplogo_animated.gif" border="0" alt="McStas - A neutron ray-trace simulation package"></A>
  </TD> <!-- midle (nrutitle) -->
  <TD align="right" bgcolor="#ffffff"><!-- right (rhhslogo) -->
    <A href="http://www.ill.fr"><IMG src="/ill-logo.png" border="0" alt="ILL;"></A>
    </TD>
  <TD align="right" bgcolor="#ffffff"><!-- right (rhhslogo) -->
    <A href="http://www.psi.ch"><IMG src="/psi-logo.png" border="0" alt="PSI;"></A> 
    </TD>
  <td align="right" bgcolor="white">
  <A href="http://www.europeanspallationsource.se/"><IMG
    src="/ESS_Logo_Frugal_Blue_cmyk.png" border="0" alt="ESS"></A></td>
  <TD align="right" bgcolor="#ffffff"><!-- right (rhhslogo) -->
  <A href="http://www.nbi.dk"><IMG src="/ku_nat.gif" border="0" alt="Niels Bohr Institute"></A></td><td align="right" bgcolor="white">
  <A href="http://www.fys.dtu.dk/"><IMG src="/DTU_logo.gif" border="0" alt="DTU Physics"></A></td><td align="right" bgcolor="white">
  <A href="http://nexmap.fysik.dtu.dk/"><IMG src="/NEXMAP_logo.png" border="0" alt="NEXMAP"></A>
  </TD> <!-- right (rhhslogo) -->
 </TR> <!-- top -->

 <TR> <!-- main -->
  <TD align="left" valign="top" bgcolor="#ffffff"> <!-- left (menu) -->
   <BR> <P style="font-family:Verdana"><B><A href="/" class="menu">McStas</A></B><BR> 
	<SMALL>
<P style="font-family:Verdana"><B><A href="/about/" class="menu">About McStas</A></B><BR> 
	<SMALL>
		&nbsp;<A href="/about/conditions" class="menu">Conditions of use</A><BR>
		&nbsp;<A href="/about/contacts" class="menu">Authors/Contacts</A><BR>
		&nbsp;<A href="/about/funding" class="menu">Project funding</A><BR>
		&nbsp;<A href="/about/screenshots" class="menu">Screenshots</A><BR>
	</SMALL>
</P> 
<P style="font-family:Verdana"><B><A href="/download/" class="menu"><font color="green">Download</font></A></B><BR> 
	<SMALL>
		&nbsp;<A href="/download/components" class="menu">Components</A><BR>
		&nbsp;<A href="/download/install_linux" class="menu"><font color="green">Linux Install (deb/rpm)</font></A><BR>
		&nbsp;<A href="/download/install_mac_os_x" class="menu"><font color="green">Mac OS X Install</font></A><BR>
		&nbsp;<A href="/download/install_unix" class="menu"><font color="green">Unix Install (src code)</font></A><BR>
		&nbsp;<A href="/download/install_windows" class="menu"><font color="green">Windows Install</font></A><BR>
		&nbsp;<A href="/download/share" class="menu"><font color="blue">Other Downloads (share)</font></A><BR>
	</SMALL>
</P> 
<P style="font-family:Verdana"><B><A href="/list/" class="menu">Mailing list</A></B><BR> 
	<SMALL>
	</SMALL>
</P> 
<P style="font-family:Verdana"><B><A href="/search/" class="menu">Search web/mailinglist</A></B><BR> 
	<SMALL>
	</SMALL>
</P> 
<P style="font-family:Verdana"><B><A href="/documentation/" class="menu">Documentation</A></B><BR> 
	<SMALL>
		&nbsp;<A href="/documentation/manual" class="menu">McStas manual</A><BR>
		&nbsp;<A href="/documentation/faq" class="menu">FAQ</A><BR>
		&nbsp;<A href="/documentation/problems" class="menu">Known problems</A><BR>
		&nbsp;<A href="/documentation/publications" class="menu">Publications</A><BR>
		&nbsp;<A href="/documentation/compilers" class="menu">C Compilers</A><BR>
		&nbsp;<A href="/documentation/other" class="menu">Other</A><BR>
		&nbsp;<A href="/documentation/tools" class="menu">Tools</A><BR>
		&nbsp;<A href="/documentation/tutorial" class="menu">Tutorial</A><BR>
	</SMALL>
</P> 
<P style="font-family:Verdana"><B><A href="/workshop/" class="menu">Workshops/conferences</A></B><BR> 
	<SMALL>
	</SMALL>
</P> 
<P style="font-family:Verdana"><B><A href="/developments/" class="menu">Developments</A></B><BR> 
	<SMALL>
	</SMALL>
</P> 
<P style="font-family:Verdana"><B><A href="/links/" class="menu">Links</A></B><BR> 
	<SMALL>
	</SMALL>
</P> 
<P style="font-family:Verdana"><B><A href="/McZilla/" class="menu">Report bugs</A></B><BR> 
	<SMALL>
	</SMALL>
</P> 
<P style="font-family:Verdana"><B><A href="/git/" class="menu">Git</A></B><BR> 
	<SMALL>
	</SMALL>
</P> 
<P style="font-family:Verdana"><B><A href="/ubuntu/" class="menu"><font color="green">McStas Ubuntu live-dvd</font></A></B><BR> 
	<SMALL>
	</SMALL>
</P> 
 <BR>
  </TD> <!-- left (menu) -->

  <TD colspan="8" align="left" valign="top" bgcolor="#ffffff"> <!-- midleright (text) -->
  <div style="font-family:arial; border: solid 0 #555; border-width:2px; padding:2.5ex; background-color: #ffffff;";>




<html><head><title>Data files</title></head><body><pre>
/*******************************************************************************
*
* McStas, neutron ray-tracing package
*         Copyright 1997-2002, All rights reserved
*         Risoe National Laboratory, Roskilde, Denmark
*         Institut Laue Langevin, Grenoble, France
*
* Library: lib/data directory
*
* %Identification
* Written by: KN, KL, PEO, EF, PW
* Date: 2002
* Origin: Risoe, ILL, ANSTO
* Release: McStas 1.6
* Version: $Revision$
* Modified by: EF, Dec 19th, 1998 : initial release 1.0
*
* This file is part of McStas  version 1.6, released <today Aug 28th, 2002>.
* It provides some data files that may be used with McStas components.
*
* The prefered format is text, with header identified with the '#' character.
* Here are recommended extensions:
*
* lau : Laue pattern file, as issued from Crystallographica.
*       For use with Single_crystal, PowderN, and Isotropic_Sqw.
*       Data: [ h   k   l Mult. d-space 2Theta   F-squared ]
*       Identifier in header: "Format parameters: Crystallographica"
* laz : Powder pattern file, as obtained from Lazy/ICSD.
*       For use with PowderN, Isotropic_Sqw and possibly Single_crystal.
*       Identifier in header: "Format parameters: Lazy"
* trm : transmission file, typically for monochromator crystals and filters.
*       Data: [ k (Angs-1) , Transmission (0-1) ]
*       Identifier in header: "Format: McStas Reflectivity file"
* rfl : reflectivity file, typically for mirrors and monochromator crystals.
*       Data: [ k (Angs-1) , Reflectivity (0-1) ]
*       Identifier in header: "Format: McStas Transmission file"
* sqw : S(q,omega) files for Isotropic_Sqw component.
*       Data: [q] [omega] [S(q,omega)]
*       Identifier in header: "Sqw data file for Isotropic_Sqw"
*
*******************************************************************************/
</pre>
<p><b>If you are missing any Laz or Lau file, please consult the <a href="http://barns.ill.fr/cif2hkl.html">ILL cif2hkl sercvice</a></b><br><br><hr>
<a href="a1Gw2-11-f5_fit_fit.dat">a1Gw2-11-f5_fit_fit.dat</a><br>
<a href="a1Gw2-14-f5_fit_fit.dat">a1Gw2-14-f5_fit_fit.dat</a><br>
<a href="a1Gw2-17-f5_fit_fit.dat">a1Gw2-17-f5_fit_fit.dat</a><br>
<a href="a1Gw2-2-f5_fit_fit.dat">a1Gw2-2-f5_fit_fit.dat</a><br>
<a href="a1Gw2-5-f5_fit_fit.dat">a1Gw2-5-f5_fit_fit.dat</a><br>
<a href="a1Gw2-8-f5_fit_fit.dat">a1Gw2-8-f5_fit_fit.dat</a><br>
<a href="adrenaline.lau">adrenaline.lau</a><br>
<a href="Ag.laz">Ag.laz</a><br>
<a href="Al2O3_sapphire.lau">Al2O3_sapphire.lau</a><br>
<a href="Al2O3_sapphire.laz">Al2O3_sapphire.laz</a><br>
<a href="Al2O3_sapphire.trm">Al2O3_sapphire.trm</a><br>
<a href="Al.lau">Al.lau</a><br>
<a href="Al.laz">Al.laz</a><br>
<a href="Al.nxs">Al.nxs</a><br>
<a href="aspirin.lau">aspirin.lau</a><br>
<a href="Au.laz">Au.laz</a><br>
<a href="b2_l220_tp80_cw1.18mm.dat">b2_l220_tp80_cw1.18mm.dat</a><br>
<a href="B4C.lau">B4C.lau</a><br>
<a href="B4C.laz">B4C.laz</a><br>
<a href="Ba.laz">Ba.laz</a><br>
<a href="Be.laz">Be.laz</a><br>
<a href="bender_r_ideal.dat">bender_r_ideal.dat</a><br>
<a href="Be.nxs">Be.nxs</a><br>
<a href="BeO.lau">BeO.lau</a><br>
<a href="BeO.laz">BeO.laz</a><br>
<a href="Be.trm">Be.trm</a><br>
<a href="Bi.laz">Bi.laz</a><br>
<a href="C60.lau">C60.lau</a><br>
<a href="CaF2.lau">CaF2.lau</a><br>
<a href="C_diamond.lau">C_diamond.lau</a><br>
<a href="C_diamond.laz">C_diamond.laz</a><br>
<a href="Cd.laz">Cd.laz</a><br>
<a href="Cementite.nxs">Cementite.nxs</a><br>
<a href="C_graphite.lau">C_graphite.lau</a><br>
<a href="C_graphite.laz">C_graphite.laz</a><br>
<a href="Cr.laz">Cr.laz</a><br>
<a href="Cs.laz">Cs.laz</a><br>
<a href="Cs_liq_tot.sqw">Cs_liq_tot.sqw</a><br>
<a href="cube.off">cube.off</a><br>
<a href="Cu.laz">Cu.laz</a><br>
<a href="Cu.nxs">Cu.nxs</a><br>
<a href="D2_liq_21_tot.sqw">D2_liq_21_tot.sqw</a><br>
<a href="D2O_liq_290_coh.sqw">D2O_liq_290_coh.sqw</a><br>
<a href="D2O_liq_290_inc.sqw">D2O_liq_290_inc.sqw</a><br>
<a href="D2O_liq_300_tot.sqw">D2O_liq_300_tot.sqw</a><br>
<a href="D2O_liq.qSq">D2O_liq.qSq</a><br>
<a href="D2_pow_12_tot.sqw">D2_pow_12_tot.sqw</a><br>
<a href="Diamond.nxs">Diamond.nxs</a><br>
<a href="Fe_Gamma.laz">Fe_Gamma.laz</a><br>
<a href="Fe_gamma.nxs">Fe_gamma.nxs</a><br>
<a href="Fe.laz">Fe.laz</a><br>
<a href="Fe.nxs">Fe.nxs</a><br>
<a href="flipfield.dat">flipfield.dat</a><br>
<a href="Ga.laz">Ga.laz</a><br>
<a href="Gd.laz">Gd.laz</a><br>
<a href="Ge.lau">Ge.lau</a><br>
<a href="Ge.laz">Ge.laz</a><br>
<a href="Ge_liq_coh.sqw">Ge_liq_coh.sqw</a><br>
<a href="Ge_liq_inc.sqw">Ge_liq_inc.sqw</a><br>
<a href="H2OD2O_liq.qSq">H2OD2O_liq.qSq</a><br>
<a href="H2O_ice_1h.laz">H2O_ice_1h.laz</a><br>
<a href="H2O_liq_290_coh.sqw">H2O_liq_290_coh.sqw</a><br>
<a href="H2O_liq_290_inc.sqw">H2O_liq_290_inc.sqw</a><br>
<a href="H2O_liq_300_tot.sqw">H2O_liq_300_tot.sqw</a><br>
<a href="H2O_liq.qSq">H2O_liq.qSq</a><br>
<a href="He4_hcp.laz">He4_hcp.laz</a><br>
<a href="He4_liq_1_coh.sqw">He4_liq_1_coh.sqw</a><br>
<a href="He4_liq_coh.sqw">He4_liq_coh.sqw</a><br>
<a href="Hg.laz">Hg.laz</a><br>
<a href="HOPG.rfl">HOPG.rfl</a><br>
<a href="HOPG.trm">HOPG.trm</a><br>
<a href="I2.laz">I2.laz</a><br>
<a href="index.html">index.html</a><br>
<a href="In.lau">In.lau</a><br>
<a href="Instructions_new_lau_file.pdf">Instructions_new_lau_file.pdf</a><br>
<a href="K.laz">K.laz</a><br>
<a href="leucine.lau">leucine.lau</a><br>
<a href="LiF.laz">LiF.laz</a><br>
<a href="Li.laz">Li.laz</a><br>
<a href="Martensite.nxs">Martensite.nxs</a><br>
<a href="Mg.nxs">Mg.nxs</a><br>
<a href="Mo.laz">Mo.laz</a><br>
<a href="Na2Ca3Al2F14.laz">Na2Ca3Al2F14.laz</a><br>
<a href="NaCl.nxs">NaCl.nxs</a><br>
<a href="Na.nxs">Na.nxs</a><br>
<a href="Nb.laz">Nb.laz</a><br>
<a href="Ne_liq_tot.sqw">Ne_liq_tot.sqw</a><br>
<a href="Ni.laz">Ni.laz</a><br>
<a href="Pb.laz">Pb.laz</a><br>
<a href="Pd.laz">Pd.laz</a><br>
<a href="PPase_D_P1.lau">PPase_D_P1.lau</a><br>
<a href="Pt.laz">Pt.laz</a><br>
<a href="Rb.laz">Rb.laz</a><br>
<a href="Rb_liq_coh.sqw">Rb_liq_coh.sqw</a><br>
<a href="Rb_liq_inc.sqw">Rb_liq_inc.sqw</a><br>
<a href="Rb_liq_tot.sqw">Rb_liq_tot.sqw</a><br>
<a href="Reflectometer_directbeam.txt">Reflectometer_directbeam.txt</a><br>
<a href="Reflectometer_reffile.txt">Reflectometer_reffile.txt</a><br>
<a href="rot4m_sp_fit_fit.dat">rot4m_sp_fit_fit.dat</a><br>
<a href="Rubredoxin.lau">Rubredoxin.lau</a><br>
<a href="Se_alpha.laz">Se_alpha.laz</a><br>
<a href="Se_beta.laz">Se_beta.laz</a><br>
<a href="Si.laz">Si.laz</a><br>
<a href="SiO2_cristobalite.lau">SiO2_cristobalite.lau</a><br>
<a href="SiO2_hex.nxs">SiO2_hex.nxs</a><br>
<a href="SiO2_liq.qSq">SiO2_liq.qSq</a><br>
<a href="SiO2_quartza.lau">SiO2_quartza.lau</a><br>
<a href="SiO2_quartza.laz">SiO2_quartza.laz</a><br>
<a href="SiO2_quartzb.lau">SiO2_quartzb.lau</a><br>
<a href="SiO2_quartzb.laz">SiO2_quartzb.laz</a><br>
<a href="Sn_alpha.laz">Sn_alpha.laz</a><br>
<a href="Sn_beta.laz">Sn_beta.laz</a><br>
<a href="socket.off">socket.off</a><br>
<a href="source_sct091_tu_02_1.dat">source_sct091_tu_02_1.dat</a><br>
<a href="source_sct091_tu_11_1.dat">source_sct091_tu_11_1.dat</a><br>
<a href="source_sct21a_td_05_1.dat">source_sct21a_td_05_1.dat</a><br>
<a href="source_sct41a_bd_14_1.dat">source_sct41a_bd_14_1.dat</a><br>
<a href="source_sct521_bu_08_1.dat">source_sct521_bu_08_1.dat</a><br>
<a href="source_sct521_bu_17_1.dat">source_sct521_bu_17_1.dat</a><br>
<a href="supermirror_m2.rfl">supermirror_m2.rfl</a><br>
<a href="supermirror_m3.rfl">supermirror_m3.rfl</a><br>
<a href="Ti.laz">Ti.laz</a><br>
<a href="TiO2_rutile.lau">TiO2_rutile.lau</a><br>
<a href="Tl.laz">Tl.laz</a><br>
<a href="UO2.laz">UO2.laz</a><br>
<a href="ver5tf2mm_sp_fit_fit.dat">ver5tf2mm_sp_fit_fit.dat</a><br>
<a href="V.laz">V.laz</a><br>
<a href="V.nxs">V.nxs</a><br>
<a href="Y2O3.laz">Y2O3.laz</a><br>
<a href="Y3Fe5O12_YIG.laz">Y3Fe5O12_YIG.laz</a><br>
<a href="YBaCuO.lau">YBaCuO.lau</a><br>
<a href="Zn.laz">Zn.laz</a><br>
<a href="Zn.nxs">Zn.nxs</a><br>
<a href="Zr.laz">Zr.laz</a><br>
</body></html>

<P><DIV align=right><A href="/download/components/data/index.pure.html">Printable version</A></DIV><HR> <CENTER><SMALL>Last Modified: Thursday, 16-Jun-2016 10:51:18 CEST</SMALL></CENTER>
</div></TD> <!-- midleright (text) -->
 </TR> <!-- main -->
<TR bgcolor = "#ffffff" align="left">
<TD colspan="8"><a href="/search"><img
 src="/spyglass.gif" alt="Search website" align="middle" height="40"
 border="0"></a>
<a href="http://freshmeat.net/projects/mcstas"><img
 src="/link_button_3.gif" align="middle"
 border="0" alt="freshmeat.net McStas site"></a>
<a href="http://rss.mcstas.org/RSS.xml" ><img src="/rssfeed.png" align="middle" border="0" alt="RSS feed"></a>
<a href="http://mailman.mcstas.org/pipermail/mcstas-users/"><img src="/Mailman.jpg" align="middle" border="0" alt="mailinglist archive"></a>
<a href="https://svn.mccode.org/svn/McCode"><img src="/subversion_logo.png" align="middle" height="40" border="0" alt="SVN repos"></A>
<a href="http://trac.mccode.org"><img src="/trac_logo.png"
 align="middle" height="50" border="0" alt="McCode Trac"></a>
<!-- Facebook Badge START --><a
 href="http://www.facebook.com/McStas"
 target="_TOP" title="McStas"><img align="middle" src="/mcstas-fblogo.png" width="50" height="40" style="border: 0px;" /></a><!-- Facebook Badge END --></TD></TR></TABLE >

</BODY>
</HTML>

