<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<HTML><HEAD>
<TITLE>McStas: Absorber Component</TITLE>
<LINK REV="made" HREF="mailto:peter.willendrup@risoe.dk">
</HEAD>

<BODY>

<P ALIGN=CENTER>
 [ <A href="#id">Identification</A>
 | <A href="#desc">Description</A>
 | <A href="#ipar">Input parameters</A>
 | <A href="#opar">Output parameters</A>
 | <A href="#links">Links</A> ]
</P>

<H1>The <CODE>Absorber</CODE> Component</H1>

Box-shaped absorbing slab.


<H2><A NAME=id></A>Identification</H2>

<UL>
  <LI> <B>Author:</B> Peter Willendrup</B>
  <LI> <B>Origin:</B> Risoe</B>
  <LI> <B>Date:</B> November 2008</B>
  <LI> <B>Version:</B> $Revision$</B>
</UL>
<H2><A NAME=desc></A>Description</H2>

<PRE>
Infinitely absorbing slab of material.

Example: Absorber(xmin=-0.01, xmax=0.01, ymin=-0.05, ymax=0.05, zmin=-0.2, zmax=0)

</PRE>

<H2><A NAME=ipar></A>Input parameters</H2>
Parameters in <B>boldface</B> are required;
the others are optional.
<TABLE BORDER=1>
<TR><TH>Name</TH>  <TH>Unit</TH>  <TH>Description</TH> <TH>Default</TH></TR>
<TR> <TD>xmin</TD>
     <TD>m</TD>
     <TD>Lower x bound </TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>xmax</TD>
     <TD>m</TD>
     <TD>Upper x bound </TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>ymin</TD>
     <TD>m</TD>
     <TD>Lower y bound </TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>ymax</TD>
     <TD>m</TD>
     <TD>Upper y bound </TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>zmin</TD>
     <TD>m</TD>
     <TD>Lower z bound </TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>zmax</TD>
     <TD>m</TD>
     <TD>Upper z bound </TD>
<TD ALIGN=RIGHT>0</TD> </TR>
</TABLE>


<H2><A NAME=links></A>Links</H2>

<UL>
  <LI> <A HREF="Absorber.comp">Source code</A> for <CODE>Absorber.comp</CODE>.
</UL>
<HR>
<P ALIGN=CENTER>
 [ <A href="#id">Identification</A>
 | <A href="#desc">Description</A>
 | <A href="#ipar">Input parameters</A>
 | <A href="#opar">Output parameters</A>
 | <A href="#links">Links</A> ]
</P>

<ADDRESS>
Generated automatically by McDoc, Peter Willendrup
&lt;<A HREF="mailto:peter.willendrup@risoe.dk">peter.willendrup@risoe.dk</A>&gt; /
Thu Jun 16 08:51:07 2016</ADDRESS>
</BODY></HTML>
