<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HEAD>
<META http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<LINK REL="alternate" TITLE="McStas news RSS" HREF="http://rss.mcstas.org/RSS.xml" TYPE="application/rss+xml">
<TITLE>McStas homepage</TITLE>
<STYLE>
<!--
a.menu {color: #000000}
-->
</STYLE>
<link rel="icon" href="/favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"> 
</HEAD>
<BODY text="#000000" bgcolor="#777777" link="#006699" vlink="#003366" alink="#FF0000">

<TABLE border="0" cellpadding="4" cellspacing="0" width="100%">
 <TR> <!-- top --> 
  <TD align="center" bgcolor="#ffffff" text="ffffff"> <!-- left (nrulogo) -->
   <A href="/"><IMG src="/logo-left.png" border="0" alt="McStas logo"></A>
  </TD> <!-- left (nrulogo) -->

  <TD align="center" bgcolor="#ffffff" width="10000"> <!-- midle (title) -->
    <A href="/"><img overlay src="/toplogo_animated.gif" border="0" alt="McStas - A neutron ray-trace simulation package"></A>
  </TD> <!-- midle (nrutitle) -->
  <TD align="right" bgcolor="#ffffff"><!-- right (rhhslogo) -->
    <A href="http://www.ill.fr"><IMG src="/ill-logo.png" border="0" alt="ILL;"></A>
    </TD>
  <TD align="right" bgcolor="#ffffff"><!-- right (rhhslogo) -->
    <A href="http://www.psi.ch"><IMG src="/psi-logo.png" border="0" alt="PSI;"></A> 
    </TD>
  <td align="right" bgcolor="white">
  <A href="http://www.europeanspallationsource.se/"><IMG
    src="/ESS_Logo_Frugal_Blue_cmyk.png" border="0" alt="ESS"></A></td>
  <TD align="right" bgcolor="#ffffff"><!-- right (rhhslogo) -->
  <A href="http://www.nbi.dk"><IMG src="/ku_nat.gif" border="0" alt="Niels Bohr Institute"></A></td><td align="right" bgcolor="white">
  <A href="http://www.fys.dtu.dk/"><IMG src="/DTU_logo.gif" border="0" alt="DTU Physics"></A></td><td align="right" bgcolor="white">
  <A href="http://nexmap.fysik.dtu.dk/"><IMG src="/NEXMAP_logo.png" border="0" alt="NEXMAP"></A>
  </TD> <!-- right (rhhslogo) -->
 </TR> <!-- top -->

 <TR> <!-- main -->
  <TD align="left" valign="top" bgcolor="#ffffff"> <!-- left (menu) -->
   <BR> <P style="font-family:Verdana"><B><A href="/" class="menu">McStas</A></B><BR> 
	<SMALL>
<P style="font-family:Verdana"><B><A href="/about/" class="menu">About McStas</A></B><BR> 
	<SMALL>
		&nbsp;<A href="/about/conditions" class="menu">Conditions of use</A><BR>
		&nbsp;<A href="/about/contacts" class="menu">Authors/Contacts</A><BR>
		&nbsp;<A href="/about/funding" class="menu">Project funding</A><BR>
		&nbsp;<A href="/about/screenshots" class="menu">Screenshots</A><BR>
	</SMALL>
</P> 
<P style="font-family:Verdana"><B><A href="/download/" class="menu"><font color="green">Download</font></A></B><BR> 
	<SMALL>
		&nbsp;<A href="/download/components" class="menu">Components</A><BR>
		&nbsp;<A href="/download/install_linux" class="menu"><font color="green">Linux Install (deb/rpm)</font></A><BR>
		&nbsp;<A href="/download/install_mac_os_x" class="menu"><font color="green">Mac OS X Install</font></A><BR>
		&nbsp;<A href="/download/install_unix" class="menu"><font color="green">Unix Install (src code)</font></A><BR>
		&nbsp;<A href="/download/install_windows" class="menu"><font color="green">Windows Install</font></A><BR>
		&nbsp;<A href="/download/share" class="menu"><font color="blue">Other Downloads (share)</font></A><BR>
	</SMALL>
</P> 
<P style="font-family:Verdana"><B><A href="/list/" class="menu">Mailing list</A></B><BR> 
	<SMALL>
	</SMALL>
</P> 
<P style="font-family:Verdana"><B><A href="/search/" class="menu">Search web/mailinglist</A></B><BR> 
	<SMALL>
	</SMALL>
</P> 
<P style="font-family:Verdana"><B><A href="/documentation/" class="menu">Documentation</A></B><BR> 
	<SMALL>
		&nbsp;<A href="/documentation/manual" class="menu">McStas manual</A><BR>
		&nbsp;<A href="/documentation/faq" class="menu">FAQ</A><BR>
		&nbsp;<A href="/documentation/problems" class="menu">Known problems</A><BR>
		&nbsp;<A href="/documentation/publications" class="menu">Publications</A><BR>
		&nbsp;<A href="/documentation/compilers" class="menu">C Compilers</A><BR>
		&nbsp;<A href="/documentation/other" class="menu">Other</A><BR>
		&nbsp;<A href="/documentation/tools" class="menu">Tools</A><BR>
		&nbsp;<A href="/documentation/tutorial" class="menu">Tutorial</A><BR>
	</SMALL>
</P> 
<P style="font-family:Verdana"><B><A href="/workshop/" class="menu">Workshops/conferences</A></B><BR> 
	<SMALL>
	</SMALL>
</P> 
<P style="font-family:Verdana"><B><A href="/developments/" class="menu">Developments</A></B><BR> 
	<SMALL>
	</SMALL>
</P> 
<P style="font-family:Verdana"><B><A href="/links/" class="menu">Links</A></B><BR> 
	<SMALL>
	</SMALL>
</P> 
<P style="font-family:Verdana"><B><A href="/McZilla/" class="menu">Report bugs</A></B><BR> 
	<SMALL>
	</SMALL>
</P> 
<P style="font-family:Verdana"><B><A href="/git/" class="menu">Git</A></B><BR> 
	<SMALL>
	</SMALL>
</P> 
<P style="font-family:Verdana"><B><A href="/ubuntu/" class="menu"><font color="green">McStas Ubuntu live-dvd</font></A></B><BR> 
	<SMALL>
	</SMALL>
</P> 
 <BR>
  </TD> <!-- left (menu) -->

  <TD colspan="8" align="left" valign="top" bgcolor="#ffffff"> <!-- midleright (text) -->
  <div style="font-family:arial; border: solid 0 #555; border-width:2px; padding:2.5ex; background-color: #ffffff;";>




<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<HTML><HEAD>
<TITLE>McStas: Collimator_radial Component</TITLE>
<LINK REV="made" HREF="mailto:peter.willendrup@risoe.dk">
</HEAD>

<BODY>

<P ALIGN=CENTER>
 [ <A href="#id">Identification</A>
 | <A href="#desc">Description</A>
 | <A href="#ipar">Input parameters</A>
 | <A href="#opar">Output parameters</A>
 | <A href="#links">Links</A> ]
</P>

<H1>The <CODE>Collimator_radial</CODE> Component</H1>

A radial Soller collimator.


<H2><A NAME=id></A>Identification</H2>

<UL>
  <LI> <B>Author:</B> Emmanuel Farhi <farhi@ill.fr></B>
  <LI> <B>Origin:</B> ILL</B>
  <LI> <B>Date:</B> July 2005</B>
  <LI> <B>Version:</B> $Revision$</B>
</UL>
<H2><A NAME=desc></A>Description</H2>

<PRE>
Radial Soller collimator with rectangular opening and specified length.
The collimator is made of many rectangular channels stacked radially.
Each channel is a set of transmitting layers (nslit), separated by an absorbing
material (infinitely thin), the whole stuff is inside an absorbing housing.

When specifying the number of channels (nchan), each channel has a total
entrance width=radius*fabs(theta_max-theta_min)/nchan, but only the central
portion 'xwidth' accepts neutrons. When xwidth=0, it is set to the full
apperture so that all neutrons enter the channels (all walls are infinitely thin).
  
When using zero as the number of channels (nchan), the collimator is continuous, 
whithout shadowing effect.

The component should be positioned at the radius center.
The component can be made oscillating (usual on diffractometers and TOF
machines) with the 'roc' parameter.
The neutron beam outside the collimator angular area is transmitted unaffected.

Example: Channelled radial collimator with shadow parts
       Collimator_radial(xwidth=0.015, yheight=.3, length=.35,
                  divergence=40,transmission=1,
                  theta_min=5, theta_max=165, nchan=128, radius=0.9)
  A continuous radial collimator
       Collimator_radial(yheight=.3, length=.35,
                  divergence=40,transmission=1,
                  theta_min=5, theta_max=165, radius=0.9)

</PRE>

<H2><A NAME=ipar></A>Input parameters</H2>
Parameters in <B>boldface</B> are required;
the others are optional.
<TABLE BORDER=1>
<TR><TH>Name</TH>  <TH>Unit</TH>  <TH>Description</TH> <TH>Default</TH></TR>
<TR> <TD>xwidth</TD>
     <TD>m</TD>
     <TD>Soller  window width, filled with nslit slits. 
Use 0 value for continuous collimator.
</TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>yheight</TD>
     <TD>m</TD>
     <TD>Collimator height.
</TD>
<TD ALIGN=RIGHT>.3</TD> </TR>
<TR> <TD>length</TD>
     <TD>m</TD>
     <TD>Length/Distance between inner and outer slits.
</TD>
<TD ALIGN=RIGHT>.35</TD> </TR>
<TR> <TD>divergence</TD>
     <TD>min of arc</TD>
     <TD>Divergence angle. May also be specified with the
nslit parameter. A zero value unactivates component.
</TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>transmission</TD>
     <TD>1</TD>
     <TD>Maximum transmission of Soller (0<=t<=1).
</TD>
<TD ALIGN=RIGHT>1</TD> </TR>
<TR> <TD>theta_min</TD>
     <TD>deg</TD>
     <TD>Minimum Theta angle for the radial setting.
</TD>
<TD ALIGN=RIGHT>5</TD> </TR>
<TR> <TD>theta_max</TD>
     <TD>deg</TD>
     <TD>Maximum Theta angle for the radial setting.
</TD>
<TD ALIGN=RIGHT>165</TD> </TR>
<TR> <TD>nchan</TD>
     <TD>1</TD>
     <TD>Number of Soller channels in the theta range.
Use 0 value for continuous collimator.
</TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>radius</TD>
     <TD>m</TD>
     <TD>Radius of the collimator (to entry window).
</TD>
<TD ALIGN=RIGHT>1.3</TD> </TR>
<TR> <TD>nslit</TD>
     <TD>1</TD>
     <TD>Number of blades composing each Soller. Overrides
the divergence parameter.
</TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>roc</TD>
     <TD>deg</TD>
     <TD>Amplitude of oscillation of collimator. 0=fixed.
</TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>verbose</TD>
     <TD>0/1</TD>
     <TD>Gives additional information.
</TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>approx</TD>
     <TD>0/1</TD>
     <TD>Use Soller triangular transmission approximation.
</TD>
<TD ALIGN=RIGHT>0</TD> </TR>
</TABLE>


<H2><A NAME=opar></A>Output parameters</H2>
<TABLE BORDER=1>
<TR><TH>Name</TH>  <TH>Unit</TH>  <TH>Description</TH> <TH>Default</TH></TR>
<TR> <TD><B>width_of_slit</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>width_of_Soller</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>slit_theta</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
</TABLE>


<H2><A NAME=links></A>Links</H2>

<UL>
  <LI> <A HREF="Collimator_radial.comp">Source code</A> for <CODE>Collimator_radial.comp</CODE>.
</UL>
<HR>
<P ALIGN=CENTER>
 [ <A href="#id">Identification</A>
 | <A href="#desc">Description</A>
 | <A href="#ipar">Input parameters</A>
 | <A href="#opar">Output parameters</A>
 | <A href="#links">Links</A> ]
</P>

<ADDRESS>
Generated automatically by McDoc, Peter Willendrup
&lt;<A HREF="mailto:peter.willendrup@risoe.dk">peter.willendrup@risoe.dk</A>&gt; /
Thu Jun 16 08:51:07 2016</ADDRESS>
</BODY></HTML>

<P><DIV align=right><A href="/download/components/optics/Collimator_radial.pure.html">Printable version</A></DIV><HR> <CENTER><SMALL>Last Modified: Thursday, 16-Jun-2016 10:51:07 CEST</SMALL></CENTER>
</div></TD> <!-- midleright (text) -->
 </TR> <!-- main -->
<TR bgcolor = "#ffffff" align="left">
<TD colspan="8"><a href="/search"><img
 src="/spyglass.gif" alt="Search website" align="middle" height="40"
 border="0"></a>
<a href="http://freshmeat.net/projects/mcstas"><img
 src="/link_button_3.gif" align="middle"
 border="0" alt="freshmeat.net McStas site"></a>
<a href="http://rss.mcstas.org/RSS.xml" ><img src="/rssfeed.png" align="middle" border="0" alt="RSS feed"></a>
<a href="http://mailman.mcstas.org/pipermail/mcstas-users/"><img src="/Mailman.jpg" align="middle" border="0" alt="mailinglist archive"></a>
<a href="https://svn.mccode.org/svn/McCode"><img src="/subversion_logo.png" align="middle" height="40" border="0" alt="SVN repos"></A>
<a href="http://trac.mccode.org"><img src="/trac_logo.png"
 align="middle" height="50" border="0" alt="McCode Trac"></a>
<!-- Facebook Badge START --><a
 href="http://www.facebook.com/McStas"
 target="_TOP" title="McStas"><img align="middle" src="/mcstas-fblogo.png" width="50" height="40" style="border: 0px;" /></a><!-- Facebook Badge END --></TD></TR></TABLE >

</BODY>
</HTML>

