<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<HTML><HEAD>
<TITLE>McStas: Guide_tapering Component</TITLE>
<LINK REV="made" HREF="mailto:peter.willendrup@risoe.dk">
</HEAD>

<BODY>

<P ALIGN=CENTER>
 [ <A href="#id">Identification</A>
 | <A href="#desc">Description</A>
 | <A href="#ipar">Input parameters</A>
 | <A href="#opar">Output parameters</A>
 | <A href="#links">Links</A> ]
</P>

<H1>The <CODE>Guide_tapering</CODE> Component</H1>

Models a rectangular tapered guide (many shapes)


<H2><A NAME=id></A>Identification</H2>

<UL>
  <LI> <B>Author:</B> Uwe Filges</B>
  <LI> <B>Origin:</B> PSI</B>
  <LI> <B>Date:</B> 22/10/2003</B>
  <LI> <B>Version:</B> $Revision$</B>
  <LI> <B>Modification history:</B> <UL>
    <LI>  Rob Dalgliesh, ISIS, 2007
  </UL>
</UL>
<H2><A NAME=desc></A>Description</H2>

<PRE>
Models a rectangular guide tube centered on the Z axis. The entrance lies
in the X-Y plane.
The guide may be tapered.

The component includes a feature to read in self-defined functions for
guide tapering. Under the parameter 'option' the KEYWORD 'file=' offers
the possibility to read in parameters from an ASC-file. The file structure
is shown below in the example. It is important to know that the first
3 lines will be interpreted as comments.
Afterwards the dimension of each guide segment must be defined. The
length of each segment is constant l(i)=l/segments . The number of
segments is defined through the number of lines minus the first 3
lines taken from the Input-File.
The guide can be made curved both horizontally and vertically (not shown in 3d
view), and m-coating, when set negative, is varied in 1/width.

Example Input-File:

c Guide_tapering.comp
c i = 0 - 199 segments
c h1(i)     h2(i)   w1(i)    w2(i)
0.120000 0.119850 0.020000 0.020000
0.119850 0.119700 0.020000 0.020000
0.119700 0.119550 0.020000 0.020000
0.119550 0.119400 0.020000 0.020000
0.119400 0.119250 0.020000 0.020000
0.119250 0.119100 0.020000 0.020000
...

 Example1:Guide_tapering(w1=0.1, h1=0.18, linw=0.1, loutw=0.1,
 linh=0.1, louth=0.1, l=1.5, option="elliptical", R0=0.99,
 Qcx=0.021, Qcy=0.021, alphax=6.07, alphay=6.07, W=0.003,
 mx=1, my=1, segno=800)

 Example2:Guide_tapering(w1=0, h1=0, linw=0, loutw=0,
 linh=0, louth=0, l=1.5, option="file=ownfunction.txt", R0=0.99,
 Qcx=0.021, Qcy=0.021, alphax=6.07, alphay=6.07, W=0.003,
 mx=1, my=1)

%BUGS
This component does not work with gravitation on. Use component Guide_gravity then.

</PRE>

<H2><A NAME=ipar></A>Input parameters</H2>
Parameters in <B>boldface</B> are required;
the others are optional.
<TABLE BORDER=1>
<TR><TH>Name</TH>  <TH>Unit</TH>  <TH>Description</TH> <TH>Default</TH></TR>
<TR> <TD>option</TD>
     <TD>str</TD>
     <TD>define the input function for the curve of the guide walls
options are:
"elliptical"  - define elliptical function of guide walls
"parabolical" - define parabolical function of guide walls
"straight"    - define a straight elements guide
"file=[filename]" - read in ASC-file with arbitrary
definition for the curve of the guide walls
</TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>w1</TD>
     <TD>m</TD>
     <TD>Width at the guide entry
</TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>h1</TD>
     <TD>m</TD>
     <TD>Height at the guide entry
</TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD><B>l</B></TD>
     <TD>m</TD>
     <TD>length of guide
</TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD>linw</TD>
     <TD>m</TD>
     <TD>distance from 1st focal point to real guide entry -
left and right horizontal mirrors
</TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>loutw</TD>
     <TD>m</TD>
     <TD>distance from real guide exit to 2nd focal point -
left and right horizontal mirrors
</TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>linh</TD>
     <TD>m</TD>
     <TD>distance from 1st focal point to real guide entry -
top and bottom vertical mirrors
</TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>louth</TD>
     <TD>m</TD>
     <TD>distance from real guide exit to 2nd focal point -
top and bottom vertical mirrors
</TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>R0</TD>
     <TD>1</TD>
     <TD>Low-angle reflectivity
</TD>
<TD ALIGN=RIGHT>0.99</TD> </TR>
<TR> <TD>Qcx</TD>
     <TD>AA-1</TD>
     <TD>Critical scattering vector for left and right vertical
mirrors in each channel
</TD>
<TD ALIGN=RIGHT>0.021</TD> </TR>
<TR> <TD>Qcy</TD>
     <TD>AA-1</TD>
     <TD>Critical scattering vector for top and bottom mirrors
</TD>
<TD ALIGN=RIGHT>0.021</TD> </TR>
<TR> <TD>alphax</TD>
     <TD>AA</TD>
     <TD>Slope of reflectivity for left and right vertical
mirrors in each channel
</TD>
<TD ALIGN=RIGHT>6.07</TD> </TR>
<TR> <TD>alphay</TD>
     <TD>AA</TD>
     <TD>Slope of reflectivity for top and bottom mirrors
</TD>
<TD ALIGN=RIGHT>6.07</TD> </TR>
<TR> <TD>W</TD>
     <TD>AA-1</TD>
     <TD>Width of supermirror cut-off for all mirrors
</TD>
<TD ALIGN=RIGHT>0.003</TD> </TR>
<TR> <TD>mx</TD>
     <TD>1</TD>
     <TD>m-value of material for left and right vertical mirrors
in each channel. Zero means completely absorbing. Negative 
value will adapt coating as e.g. m=mx*w1/w
</TD>
<TD ALIGN=RIGHT>1</TD> </TR>
<TR> <TD>my</TD>
     <TD>1</TD>
     <TD>m-value of material for top and bottom mirrors. Zero
means completely absorbing. Negative value will adapt coating 
as e.g. m=my*h1/h
</TD>
<TD ALIGN=RIGHT>1</TD> </TR>
<TR> <TD>segno</TD>
     <TD>1</TD>
     <TD>number of segments (z-axis) for cutting the tube
</TD>
<TD ALIGN=RIGHT>800</TD> </TR>
<TR> <TD>curvature</TD>
     <TD>m</TD>
     <TD>guide horizontal radius of curvature. Zero means straight.
</TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>curvature_v</TD>
     <TD>m</TD>
     <TD>guide vertical radius of curvature. Zero means straight.
</TD>
<TD ALIGN=RIGHT>0</TD> </TR>
</TABLE>


<H2><A NAME=opar></A>Output parameters</H2>
<TABLE BORDER=1>
<TR><TH>Name</TH>  <TH>Unit</TH>  <TH>Description</TH> <TH>Default</TH></TR>
<TR> <TD><B>w1c</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>w2c</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>ww</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>hh</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>whalf</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>hhalf</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>lwhalf</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>lhhalf</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>h1_in</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>h2_out</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>w1_in</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>w2_out</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>l_seg</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>seg</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>h12</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>h2</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>w12</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>w2</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>a_ell_q</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>b_ell_q</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>lbw</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>lbh</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>mxi</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>u1</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>u2</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>div1</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>p2_para</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>test</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>Div1</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>i</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>ii</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>seg</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>fu</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>pos</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>file_name</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>ep</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>num</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>rotation_h</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>rotation_v</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
</TABLE>


<H2><A NAME=links></A>Links</H2>

<UL>
  <LI> <A HREF="Guide_tapering.comp">Source code</A> for <CODE>Guide_tapering.comp</CODE>.
</UL>
<HR>
<P ALIGN=CENTER>
 [ <A href="#id">Identification</A>
 | <A href="#desc">Description</A>
 | <A href="#ipar">Input parameters</A>
 | <A href="#opar">Output parameters</A>
 | <A href="#links">Links</A> ]
</P>

<ADDRESS>
Generated automatically by McDoc, Peter Willendrup
&lt;<A HREF="mailto:peter.willendrup@risoe.dk">peter.willendrup@risoe.dk</A>&gt; /
Thu Jun 16 08:51:07 2016</ADDRESS>
</BODY></HTML>
