<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<HTML><HEAD>
<TITLE>McStas: Guide_channeled Component</TITLE>
<LINK REV="made" HREF="mailto:peter.willendrup@risoe.dk">
</HEAD>

<BODY>

<P ALIGN=CENTER>
 [ <A href="#id">Identification</A>
 | <A href="#desc">Description</A>
 | <A href="#ipar">Input parameters</A>
 | <A href="#opar">Output parameters</A>
 | <A href="#links">Links</A> ]
</P>

<H1>The <CODE>Guide_channeled</CODE> Component</H1>

Neutron guide with channels (bender section).


<H2><A NAME=id></A>Identification</H2>

<UL>
  <LI> <B>Author:</B> Christian Nielsen</B>
  <LI> <B>Origin:</B> Risoe</B>
  <LI> <B>Date:</B> 1999</B>
  <LI> <B>Version:</B> $Revision$</B>
</UL>
<H2><A NAME=desc></A>Description</H2>

<PRE>
Models a rectangular guide tube centered on the Z axis. The entrance lies
in the X-Y plane.
The guide may be tapered, and may have vertical subdivisions (used for
bender devices).

There is a special rotating mode in order to approximate a Fermi Chopper
behaviour, in the case the neutron trajectory is nearly linear inside the
chopper slits, i.e. the neutrons are fast w/r/ to the chopper speed.
Slits are straight, but may be super-mirror coated. In this case, the
component is NOT centered, but located at its entry window. It should then 
be shifted by -l/2.

Example: Guide_channeled(w1=0.1, h1=0.1, w2=0.1, h2=0.1, l=2.0,
 R0=0.99, Qcx=0.0219, Qcy=0.0219, alphax=6.07, alphay=6.07, W=0.003, nslit=1,
d=0.0005, mx=1, my=1)

%BUGS
This component does not work with gravitation on. Use Guide_gravity.
This component does not work in multichannel focusing geometry.

Example values: mx=4 my=2 Qcx=Qcy=0.0219 W=1/300 alphax=alphay=6.49 R0=1

</PRE>

<H2><A NAME=ipar></A>Input parameters</H2>
Parameters in <B>boldface</B> are required;
the others are optional.
<TABLE BORDER=1>
<TR><TH>Name</TH>  <TH>Unit</TH>  <TH>Description</TH> <TH>Default</TH></TR>
<TR> <TD><B>w1</B></TD>
     <TD>m</TD>
     <TD>Width at the guide entry
</TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>h1</B></TD>
     <TD>m</TD>
     <TD>Height at the guide entry
</TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD>w2</TD>
     <TD>m</TD>
     <TD>Width at the guide exit
</TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>h2</TD>
     <TD>m</TD>
     <TD>Height at the guide exit
</TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD><B>l</B></TD>
     <TD>m</TD>
     <TD>Length of guide
</TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD>R0</TD>
     <TD>1</TD>
     <TD>Low-angle reflectivity
</TD>
<TD ALIGN=RIGHT>0.995</TD> </TR>
<TR> <TD>Qc</TD>
     <TD>AA-1</TD>
     <TD>Critical scattering vector
</TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>alpha</TD>
     <TD>AA</TD>
     <TD>Slope of reflectivity
</TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>m</TD>
     <TD>1</TD>
     <TD>m-value of material. Zero means completely absorbing.
</TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>nslit</TD>
     <TD>1</TD>
     <TD>Number of channels in the guide (>= 1)
</TD>
<TD ALIGN=RIGHT>1</TD> </TR>
<TR> <TD>d</TD>
     <TD>m</TD>
     <TD>Thickness of subdividing absorbing walls
</TD>
<TD ALIGN=RIGHT>0.0005</TD> </TR>
<TR> <TD>Qcx</TD>
     <TD>AA-1</TD>
     <TD>Critical scattering vector for left and right vertical
mirrors in each channel
</TD>
<TD ALIGN=RIGHT>0.0218</TD> </TR>
<TR> <TD>Qcy</TD>
     <TD>AA-1</TD>
     <TD>Critical scattering vector for top and bottom mirrors
</TD>
<TD ALIGN=RIGHT>0.0218</TD> </TR>
<TR> <TD>alphax</TD>
     <TD>AA</TD>
     <TD>Slope of reflectivity for left and right vertical
mirrors in each channel
</TD>
<TD ALIGN=RIGHT>4.38</TD> </TR>
<TR> <TD>alphay</TD>
     <TD>AA</TD>
     <TD>Slope of reflectivity for top and bottom mirrors
</TD>
<TD ALIGN=RIGHT>4.38</TD> </TR>
<TR> <TD>W</TD>
     <TD>AA-1</TD>
     <TD>Width of supermirror cut-off for all mirrors
</TD>
<TD ALIGN=RIGHT>0.003</TD> </TR>
<TR> <TD>mx</TD>
     <TD>1</TD>
     <TD>m-value of material for left and right vertical mirrors
in each channel. Zero means completely absorbing.
</TD>
<TD ALIGN=RIGHT>1</TD> </TR>
<TR> <TD>my</TD>
     <TD>1</TD>
     <TD>m-value of material for top and bottom mirrors. Zero
means completely absorbing.
</TD>
<TD ALIGN=RIGHT>1</TD> </TR>
<TR> <TD>nu</TD>
     <TD>Hz</TD>
     <TD>Rotation frequency (round/s) for Fermi Chopper approximation
</TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>phase</TD>
     <TD>deg</TD>
     <TD>Phase shift for the Fermi Chopper approximation
</TD>
<TD ALIGN=RIGHT>0</TD> </TR>
</TABLE>


<H2><A NAME=opar></A>Output parameters</H2>
<TABLE BORDER=1>
<TR><TH>Name</TH>  <TH>Unit</TH>  <TH>Description</TH> <TH>Default</TH></TR>
<TR> <TD><B>w1c</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>w2c</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>ww</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>hh</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>whalf</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>hhalf</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>lwhalf</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>lhhalf</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
</TABLE>


<H2><A NAME=links></A>Links</H2>

<UL>
  <LI> <A HREF="Guide_channeled.comp">Source code</A> for <CODE>Guide_channeled.comp</CODE>.
</UL>
<HR>
<P ALIGN=CENTER>
 [ <A href="#id">Identification</A>
 | <A href="#desc">Description</A>
 | <A href="#ipar">Input parameters</A>
 | <A href="#opar">Output parameters</A>
 | <A href="#links">Links</A> ]
</P>

<ADDRESS>
Generated automatically by McDoc, Peter Willendrup
&lt;<A HREF="mailto:peter.willendrup@risoe.dk">peter.willendrup@risoe.dk</A>&gt; /
Thu Jun 16 08:51:07 2016</ADDRESS>
</BODY></HTML>
