<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<HTML><HEAD>
<TITLE>McStas: Monochromator_flat Component</TITLE>
<LINK REV="made" HREF="mailto:peter.willendrup@risoe.dk">
</HEAD>

<BODY>

<P ALIGN=CENTER>
 [ <A href="#id">Identification</A>
 | <A href="#desc">Description</A>
 | <A href="#ipar">Input parameters</A>
 | <A href="#opar">Output parameters</A>
 | <A href="#links">Links</A> ]
</P>

<H1>The <CODE>Monochromator_flat</CODE> Component</H1>

Flat Monochromator crystal with anisotropic mosaic.


<H2><A NAME=id></A>Identification</H2>

<UL>
  <LI> <B>Author:</B> Kristian Nielsen</B>
  <LI> <B>Origin:</B> Risoe</B>
  <LI> <B>Date:</B> 1999</B>
  <LI> <B>Version:</B> $Revision$</B>
</UL>
<H2><A NAME=desc></A>Description</H2>

<PRE>
Flat, infinitely thin mosaic crystal, useful as a monochromator or analyzer.
For an unrotated monochromator component, the crystal surface lies in the Y-Z
plane (ie. parallel to the beam).
The mosaic is anisotropic gaussian, with different FWHMs in the Y and Z
directions. The scattering vector is perpendicular to the surface.

Example: Monochromator_flat(zmin=-0.1, zmax=0.1, ymin=-0.1, ymax=0.1,
          mosaich=30.0, mosaicv=30.0, r0=0.7, Q=1.8734)

Monochromator lattice parameter
PG       002 DM=3.355 AA (Highly Oriented Pyrolythic Graphite)
PG       004 DM=1.677 AA
Heusler  111 DM=3.362 AA (Cu2MnAl)
CoFe         DM=1.771 AA (Co0.92Fe0.08)
Ge       111 DM=3.266 AA
Ge       311 DM=1.714 AA
Ge       511 DM=1.089 AA
Ge       533 DM=0.863 AA
Si       111 DM=3.135 AA
Cu       111 DM=2.087 AA
Cu       002 DM=1.807 AA
Cu       220 DM=1.278 AA
Cu       111 DM=2.095 AA

</PRE>

<H2><A NAME=ipar></A>Input parameters</H2>
Parameters in <B>boldface</B> are required;
the others are optional.
<TABLE BORDER=1>
<TR><TH>Name</TH>  <TH>Unit</TH>  <TH>Description</TH> <TH>Default</TH></TR>
<TR> <TD>zmin</TD>
     <TD>m</TD>
     <TD>Lower horizontal (z) bound of crystal </TD>
<TD ALIGN=RIGHT>-0.05</TD> </TR>
<TR> <TD>zmax</TD>
     <TD>m</TD>
     <TD>Upper horizontal (z) bound of crystal </TD>
<TD ALIGN=RIGHT>0.05</TD> </TR>
<TR> <TD>ymin</TD>
     <TD>m</TD>
     <TD>Lower vertical (y) bound of crystal </TD>
<TD ALIGN=RIGHT>-0.05</TD> </TR>
<TR> <TD>ymax</TD>
     <TD>m</TD>
     <TD>Upper vertical (y) bound of crystal </TD>
<TD ALIGN=RIGHT>0.05</TD> </TR>
<TR> <TD>zwidth</TD>
     <TD>m</TD>
     <TD>Width of crystal, instead of zmin and zmax </TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>yheight</TD>
     <TD>m</TD>
     <TD>Height of crystal, instead of ymin and ymax </TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>mosaich</TD>
     <TD>arc minutes</TD>
     <TD>Horizontal mosaic (in z direction) (FWHM) </TD>
<TD ALIGN=RIGHT>30.0</TD> </TR>
<TR> <TD>mosaicv</TD>
     <TD>arc minutes</TD>
     <TD>Vertical mosaic (in y direction) (FWHM) </TD>
<TD ALIGN=RIGHT>30.0</TD> </TR>
<TR> <TD>r0</TD>
     <TD>1</TD>
     <TD>Maximum reflectivity </TD>
<TD ALIGN=RIGHT>0.7</TD> </TR>
<TR> <TD>Q</TD>
     <TD>1/angstrom</TD>
     <TD>Magnitude of scattering vector </TD>
<TD ALIGN=RIGHT>1.8734</TD> </TR>
<TR> <TD>DM</TD>
     <TD>angstrom</TD>
     <TD>monochromator d-spacing, instead of Q = 2*pi/DM </TD>
<TD ALIGN=RIGHT>0</TD> </TR>
</TABLE>


<H2><A NAME=opar></A>Output parameters</H2>
<TABLE BORDER=1>
<TR><TH>Name</TH>  <TH>Unit</TH>  <TH>Description</TH> <TH>Default</TH></TR>
<TR> <TD><B>mos_rms_y</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>mos_rms_z</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>mos_rms_max</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>mono_Q</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
</TABLE>


<H2><A NAME=links></A>Links</H2>

<UL>
  <LI> <A HREF="Monochromator_flat.comp">Source code</A> for <CODE>Monochromator_flat.comp</CODE>.
</UL>
<HR>
<P ALIGN=CENTER>
 [ <A href="#id">Identification</A>
 | <A href="#desc">Description</A>
 | <A href="#ipar">Input parameters</A>
 | <A href="#opar">Output parameters</A>
 | <A href="#links">Links</A> ]
</P>

<ADDRESS>
Generated automatically by McDoc, Peter Willendrup
&lt;<A HREF="mailto:peter.willendrup@risoe.dk">peter.willendrup@risoe.dk</A>&gt; /
Thu Jun 16 08:51:07 2016</ADDRESS>
</BODY></HTML>
