<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<HTML><HEAD>
<TITLE>McStas: Selector Component</TITLE>
<LINK REV="made" HREF="mailto:peter.willendrup@risoe.dk">
</HEAD>

<BODY>

<P ALIGN=CENTER>
 [ <A href="#id">Identification</A>
 | <A href="#desc">Description</A>
 | <A href="#ipar">Input parameters</A>
 | <A href="#opar">Output parameters</A>
 | <A href="#links">Links</A> ]
</P>

<H1>The <CODE>Selector</CODE> Component</H1>

velocity selector (helical lamella type) such as <b>V_selector</b> component


<H2><A NAME=id></A>Identification</H2>

<UL>
  <LI> <B>Author:</B> Peter Link, <a href="mailto:Andreas.Ostermann@frm2.tum.de">Andreas Ostermann</a></B>
  <LI> <B>Origin:</B> Uni. Gottingen (Germany)</B>
  <LI> <B>Date:</B> MARCH 1999</B>
  <LI> <B>Version:</B> $Revision$</B>
</UL>
<H2><A NAME=desc></A>Description</H2>

<PRE>
Velocity selector consisting of rotating Soller-like blades
defining a helically twisted passage.
Geometry is defined by two identical apertures at 12 o'clock position, 
The origin is at the ENTRANCE of the selector.

Example: Selector(xmin=-0.015,  xmax=0.015,  ymin=-0.025, ymax=0.025, length=0.25,
           nslit=72,d=0.0004, radius=0.12, alpha=48.298, nu=500)
These are values for the D11@ILL Dornier 'Dolores' Velocity Selector (NVS 023)

%VALIDATION
Jun 2005: extensive external test, one minor problem 
Jan 2006: problem solved (for McStas-1.9.1)
Validated by: K. Lieutenant

%BUGS
for transmission calculation, each neutron is supposed to be in the guide centre

</PRE>

<H2><A NAME=ipar></A>Input parameters</H2>
Parameters in <B>boldface</B> are required;
the others are optional.
<TABLE BORDER=1>
<TR><TH>Name</TH>  <TH>Unit</TH>  <TH>Description</TH> <TH>Default</TH></TR>
<TR> <TD>xmin</TD>
     <TD>m</TD>
     <TD>Lower x bound of entry aperture </TD>
<TD ALIGN=RIGHT>-0.015</TD> </TR>
<TR> <TD>xmax</TD>
     <TD>m</TD>
     <TD>Upper x bound of entry aperture </TD>
<TD ALIGN=RIGHT>0.015</TD> </TR>
<TR> <TD>ymin</TD>
     <TD>m</TD>
     <TD>Lower y bound of entry aperture </TD>
<TD ALIGN=RIGHT>-0.025</TD> </TR>
<TR> <TD>ymax</TD>
     <TD>m</TD>
     <TD>Upper y bound of entry aperture </TD>
<TD ALIGN=RIGHT>0.025</TD> </TR>
<TR> <TD>length</TD>
     <TD>m</TD>
     <TD>rotor length  </TD>
<TD ALIGN=RIGHT>0.25</TD> </TR>
<TR> <TD>xwidth</TD>
     <TD>m</TD>
     <TD>Width of entry. Overrides xmin,xmax. </TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>yheight</TD>
     <TD>m</TD>
     <TD>Height of entry. Overrides ymin,ymax. </TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>nslit</TD>
     <TD>1</TD>
     <TD>number of absorbing subdivinding spokes/lamella </TD>
<TD ALIGN=RIGHT>72</TD> </TR>
<TR> <TD>d</TD>
     <TD>m</TD>
     <TD>width of spokes at beam-center </TD>
<TD ALIGN=RIGHT>0.0004</TD> </TR>
<TR> <TD>radius</TD>
     <TD>m</TD>
     <TD>radius of beam-center </TD>
<TD ALIGN=RIGHT>0.12</TD> </TR>
<TR> <TD>alpha</TD>
     <TD>deg</TD>
     <TD>angle of torsion </TD>
<TD ALIGN=RIGHT>48.298</TD> </TR>
<TR> <TD>nu</TD>
     <TD>Hz</TD>
     <TD>frequency of rotation, which is ideally 3956*alpha*DEG2RAD/2/PI/lambda/length </TD>
<TD ALIGN=RIGHT>500</TD> </TR>
</TABLE>


<H2><A NAME=links></A>Links</H2>

<UL>
  <LI> <A HREF="Selector.comp">Source code</A> for <CODE>Selector.comp</CODE>.
  <LI> See also Additional notes <a href="http://mcstas.risoe.dk/pipermail/neutron-mc/1999q1/000134.html">March 1999</a> and <a href="http://mcstas.risoe.dk/pipermail/neutron-mc/1999q2/000136.html">Jan 2000</a>.

</UL>
<HR>
<P ALIGN=CENTER>
 [ <A href="#id">Identification</A>
 | <A href="#desc">Description</A>
 | <A href="#ipar">Input parameters</A>
 | <A href="#opar">Output parameters</A>
 | <A href="#links">Links</A> ]
</P>

<ADDRESS>
Generated automatically by McDoc, Peter Willendrup
&lt;<A HREF="mailto:peter.willendrup@risoe.dk">peter.willendrup@risoe.dk</A>&gt; /
Thu Jun 16 08:51:07 2016</ADDRESS>
</BODY></HTML>
