<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<HTML><HEAD>
<TITLE>McStas: Vitess_ChopperFermi Component</TITLE>
<LINK REV="made" HREF="mailto:peter.willendrup@risoe.dk">
</HEAD>

<BODY>

<P ALIGN=CENTER>
 [ <A href="#id">Identification</A>
 | <A href="#desc">Description</A>
 | <A href="#ipar">Input parameters</A>
 | <A href="#opar">Output parameters</A>
 | <A href="#links">Links</A> ]
</P>

<H1>The <CODE>Vitess_ChopperFermi</CODE> Component</H1>

Fermi chopper with absorbing walls using the VITESS module 'chopper_fermi'


<H2><A NAME=id></A>Identification</H2>

<UL>
  <LI> <B>Author:</B> Geza Zsigmond</B>
  <LI> <B>Origin:</B> VITESS module 'chopper_fermi'</B>
  <LI> <B>Date:</B> Sep 2004</B>
  <LI> <B>Version:</B> $Revision$</B>
  <LI> <B>Modification history:</B> <UL>
    <LI>  adapted for McStas by <a href="mailto:lieutena@ill.fr">K. Lieutenant</a>, Mar 2005;
  </UL>
</UL>
<H2><A NAME=desc></A>Description</H2>

<PRE>
This component simulates a Fermi chopper with absorbing walls. The rotation axis is
vertical (y-axis), i.e. the path length through the channels is given by the length
'depth' along the z-axis.
The shape of the channels can be straight, curved with circular, or curved with ideal
(i.e. close to a parabolic) shape. This is determined by the parameter 'GeomOption'.

Geometry for straight and circular channels:
The geometry of the chopper consists of a rectangular shaped object with a channel
system. In transmission position, there are 'Nchannels' slits along the x-axis,
separated by absorbing walls of thickness 'wallwidth' giving a total width 'width'.
The rectangular channel system is surrounded by a so-called shadowing cylinder
(cf component manual).

Geometry for parabolic channels:
In this case, the Fermi chopper is supposed to be a full cylinder, i.e. the central
channels are longer than those on the edges (cf. figure in the component manual).
The other features are the same as for the other options.

Apart from the frequency of rotation, the phase of the chopper at t=0 has to be given;
phase = 0 means transmission orientation.

The option 'zerotime' may be used to reset the time at the chopper position. The
consequence is that only 1 pulse is generated instead of several.

NOTE: This component must NOT be located at the same position as the previous one.
      This also stands for monitors and Arms. A non zero distance must be defined.

Examples:
 straight Fermi chopper, 18000 rpm, 20 channels a 0.9 mm separated by 0.1 mm walls,
 16 mm channel length, minimal shadowing cylinder, phased to be open at 1 ms,
 generation of only 1 pulse, normal precision (for short wavelength neutrons)
Vitess_ChopperFermi(GeomOption=0, zerotime=1,  Nchannels=20,  Ngates=4,
                    freq=300.0,   height=0.06, width=0.0201,
                    depth=0.016,  r_curv=0.0,  diameter=0.025691, Phase=-108.0,
                    wallwidth=0.0001, sGeomFileName="FC_geom_str.dat")

 Fermi chopper with circular channels, 12000 rpm, optimized for 6 Ang, several pulses,
 highest accuracy (because of long wavelength neutrons used), rest as above
Vitess_ChopperFermi(GeomOption=2, zerotime=0,    Nchannels=20,  Ngates=8,
                    freq=200.0,   height=0.06,   width=0.0201,
                    depth=0.016,  r_curv=0.2623, diameter=0.025691, Phase=-72.0,
                    wallwidth=0.0001, sGeomFileName="FC_geom_circ.dat")

%VALIDATION
Apr 2005: extensive external test, most problems solved (cf. 'Bugs' and source header)
Validated by: K. Lieutenant

limitations: slow (10 times slower than FermiChopper), especially for a high number of channels

%BUGS
reduction of transmission by a large shadowing cylinder underestimated

</PRE>

<H2><A NAME=ipar></A>Input parameters</H2>
Parameters in <B>boldface</B> are required;
the others are optional.
<TABLE BORDER=1>
<TR><TH>Name</TH>  <TH>Unit</TH>  <TH>Description</TH> <TH>Default</TH></TR>
<TR> <TD>sGeomFileName</TD>
     <TD>str</TD>
     <TD>name of output file for geometry information
</TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>GeomOption</TD>
     <TD>1</TD>
     <TD>option: 0:straight 1:parabolic 2:circular
</TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>zerotime</TD>
     <TD>1</TD>
     <TD>option: 1:'set time to zero'  0: 'do not'
</TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>Nchannels</TD>
     <TD>1</TD>
     <TD>number of channels of the Fermi chopper
</TD>
<TD ALIGN=RIGHT>20</TD> </TR>
<TR> <TD>Ngates</TD>
     <TD>1</TD>
     <TD>number of gates defining the channel: 4=default, 6 or 8 for long wavelengths
</TD>
<TD ALIGN=RIGHT>4</TD> </TR>
<TR> <TD>freq</TD>
     <TD>Hz</TD>
     <TD>number of rotations per second
</TD>
<TD ALIGN=RIGHT>300.0</TD> </TR>
<TR> <TD>height</TD>
     <TD>m</TD>
     <TD>height of the Fermi chopper
</TD>
<TD ALIGN=RIGHT>0.05</TD> </TR>
<TR> <TD>width</TD>
     <TD>m</TD>
     <TD>total width of the Fermi chopper
</TD>
<TD ALIGN=RIGHT>0.04</TD> </TR>
<TR> <TD>depth</TD>
     <TD>m</TD>
     <TD>channel length of the Fermi chopper
</TD>
<TD ALIGN=RIGHT>0.03</TD> </TR>
<TR> <TD>r_curv</TD>
     <TD>m</TD>
     <TD>radius of curvature of the curved Fermi chopper
</TD>
<TD ALIGN=RIGHT>0.5</TD> </TR>
<TR> <TD>diameter</TD>
     <TD>m</TD>
     <TD>diameter of the shadowing cylinder
</TD>
<TD ALIGN=RIGHT>0.071</TD> </TR>
<TR> <TD>Phase</TD>
     <TD>deg</TD>
     <TD>dephasing angle at zero time
</TD>
<TD ALIGN=RIGHT>0.0</TD> </TR>
<TR> <TD>wallwidth</TD>
     <TD>m</TD>
     <TD>thickness of walls separating the channels
</TD>
<TD ALIGN=RIGHT>0.0002</TD> </TR>
</TABLE>


<H2><A NAME=opar></A>Output parameters</H2>
<TABLE BORDER=1>
<TR><TH>Name</TH>  <TH>Unit</TH>  <TH>Description</TH> <TH>Default</TH></TR>
<TR> <TD><B>Option</B></TD>
     <TD>-</TD>
     <TD>1: straight FC,  2: curved FC
</TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>CurvGeomOption</B></TD>
     <TD>-</TD>
     <TD>1: ideal shape (nearly parabolic)  2: circular
</TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>TOF</B></TD>
     <TD>ms</TD>
     <TD>TOF of neutron under consideration
</TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>WL</B></TD>
     <TD>Ang</TD>
     <TD>wavelength of neutron
</TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>radius_of_curv</B></TD>
     <TD>curved FC</TD>
     <TD>[cm]   radius of curvature </TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>main_depth</B></TD>
     <TD>cm</TD>
     <TD>max. channel length due to diameter and total_width
</TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>shift_y</B></TD>
     <TD>cm</TD>
     <TD>shift to channel actually written to geometry file
</TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>angle_channel</B></TD>
     <TD>rad</TD>
     <TD>half of the curvature of a curved Fermi chopper
</TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>phase0</B></TD>
     <TD>rad</TD>
     <TD>chopper phase at TOF of neutron to chopper centre
</TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>y_ch</B></TD>
     <TD>cm</TD>
     <TD>position of gates perpendicular to flight direction
</TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>x_ch</B></TD>
     <TD>cm</TD>
     <TD>position of gates along flight direction
</TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>coef_pi</B></TD>
     <TD>-</TD>
     <TD>number of half-rotation to reach identical state
</TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>XFILEName</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>GeomFilePtr</B></TD>
     <TD>-</TD>
     <TD>pointer to geometry file name
</TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>Pos</B></TD>
     <TD>cm</TD>
     <TD>position of neutron
</TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>Dir</B></TD>
     <TD>-</TD>
     <TD>flight direction of neutron
</TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>Neutrons</B></TD>
     <TD>-</TD>
     <TD>neutron parameter set at end of chopper
</TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>pos_ch</B></TD>
     <TD>cm</TD>
     <TD>centre position of the Fermi chopper
</TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>omega</B></TD>
     <TD>1/s</TD>
     <TD>angular frequency of the chopper
</TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>optimal_wl</B></TD>
     <TD>Ang</TD>
     <TD>wavelength of highest transmission of curved FC
</TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
</TABLE>


<H2><A NAME=links></A>Links</H2>

<UL>
  <LI> <A HREF="Vitess_ChopperFermi.comp">Source code</A> for <CODE>Vitess_ChopperFermi.comp</CODE>.
  <LI> <a href="http://www.hmi.de/projects/ess/vitess/DOC/chopper_fermi_str.html">straight VITESS Fermi chopper</a>
  <LI> <a href="http://www.hmi.de/projects/ess/vitess/DOC/chopper_fermi_cur.html">curved VITESS Fermi chopper</a>

</UL>
<HR>
<P ALIGN=CENTER>
 [ <A href="#id">Identification</A>
 | <A href="#desc">Description</A>
 | <A href="#ipar">Input parameters</A>
 | <A href="#opar">Output parameters</A>
 | <A href="#links">Links</A> ]
</P>

<ADDRESS>
Generated automatically by McDoc, Peter Willendrup
&lt;<A HREF="mailto:peter.willendrup@risoe.dk">peter.willendrup@risoe.dk</A>&gt; /
Thu Jun 16 08:51:07 2016</ADDRESS>
</BODY></HTML>
