<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HEAD>
<META http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<LINK REL="alternate" TITLE="McStas news RSS" HREF="http://rss.mcstas.org/RSS.xml" TYPE="application/rss+xml">
<TITLE>McStas homepage</TITLE>
<STYLE>
<!--
a.menu {color: #000000}
-->
</STYLE>
<link rel="icon" href="/favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"> 
</HEAD>
<BODY text="#000000" bgcolor="#777777" link="#006699" vlink="#003366" alink="#FF0000">

<TABLE border="0" cellpadding="4" cellspacing="0" width="100%">
 <TR> <!-- top --> 
  <TD align="center" bgcolor="#ffffff" text="ffffff"> <!-- left (nrulogo) -->
   <A href="/"><IMG src="/logo-left.png" border="0" alt="McStas logo"></A>
  </TD> <!-- left (nrulogo) -->

  <TD align="center" bgcolor="#ffffff" width="10000"> <!-- midle (title) -->
    <A href="/"><img overlay src="/toplogo_animated.gif" border="0" alt="McStas - A neutron ray-trace simulation package"></A>
  </TD> <!-- midle (nrutitle) -->
  <TD align="right" bgcolor="#ffffff"><!-- right (rhhslogo) -->
    <A href="http://www.ill.fr"><IMG src="/ill-logo.png" border="0" alt="ILL;"></A>
    </TD>
  <TD align="right" bgcolor="#ffffff"><!-- right (rhhslogo) -->
    <A href="http://www.psi.ch"><IMG src="/psi-logo.png" border="0" alt="PSI;"></A> 
    </TD>
  <td align="right" bgcolor="white">
  <A href="http://www.europeanspallationsource.se/"><IMG
    src="/ESS_Logo_Frugal_Blue_cmyk.png" border="0" alt="ESS"></A></td>
  <TD align="right" bgcolor="#ffffff"><!-- right (rhhslogo) -->
  <A href="http://www.nbi.dk"><IMG src="/ku_nat.gif" border="0" alt="Niels Bohr Institute"></A></td><td align="right" bgcolor="white">
  <A href="http://www.fys.dtu.dk/"><IMG src="/DTU_logo.gif" border="0" alt="DTU Physics"></A></td><td align="right" bgcolor="white">
  <A href="http://nexmap.fysik.dtu.dk/"><IMG src="/NEXMAP_logo.png" border="0" alt="NEXMAP"></A>
  </TD> <!-- right (rhhslogo) -->
 </TR> <!-- top -->

 <TR> <!-- main -->
  <TD align="left" valign="top" bgcolor="#ffffff"> <!-- left (menu) -->
   <BR> <P style="font-family:Verdana"><B><A href="/" class="menu">McStas</A></B><BR> 
	<SMALL>
<P style="font-family:Verdana"><B><A href="/about/" class="menu">About McStas</A></B><BR> 
	<SMALL>
		&nbsp;<A href="/about/conditions" class="menu">Conditions of use</A><BR>
		&nbsp;<A href="/about/contacts" class="menu">Authors/Contacts</A><BR>
		&nbsp;<A href="/about/funding" class="menu">Project funding</A><BR>
		&nbsp;<A href="/about/screenshots" class="menu">Screenshots</A><BR>
	</SMALL>
</P> 
<P style="font-family:Verdana"><B><A href="/download/" class="menu"><font color="green">Download</font></A></B><BR> 
	<SMALL>
		&nbsp;<A href="/download/components" class="menu">Components</A><BR>
		&nbsp;<A href="/download/install_linux" class="menu"><font color="green">Linux Install (deb/rpm)</font></A><BR>
		&nbsp;<A href="/download/install_mac_os_x" class="menu"><font color="green">Mac OS X Install</font></A><BR>
		&nbsp;<A href="/download/install_unix" class="menu"><font color="green">Unix Install (src code)</font></A><BR>
		&nbsp;<A href="/download/install_windows" class="menu"><font color="green">Windows Install</font></A><BR>
		&nbsp;<A href="/download/share" class="menu"><font color="blue">Other Downloads (share)</font></A><BR>
	</SMALL>
</P> 
<P style="font-family:Verdana"><B><A href="/list/" class="menu">Mailing list</A></B><BR> 
	<SMALL>
	</SMALL>
</P> 
<P style="font-family:Verdana"><B><A href="/search/" class="menu">Search web/mailinglist</A></B><BR> 
	<SMALL>
	</SMALL>
</P> 
<P style="font-family:Verdana"><B><A href="/documentation/" class="menu">Documentation</A></B><BR> 
	<SMALL>
		&nbsp;<A href="/documentation/manual" class="menu">McStas manual</A><BR>
		&nbsp;<A href="/documentation/faq" class="menu">FAQ</A><BR>
		&nbsp;<A href="/documentation/problems" class="menu">Known problems</A><BR>
		&nbsp;<A href="/documentation/publications" class="menu">Publications</A><BR>
		&nbsp;<A href="/documentation/compilers" class="menu">C Compilers</A><BR>
		&nbsp;<A href="/documentation/other" class="menu">Other</A><BR>
		&nbsp;<A href="/documentation/tools" class="menu">Tools</A><BR>
		&nbsp;<A href="/documentation/tutorial" class="menu">Tutorial</A><BR>
	</SMALL>
</P> 
<P style="font-family:Verdana"><B><A href="/workshop/" class="menu">Workshops/conferences</A></B><BR> 
	<SMALL>
	</SMALL>
</P> 
<P style="font-family:Verdana"><B><A href="/developments/" class="menu">Developments</A></B><BR> 
	<SMALL>
	</SMALL>
</P> 
<P style="font-family:Verdana"><B><A href="/links/" class="menu">Links</A></B><BR> 
	<SMALL>
	</SMALL>
</P> 
<P style="font-family:Verdana"><B><A href="/McZilla/" class="menu">Report bugs</A></B><BR> 
	<SMALL>
	</SMALL>
</P> 
<P style="font-family:Verdana"><B><A href="/git/" class="menu">Git</A></B><BR> 
	<SMALL>
	</SMALL>
</P> 
<P style="font-family:Verdana"><B><A href="/ubuntu/" class="menu"><font color="green">McStas Ubuntu live-dvd</font></A></B><BR> 
	<SMALL>
	</SMALL>
</P> 
 <BR>
  </TD> <!-- left (menu) -->

  <TD colspan="8" align="left" valign="top" bgcolor="#ffffff"> <!-- midleright (text) -->
  <div style="font-family:arial; border: solid 0 #555; border-width:2px; padding:2.5ex; background-color: #ffffff;";>




<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<HTML><HEAD>
<TITLE>McStas: Elliptic_guide_gravity Component</TITLE>
<LINK REV="made" HREF="mailto:peter.willendrup@risoe.dk">
</HEAD>

<BODY>

<P ALIGN=CENTER>
 [ <A href="#id">Identification</A>
 | <A href="#desc">Description</A>
 | <A href="#ipar">Input parameters</A>
 | <A href="#opar">Output parameters</A>
 | <A href="#links">Links</A> ]
</P>

<H1>The <CODE>Elliptic_guide_gravity</CODE> Component</H1>

Perfect elliptic guide which allow for simulations with gravity.
The guide mirrors can be divided into segments with individual m-values.
Parabolic guide components can also be simulated.


<H2><A NAME=id></A>Identification</H2>

<UL>
  <LI> <B>Author:</B> Henrik Bo Hoffmann Carlsen and Mads Bertelsen</B>
  <LI> <B>Origin:</B> NBI</B>
  <LI> <B>Date:</B> 27 Aug 2012</B>
  <LI> <B>Version:</B> 0.91</B>
</UL>
<H2><A NAME=desc></A>Description</H2>

<PRE>

The perfect elliptic guide is centered along the z-axis with the entrance 
and exit in the xy-plane. The horizontal and vertical ellipses defining 
the guide geometry is by default set by two focal points. 
These are placed a distance away from the guide openings along the z-axis; 
if distance given is positive, when the focal point is outside the guide.

Multiple options for defining these ellipse exist including approximation of
parabolas and half ellipses (mid point of the ellipse or one of the guide openings)

The guide coating parameters can be set for each side of the guide. 
Furthermore the m-value can be specified for user defined segments 
of the guide. 


Example 1, Elliptical definition using focal points:
Elliptic_guide_gravity(
	l=50,
	linxw=5,linyh=5,loutxw=10,loutyh=10,
	xwidth=0.05,yheight=0.05,
	R0=0.99,Qc=0.0219,alpha=6.07,m=1.0,W=0.003
)

Example 2: Half elliptical definition:
Elliptic_guide_gravity(
	l=50,
	linxw=5,linyh=5,loutxw=10,loutyh=10,
	xwidth=0.1,yheight=0.1,
	R0=0.99,Qc=0.0219,alpha=6.07,m=1.0,W=0.003,
	option = "halfEllipse",
	dimensionsAt = "entrance"
)

Example 3: Parabolic approximation:
Elliptic_guide_gravity(
	l=50,
	linxw=5,linyh=5,loutxw=1e6,loutyh=1e6, // values larger than 1e8 may cause erroneous results
	xwidth=0.1,yheight=0.1,
	R0 = 0.99,Qc=0.0219,alpha=6.07,m=1.0,W=0.003,
	dimensionsAt = "exit"
)

Example 4: Elliptical definition with varying m-values:
Elliptic_guide_gravity(
	l=50,
	linxw=5,linyh=5,loutxw=10,loutyh=10,
	xwidth=0.1,yheight=0.1,
	R0 = 0.99,Qc=0.0219,alpha=6.07,m=1.0,W=0.003,
	mvaluesright=marray,mvaluesleft=marray,mvaluestop=marray,mvaluesbottom=marray
)
where marray is initialized as 
for(iter=0; iter < 50; iter++){ marray[iter] = 2; }
And Declared as
double mValues[50];

</PRE>
WARNING: <B>This is a contributed Component.</B>

<H2><A NAME=ipar></A>Input parameters</H2>
Parameters in <B>boldface</B> are required;
the others are optional.
<TABLE BORDER=1>
<TR><TH>Name</TH>  <TH>Unit</TH>  <TH>Description</TH> <TH>Default</TH></TR>
<TR> <TD>mvaluesright</TD>
     <TD>pointer</TD>
     <TD>Pointer to array of m-values, right mirror
</TD>
<TD ALIGN=RIGHT>NULL</TD> </TR>
<TR> <TD>mvaluesleft</TD>
     <TD>pointer</TD>
     <TD>- same, left mirror
</TD>
<TD ALIGN=RIGHT>NULL</TD> </TR>
<TR> <TD>mvaluestop</TD>
     <TD>pointer</TD>
     <TD>- same, top mirror
</TD>
<TD ALIGN=RIGHT>NULL</TD> </TR>
<TR> <TD>mvaluesbottom</TD>
     <TD>pointer</TD>
     <TD>- same, bottom mirror
</TD>
<TD ALIGN=RIGHT>NULL</TD> </TR>
<TR> <TD>seglength</TD>
     <TD>pointer</TD>
     <TD>Pointer to array of segment lengths for discrete mirror description
</TD>
<TD ALIGN=RIGHT>NULL	</TD> </TR>
<TR> <TD><B>l</B></TD>
     <TD>m</TD>
     <TD>length of the guide
</TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD>xwidth</TD>
     <TD>m</TD>
     <TD>width at the guide entry, mid or exit (see dimensionsAt)
</TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>yheight</TD>
     <TD>m</TD>
     <TD>height at the guide entry, mid or exit (see dimensionsAt)
</TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>linxw</TD>
     <TD>m</TD>
     <TD>distance from 1st focal point to guide entrance 
- left and right horizontal mirrors
</TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>loutxw</TD>
     <TD>m</TD>
     <TD>distance from 2nd focal point to guide exit 
- left and right horizontal mirrors
</TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>linyh</TD>
     <TD>m</TD>
     <TD>distance from 1st focal point to guide entrance 
- top and bottom vertical mirrors
</TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>loutyh</TD>
     <TD>m</TD>
     <TD>distance from 2nd focal point to guide exit 
- top and bottom vertical mirrors
</TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>majorAxisxw</TD>
     <TD>m</TD>
     <TD>direct defination of the guide geometry, will ignore 
w,h lin and lout parameters if this is nonzero. Length of 
the axis parallel to the z for the horizontal ellipse
</TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>minorAxisxw</TD>
     <TD>m</TD>
     <TD>direct defination of the guide geometry, will ignore 
w,h lin and lout parameters if this is nonzero. Length of 
the axis Perpendicular to the z for the horizontal ellipse
</TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>majorAxisyh</TD>
     <TD>m</TD>
     <TD>direct defination of the guide geometry, will ignore 
w,h lin and lout parameters if this is nonzero. Length of 
the axis parallel to the z for the vertical ellipse
</TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>minorAxisyh</TD>
     <TD>m</TD>
     <TD>direct defination of the guide geometry, will ignore 
w,h lin and lout parameters if this is nonzero. Length of 
the axis Perpendicular to the z for the vertical ellipse
</TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>majorAxisoffsetxw</TD>
     <TD>m</TD>
     <TD>direct defination of the guide geometry, 
distance between the center of the horizontal 
ellipse and the guide entrance							
</TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>majorAxisoffsetyh</TD>
     <TD>m</TD>
     <TD>direct defination of the guide geometry, 
distance between the center of the vertical 
ellipse and the guide entrance
</TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>dimensionsAt</TD>
     <TD>string</TD>
     <TD>define whether xwidth and yheight sets the size of 
he opening, minor axis or the end of the guide.
</TD>
<TD ALIGN=RIGHT>"entrance"</TD> </TR>
<TR> <TD>option</TD>
     <TD>string</TD>
     <TD>options are 'ellipse' and 'halfEllipse'. Ellipse is defined by 
both the focal points, while halfEllipse locked the center 
of the ellipse either the entrance or exit of the guide, and 
use the focal point of the other end to define the ellipse
</TD>
<TD ALIGN=RIGHT>"ellipse"</TD> </TR>
<TR> <TD>R0</TD>
     <TD>1</TD>
     <TD>Low-angle reflectivity
</TD>
<TD ALIGN=RIGHT>0.99</TD> </TR>
<TR> <TD>Qc</TD>
     <TD>AA-1</TD>
     <TD>Critical scattering vector
</TD>
<TD ALIGN=RIGHT>0.0218</TD> </TR>
<TR> <TD>alpha</TD>
     <TD>AA</TD>
     <TD>Slope of reflectivity
</TD>
<TD ALIGN=RIGHT>6.07</TD> </TR>
<TR> <TD>m</TD>
     <TD>1</TD>
     <TD>m-value of material for all mirrors, 
zero means complete absorption.
</TD>
<TD ALIGN=RIGHT>2</TD> </TR>
<TR> <TD>W</TD>
     <TD>AA-1</TD>
     <TD>Width of supermirror cut-off
</TD>
<TD ALIGN=RIGHT>0.003</TD> </TR>
<TR> <TD>alpharight</TD>
     <TD>AA</TD>
     <TD>Slope of reflectivity for right vertical mirror
</TD>
<TD ALIGN=RIGHT>-1</TD> </TR>
<TR> <TD>mright</TD>
     <TD>1</TD>
     <TD>m-value of material for right vertical mirror
</TD>
<TD ALIGN=RIGHT>-1</TD> </TR>
<TR> <TD>alphaleft</TD>
     <TD>AA</TD>
     <TD>Slope of reflectivity for left vertical mirror
</TD>
<TD ALIGN=RIGHT>-1</TD> </TR>
<TR> <TD>mleft</TD>
     <TD>1</TD>
     <TD>m-value of material for left vertical mirror
</TD>
<TD ALIGN=RIGHT>-1</TD> </TR>
<TR> <TD>alphatop</TD>
     <TD>AA</TD>
     <TD>Slope of reflectivity for top horizontal mirror, 
overwrites alpha
</TD>
<TD ALIGN=RIGHT>-1</TD> </TR>
<TR> <TD>mtop</TD>
     <TD>1</TD>
     <TD>m-value of material for top horizontal mirror, 
overwrites m
</TD>
<TD ALIGN=RIGHT>-1</TD> </TR>
<TR> <TD>alphabottom</TD>
     <TD>AA</TD>
     <TD>Slope of reflectivity for bottom horizontal mirror
</TD>
<TD ALIGN=RIGHT>-1</TD> </TR>
<TR> <TD>mbottom</TD>
     <TD>1</TD>
     <TD>m-value of material for bottom horizontal mirror
</TD>
<TD ALIGN=RIGHT>-1</TD> </TR>
<TR> <TD>verbose</TD>
     <TD>bool</TD>
     <TD>Give extra information about calculations
</TD>
<TD ALIGN=RIGHT>"on"</TD> </TR>
<TR> <TD>curvature</TD>
     <TD>m</TD>
     <TD>Simulate horizontal radius of curvature by centripetal force added to the gravity. Note: Does not curve the guide in mcdisplay but "curves the neutron". Has opposite sign definition of Guide_curved.
</TD>
<TD ALIGN=RIGHT>0</TD> </TR>
</TABLE>


<H2><A NAME=opar></A>Output parameters</H2>
<TABLE BORDER=1>
<TR><TH>Name</TH>  <TH>Unit</TH>  <TH>Description</TH> <TH>Default</TH></TR>
<TR> <TD><B>
	guideInfo</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>latestParticleCollision</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>Gx</B></TD>
     <TD>-</TD>
     <TD>x-component of (m/s^2) local gravity vector</TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>Gy</B></TD>
     <TD>-</TD>
     <TD>y-component of (m/s^2) local gravity vector</TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>Gz</B></TD>
     <TD>-</TD>
     <TD>z-component of (m/s^2) local gravity vector</TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>Gx0</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>Gy0</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>Gz0</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>Circ</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>dynamicalSegLength
	</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
</TABLE>


<H2><A NAME=links></A>Links</H2>

<UL>
  <LI> <A HREF="Elliptic_guide_gravity.comp">Source code</A> for <CODE>Elliptic_guide_gravity.comp</CODE>.
</UL>
<HR>
<P ALIGN=CENTER>
 [ <A href="#id">Identification</A>
 | <A href="#desc">Description</A>
 | <A href="#ipar">Input parameters</A>
 | <A href="#opar">Output parameters</A>
 | <A href="#links">Links</A> ]
</P>

<ADDRESS>
Generated automatically by McDoc, Peter Willendrup
&lt;<A HREF="mailto:peter.willendrup@risoe.dk">peter.willendrup@risoe.dk</A>&gt; /
Thu Jun 16 08:51:07 2016</ADDRESS>
</BODY></HTML>

<P><DIV align=right><A href="/download/components/contrib/Elliptic_guide_gravity.pure.html">Printable version</A></DIV><HR> <CENTER><SMALL>Last Modified: Thursday, 16-Jun-2016 10:51:07 CEST</SMALL></CENTER>
</div></TD> <!-- midleright (text) -->
 </TR> <!-- main -->
<TR bgcolor = "#ffffff" align="left">
<TD colspan="8"><a href="/search"><img
 src="/spyglass.gif" alt="Search website" align="middle" height="40"
 border="0"></a>
<a href="http://freshmeat.net/projects/mcstas"><img
 src="/link_button_3.gif" align="middle"
 border="0" alt="freshmeat.net McStas site"></a>
<a href="http://rss.mcstas.org/RSS.xml" ><img src="/rssfeed.png" align="middle" border="0" alt="RSS feed"></a>
<a href="http://mailman.mcstas.org/pipermail/mcstas-users/"><img src="/Mailman.jpg" align="middle" border="0" alt="mailinglist archive"></a>
<a href="https://svn.mccode.org/svn/McCode"><img src="/subversion_logo.png" align="middle" height="40" border="0" alt="SVN repos"></A>
<a href="http://trac.mccode.org"><img src="/trac_logo.png"
 align="middle" height="50" border="0" alt="McCode Trac"></a>
<!-- Facebook Badge START --><a
 href="http://www.facebook.com/McStas"
 target="_TOP" title="McStas"><img align="middle" src="/mcstas-fblogo.png" width="50" height="40" style="border: 0px;" /></a><!-- Facebook Badge END --></TD></TR></TABLE >

</BODY>
</HTML>

