<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<HTML><HEAD>
<TITLE>McStas: Fermi_chop2a Component</TITLE>
<LINK REV="made" HREF="mailto:peter.willendrup@risoe.dk">
</HEAD>

<BODY>

<P ALIGN=CENTER>
 [ <A href="#id">Identification</A>
 | <A href="#desc">Description</A>
 | <A href="#ipar">Input parameters</A>
 | <A href="#opar">Output parameters</A>
 | <A href="#links">Links</A> ]
</P>

<H1>The <CODE>Fermi_chop2a</CODE> Component</H1>



<H2><A NAME=id></A>Identification</H2>

<UL>
  <LI> <B>Author:</B> Garrett Granroth</B>
  <LI> <B>Origin:</B> SNS Oak Ridge,TN</B>
  <LI> <B>Date:</B> 6 Feb 2005</B>
  <LI> <B>Version:</B> 0.5</B>
</UL>
<H2><A NAME=desc></A>Description</H2>

<PRE>

</PRE>
WARNING: <B>This is a contributed Component.</B>

<H2><A NAME=ipar></A>Input parameters</H2>
Parameters in <B>boldface</B> are required;
the others are optional.
<TABLE BORDER=1>
<TR><TH>Name</TH>  <TH>Unit</TH>  <TH>Description</TH> <TH>Default</TH></TR>
<TR> <TD><B>len</B></TD>
     <TD>m</TD>
     <TD>slit package length </TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>w</B></TD>
     <TD>m</TD>
     <TD>slit package width </TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>nu</B></TD>
     <TD>Hz</TD>
     <TD>frequency </TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>delta</B></TD>
     <TD>sec</TD>
     <TD>time from edge of chopper to center Phase angle </TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>tc</B></TD>
     <TD>sec</TD>
     <TD>time when desired neutron is at the center of the chopper </TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>ymin</B></TD>
     <TD>m</TD>
     <TD>Lower y bound </TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>ymax</B></TD>
     <TD>m</TD>
     <TD>Upper y bound </TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>nchan</B></TD>
     <TD>1</TD>
     <TD>number of channels in chopper </TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>bw</B></TD>
     <TD>m</TD>
     <TD>blade width </TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>blader</B></TD>
     <TD>m</TD>
     <TD>blade radius </TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
</TABLE>


<H2><A NAME=opar></A>Output parameters</H2>
<TABLE BORDER=1>
<TR><TH>Name</TH>  <TH>Unit</TH>  <TH>Description</TH> <TH>Default</TH></TR>
<TR> <TD><B>omega</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>r_blade</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>x_width</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>nn</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>tdr</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
</TABLE>


<H2><A NAME=links></A>Links</H2>

<UL>
  <LI> <A HREF="Fermi_chop2a.comp">Source code</A> for <CODE>Fermi_chop2a.comp</CODE>.
</UL>
<HR>
<P ALIGN=CENTER>
 [ <A href="#id">Identification</A>
 | <A href="#desc">Description</A>
 | <A href="#ipar">Input parameters</A>
 | <A href="#opar">Output parameters</A>
 | <A href="#links">Links</A> ]
</P>

<ADDRESS>
Generated automatically by McDoc, Peter Willendrup
&lt;<A HREF="mailto:peter.willendrup@risoe.dk">peter.willendrup@risoe.dk</A>&gt; /
Thu Jun 16 08:51:07 2016</ADDRESS>
</BODY></HTML>
