<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<HTML><HEAD>
<TITLE>McStas: ISIS_moderator Component</TITLE>
<LINK REV="made" HREF="mailto:peter.willendrup@risoe.dk">
</HEAD>

<BODY>

<P ALIGN=CENTER>
 [ <A href="#id">Identification</A>
 | <A href="#desc">Description</A>
 | <A href="#ipar">Input parameters</A>
 | <A href="#opar">Output parameters</A>
 | <A href="#links">Links</A> ]
</P>

<H1>The <CODE>ISIS_moderator</CODE> Component</H1>

ISIS Moderators


<H2><A NAME=id></A>Identification</H2>

<UL>
  <LI> <B>Author:</B> S. Ansell and D. Champion</B>
  <LI> <B>Origin:</B> ISIS</B>
  <LI> <B>Date:</B> AUGUST 2005</B>
  <LI> <B>Version:</B> $Revision$</B>
</UL>
<H2><A NAME=desc></A>Description</H2>

<PRE>
Produces a TS1 or TS2 ISIS moderator distribution.  The Face argument determines which moderator
is to be sampled. Each face uses a different Etable file (the location of which is determined by
the MCTABLES environment variable).  Neutrons are created having a range of energies
determined by the Emin and Emax arguments.  Trajectories are produced such that they pass
through the moderator face (defined by modXsixe and yheight) and a focusing rectangle
(defined by xh,focus_yh and dist).  Please download the documentation for precise instructions for use.

Example:   ISIS_moderator(Face ="water", Emin = 49.0,Emax = 51.0, dist = 1.0, focus_xw = 0.01,
   focus_yh = 0.01, xwidth = 0.074, yheight = 0.074, CAngle = 0.0,SAC= 1)

</PRE>
WARNING: <B>This is a contributed Component.</B>

<H2><A NAME=ipar></A>Input parameters</H2>
Parameters in <B>boldface</B> are required;
the others are optional.
<TABLE BORDER=1>
<TR><TH>Name</TH>  <TH>Unit</TH>  <TH>Description</TH> <TH>Default</TH></TR>
<TR> <TD>Face</TD>
     <TD>word</TD>
     <TD>Name of the face - TS2=groove,hydrogen,narrow,broad -
- TS1=Water,ch4,h2,merlin or instrument name eg maps, crisp etc.
- TS2= W1-9 Emax-9
</TD>
<TD ALIGN=RIGHT>"hydrogen"</TD> </TR>
<TR> <TD>Emin</TD>
     <TD>meV</TD>
     <TD>Lower edge of energy distribution
</TD>
<TD ALIGN=RIGHT>49.0</TD> </TR>
<TR> <TD>Emax</TD>
     <TD>meV</TD>
     <TD>Upper edge of energy distribution
</TD>
<TD ALIGN=RIGHT>51.0</TD> </TR>
<TR> <TD>dist</TD>
     <TD>m</TD>
     <TD>Distance from source to the focusing rectangle
</TD>
<TD ALIGN=RIGHT>1.0</TD> </TR>
<TR> <TD>focus_xw</TD>
     <TD>m</TD>
     <TD>Width of focusing rectangle
</TD>
<TD ALIGN=RIGHT>0.01</TD> </TR>
<TR> <TD>focus_yh</TD>
     <TD>m</TD>
     <TD>Height of focusing rectangle
</TD>
<TD ALIGN=RIGHT>0.01</TD> </TR>
<TR> <TD>xwidth</TD>
     <TD>m</TD>
     <TD>Moderator vertical size
</TD>
<TD ALIGN=RIGHT>0.074</TD> </TR>
<TR> <TD>yheight</TD>
     <TD>m</TD>
     <TD>Moderator Horizontal size
</TD>
<TD ALIGN=RIGHT>0.074</TD> </TR>
<TR> <TD>CAngle</TD>
     <TD>radians</TD>
     <TD>Angle from the centre line
</TD>
<TD ALIGN=RIGHT>0.0</TD> </TR>
<TR> <TD>SAC</TD>
     <TD>boolean</TD>
     <TD>Apply solid angle correction or not (1/0)
</TD>
<TD ALIGN=RIGHT>1</TD> </TR>
<TR> <TD>Lmin</TD>
     <TD>meV</TD>
     <TD>Lower edge of wavelength distribution
</TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>Lmax</TD>
     <TD>meV</TD>
     <TD>Upper edge of wavelength distribution
</TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>target_index</TD>
     <TD>1</TD>
     <TD>relative index of component to focus at, e.g. next is +1
this is used to compute 'dist' automatically.
</TD>
<TD ALIGN=RIGHT>+1</TD> </TR>
<TR> <TD>verbose</TD>
     <TD>boolean</TD>
     <TD>Echo status information at everu 1e5'th neutron
</TD>
<TD ALIGN=RIGHT>0</TD> </TR>
</TABLE>


<H2><A NAME=opar></A>Output parameters</H2>
<TABLE BORDER=1>
<TR><TH>Name</TH>  <TH>Unit</TH>  <TH>Description</TH> <TH>Default</TH></TR>
<TR> <TD><B>p_in</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>Tnpts</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>scaleSize</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>angleArea</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>Nsim</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>Ncount</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>TS</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>rtE0</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>rtE1</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>rtmodX</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>rtmodY</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>TargetStation</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>CurrentWeight</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
</TABLE>


<H2><A NAME=links></A>Links</H2>

<UL>
  <LI> <A HREF="ISIS_moderator.comp">Source code</A> for <CODE>ISIS_moderator.comp</CODE>.
  <LI> Further <A HREF="http://www.isis.rl.ac.uk/Computing/Software/MC/index.htm">information</A> should be
downloaded from the ISIS MC website.
</UL>
<HR>
<P ALIGN=CENTER>
 [ <A href="#id">Identification</A>
 | <A href="#desc">Description</A>
 | <A href="#ipar">Input parameters</A>
 | <A href="#opar">Output parameters</A>
 | <A href="#links">Links</A> ]
</P>

<ADDRESS>
Generated automatically by McDoc, Peter Willendrup
&lt;<A HREF="mailto:peter.willendrup@risoe.dk">peter.willendrup@risoe.dk</A>&gt; /
Thu Jun 16 08:51:07 2016</ADDRESS>
</BODY></HTML>
