<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<HTML><HEAD>
<TITLE>McStas: SANSLiposomes Component</TITLE>
<LINK REV="made" HREF="mailto:peter.willendrup@risoe.dk">
</HEAD>

<BODY>

<P ALIGN=CENTER>
 [ <A href="#id">Identification</A>
 | <A href="#desc">Description</A>
 | <A href="#ipar">Input parameters</A>
 | <A href="#opar">Output parameters</A>
 | <A href="#links">Links</A> ]
</P>

<H1>The <CODE>SANSLiposomes</CODE> Component</H1>

A sample of polydisperse liposomes in solution (water).


<H2><A NAME=id></A>Identification</H2>

<UL>
  <LI> <B>Author:</B> Martin Cramer Pedersen (mcpe@nbi.dk)</B>
  <LI> <B>Origin:</B> KU-Science</B>
  <LI> <B>Date:</B> October 17, 2012</B>
  <LI> <B>Version:</B> $Revision$</B>
</UL>
<H2><A NAME=desc></A>Description</H2>

<PRE>
A component simulating the scattering from a box-shaped, thin solution (water)
of liposomes described by a pentuple-shell model.

</PRE>
WARNING: <B>This is a contributed Component.</B>

<H2><A NAME=ipar></A>Input parameters</H2>
Parameters in <B>boldface</B> are required;
the others are optional.
<TABLE BORDER=1>
<TR><TH>Name</TH>  <TH>Unit</TH>  <TH>Description</TH> <TH>Default</TH></TR>
<TR> <TD>Radius</TD>
     <TD>AA</TD>
     <TD>Average thickness of the liposomes.
</TD>
<TD ALIGN=RIGHT>800.0</TD> </TR>
<TR> <TD>Thickness</TD>
     <TD>AA</TD>
     <TD>Thickness of the bilayer.
</TD>
<TD ALIGN=RIGHT>38.89</TD> </TR>
<TR> <TD>SigmaRadius</TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>0.20</TD> </TR>
<TR> <TD>VolumeOfHeadgroup</TD>
     <TD>AA^3</TD>
     <TD>Volume of one lipid headgroup - default 
is POPC.
</TD>
<TD ALIGN=RIGHT>319.0</TD> </TR>
<TR> <TD>VolumeOfCH2Tail</TD>
     <TD>AA^3</TD>
     <TD>Volume of the CH2-chains of one lipid - 
default is POPC.
</TD>
<TD ALIGN=RIGHT>818.8</TD> </TR>
<TR> <TD>VolumeOfCH3Tail</TD>
     <TD>AA^3</TD>
     <TD>Volume of the CH3-tails of one lipid - 
default is POPC.
</TD>
<TD ALIGN=RIGHT>108.6</TD> </TR>
<TR> <TD>ScatteringLengthOfHeadgroup</TD>
     <TD>cm</TD>
     <TD>Scattering length of one lipid headgroup
- default is POPC in D2O.
</TD>
<TD ALIGN=RIGHT>7.05E-12</TD> </TR>
<TR> <TD>ScatteringLengthOfCH2Tail</TD>
     <TD>cm</TD>
     <TD>Scattering length of the CH2-chains of   
one lipid - default is POPC in D2O.
</TD>
<TD ALIGN=RIGHT>-1.76E-12</TD> </TR>
<TR> <TD>ScatteringLengthOfCH3Tail</TD>
     <TD>cm</TD>
     <TD>Scattering length of the CH3-tails of  
one lipid - default is POPC in D2O.
</TD>
<TD ALIGN=RIGHT>-9.15E-13</TD> </TR>
<TR> <TD>Concentration</TD>
     <TD>mM</TD>
     <TD>Concentration of sample.
</TD>
<TD ALIGN=RIGHT>0.01</TD> </TR>
<TR> <TD>RhoSolvent</TD>
     <TD>cm/AA^3</TD>
     <TD>Scattering length density of solvent - 
default is D2O.
</TD>
<TD ALIGN=RIGHT>6.4e-14</TD> </TR>
<TR> <TD>AbsorptionCrosssection</TD>
     <TD>1/m</TD>
     <TD>Absorption cross section of the sample.
</TD>
<TD ALIGN=RIGHT>0.0</TD> </TR>
<TR> <TD><B>xwidth</B></TD>
     <TD>m</TD>
     <TD>Dimension of component in the x-direction.
</TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>yheight</B></TD>
     <TD>m</TD>
     <TD>Dimension of component in the y-direction.
</TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>zdepth</B></TD>
     <TD>m</TD>
     <TD>Dimension of component in the z-direction.
</TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>SampleToDetectorDistance</B></TD>
     <TD>m</TD>
     <TD>Distance from sample to detector (for 
focusing the scattered neutrons).
</TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>DetectorRadius</B></TD>
     <TD>m</TD>
     <TD>Radius of the detector (for focusing the 
scattered neutrons).
</TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
</TABLE>


<H2><A NAME=links></A>Links</H2>

<UL>
  <LI> <A HREF="SANSLiposomes.comp">Source code</A> for <CODE>SANSLiposomes.comp</CODE>.
</UL>
<HR>
<P ALIGN=CENTER>
 [ <A href="#id">Identification</A>
 | <A href="#desc">Description</A>
 | <A href="#ipar">Input parameters</A>
 | <A href="#opar">Output parameters</A>
 | <A href="#links">Links</A> ]
</P>

<ADDRESS>
Generated automatically by McDoc, Peter Willendrup
&lt;<A HREF="mailto:peter.willendrup@risoe.dk">peter.willendrup@risoe.dk</A>&gt; /
Thu Jun 16 08:51:07 2016</ADDRESS>
</BODY></HTML>
