<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<HTML><HEAD>
<TITLE>McStas: Transmission_polarisatorABSnT Component</TITLE>
<LINK REV="made" HREF="mailto:peter.willendrup@risoe.dk">
</HEAD>

<BODY>

<P ALIGN=CENTER>
 [ <A href="#id">Identification</A>
 | <A href="#desc">Description</A>
 | <A href="#ipar">Input parameters</A>
 | <A href="#opar">Output parameters</A>
 | <A href="#links">Links</A> ]
</P>

<H1>The <CODE>Transmission_polarisatorABSnT</CODE> Component</H1>

Component: Transmission_polarisatorABSnT
        The main source code was taken from Gravity_guide (ver 1.6ill)
Example: Gravity_guide(w1=0.1, h1=0.1, w2=0.1, h2=0.1, l=12, 
          R0=0.99, Qc=0.021, alpha=6.07, m=1.0, W=0.003, k=1, d=0.0005)
Example: Transmission_polarisatorABSnT(w1=0.050, h1=0.050,
                                       w2=0.050, h2=0.050, l=2.700,
                                       waferD=0.0003, FeD=2.16e-06,
                                       Si_i=0.2, Si_a=0.215,
                                       R0=0.99, Qc=0.02174, alpha=4.25, W=0.001,
                                       mleft=1.2, mright=1.2, mtop=1.2, mbottom=1.2,
                                       R0_up=0.99, Qc_up=0.014, alpha_up=2.25, W_up=0.0025, mup=1.0,
                                       R0_down=0.99, Qc_down=0.02174, alpha_down=3.8, W_down=0.00235, mdown=2.5)


<H2><A NAME=id></A>Identification</H2>

<UL>
  <LI> <B>Author:</B> Andreas Ostermann</B>
  <LI> <B>Origin:</B> McStas 1.8/<a href="http://www.ill.fr">ILL (France)</a>.</B>
  <LI> <B>Date:</B>(Unknown)</B>
  <LI> <B>Version:</B>(Unknown)</B>
</UL>
<H2><A NAME=desc></A>Description</H2>

<PRE>

</PRE>
WARNING: <B>This is a contributed Component.</B>

<H2><A NAME=ipar></A>Input parameters</H2>
Parameters in <B>boldface</B> are required;
the others are optional.
<TABLE BORDER=1>
<TR><TH>Name</TH>  <TH>Unit</TH>  <TH>Description</TH> <TH>Default</TH></TR>
<TR> <TD><B>w1</B></TD>
     <TD>m</TD>
     <TD>Width at the polarizer entry
</TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>h1</B></TD>
     <TD>m</TD>
     <TD>Height at the polarizer entry
</TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>w2</B></TD>
     <TD>m</TD>
     <TD>Width at the polarizer exit
</TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>h2</B></TD>
     <TD>m</TD>
     <TD>Height at the polarizer exit
</TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>l</B></TD>
     <TD>m</TD>
     <TD>length of polarizer
</TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>waferD</B></TD>
     <TD>m</TD>
     <TD>Thickness of Si wafer
</TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>Si_i</B></TD>
     <TD>barns</TD>
     <TD>Scattering cross section per atom (barns)
</TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>Si_a</B></TD>
     <TD>barns</TD>
     <TD>Absorption cross section per atom (barns) at 2200m/s
</TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>FeD</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD>R0</TD>
     <TD>1</TD>
     <TD>Low-angle reflectivity of the outer guide
</TD>
<TD ALIGN=RIGHT>0.99</TD> </TR>
<TR> <TD>Qc</TD>
     <TD>AA-1</TD>
     <TD>Critical scattering vector of the outer guide
</TD>
<TD ALIGN=RIGHT>0.02174</TD> </TR>
<TR> <TD>alpha</TD>
     <TD>AA</TD>
     <TD>Slope of reflectivity of the outer guide
</TD>
<TD ALIGN=RIGHT>4.25</TD> </TR>
<TR> <TD>W</TD>
     <TD>AA-1</TD>
     <TD>Width of supermirror cut-off of the outer guide
</TD>
<TD ALIGN=RIGHT>0.001</TD> </TR>
<TR> <TD>R0_up</TD>
     <TD>1</TD>
     <TD>Low-angle reflectivity of the Fe/Si-wafer for spin up neutrons
</TD>
<TD ALIGN=RIGHT>0.99</TD> </TR>
<TR> <TD>Qc_up</TD>
     <TD>AA-1</TD>
     <TD>Critical scattering vector of the Fe/Si-wafer for spin up neutrons
</TD>
<TD ALIGN=RIGHT>0.0109</TD> </TR>
<TR> <TD>alpha_up</TD>
     <TD>AA</TD>
     <TD>Slope of reflectivity of the Fe/Si-wafer for spin up neutrons
</TD>
<TD ALIGN=RIGHT>4.25</TD> </TR>
<TR> <TD>W_up</TD>
     <TD>AA-1</TD>
     <TD>Width of supermirror cut-off of the Fe/Si-wafer for spin up neutrons
</TD>
<TD ALIGN=RIGHT>0.0025</TD> </TR>
<TR> <TD>R0_down</TD>
     <TD>1</TD>
     <TD>Low-angle reflectivity of the Fe/Si-wafer for spin down neutrons
</TD>
<TD ALIGN=RIGHT>0.99</TD> </TR>
<TR> <TD>Qc_down</TD>
     <TD>AA-1</TD>
     <TD>Critical scattering vector of the Fe/Si-wafer for spin down neutrons
</TD>
<TD ALIGN=RIGHT>0.02174</TD> </TR>
<TR> <TD>alpha_down</TD>
     <TD>AA</TD>
     <TD>Slope of reflectivity of the Fe/Si-wafer for spin down neutrons
</TD>
<TD ALIGN=RIGHT>6.25</TD> </TR>
<TR> <TD>W_down</TD>
     <TD>AA-1</TD>
     <TD>Width of supermirror cut-off of the Fe/Si-wafer for spin down neutrons
</TD>
<TD ALIGN=RIGHT>0.001</TD> </TR>
<TR> <TD>mleft</TD>
     <TD>1</TD>
     <TD>m-value of material for left.   vert. mirror of the outer guide
</TD>
<TD ALIGN=RIGHT>-1</TD> </TR>
<TR> <TD>mright</TD>
     <TD>1</TD>
     <TD>m-value of material for right.  vert. mirror of the outer guide
</TD>
<TD ALIGN=RIGHT>-1</TD> </TR>
<TR> <TD>mtop</TD>
     <TD>1</TD>
     <TD>m-value of material for top.    horz. mirror of the outer guide
</TD>
<TD ALIGN=RIGHT>-1</TD> </TR>
<TR> <TD>mbottom</TD>
     <TD>1</TD>
     <TD>m-value of material for bottom. horz. mirror of the outer guide
</TD>
<TD ALIGN=RIGHT>-1</TD> </TR>
<TR> <TD>mup</TD>
     <TD>1</TD>
     <TD>m-value of the Fe/Si-wafer for spin up neutrons
</TD>
<TD ALIGN=RIGHT>-1</TD> </TR>
<TR> <TD>mdown</TD>
     <TD>1</TD>
     <TD>m-value of the Fe/Si-wafer for spin down neutrons
</TD>
<TD ALIGN=RIGHT>-1</TD> </TR>
</TABLE>


<H2><A NAME=opar></A>Output parameters</H2>
<TABLE BORDER=1>
<TR><TH>Name</TH>  <TH>Unit</TH>  <TH>Description</TH> <TH>Default</TH></TR>
<TR> <TD><B>Vars</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
</TABLE>


<H2><A NAME=links></A>Links</H2>

<UL>
  <LI> <A HREF="Transmission_polarisatorABSnT.comp">Source code</A> for <CODE>Transmission_polarisatorABSnT.comp</CODE>.
</UL>
<HR>
<P ALIGN=CENTER>
 [ <A href="#id">Identification</A>
 | <A href="#desc">Description</A>
 | <A href="#ipar">Input parameters</A>
 | <A href="#opar">Output parameters</A>
 | <A href="#links">Links</A> ]
</P>

<ADDRESS>
Generated automatically by McDoc, Peter Willendrup
&lt;<A HREF="mailto:peter.willendrup@risoe.dk">peter.willendrup@risoe.dk</A>&gt; /
Thu Jun 16 08:51:07 2016</ADDRESS>
</BODY></HTML>
