<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<HTML><HEAD>
<TITLE>McStas: ESS_Brilliance_2015 Instrument at  ESS</TITLE>
<LINK REV="made" HREF="mailto:peter.willendrup@risoe.dk">
</HEAD>

<BODY>

<P ALIGN=CENTER>
 [ <A href="#id">Identification</A>
 | <A href="#desc">Description</A>
 | <A href="#ipar">Input parameters</A>
 | <A href="#opar">Output parameters</A>
 | <A href="#links">Links</A> ]
</P>

<H1>The <CODE>ESS_Brilliance_2015</CODE> Instrument</H1>

This instrument produces the ESS 2014 updated brilliance, including the "pancake" moderator option.


<H2><A NAME=id></A>Identification</H2>

<UL>
  <LI> <B>Site:    ESS</B>
  <LI> <B>Author:</B> Peter Willendrup (pkwi@fysik.dtu.dk)</B>
  <LI> <B>Origin:</B> DTU Fysik</B>
  <LI> <B>Date:</B> 20130425</B>
  <LI> <B>Version:</B> 0.2</B>
</UL>
<H2><A NAME=desc></A>Description</H2>

<PRE>
This instrument produces the ESS 2014 updated brilliance, including the "pancake" moderator option.

The Brilliance_monitor is used to determine both the mean and peak brilliances, plus pulse-shapes for different wavelengths.

Note that to reproduce the curves listed in Troels Schoenfeldt's paper on the topic, you need to look at the "collimated" monitors that 
take neutrons from only part of the moderator surface.

Note also that the 2014 version of the moderator spectra emits neutrons from a FLAT surface through the component origo, positioned tangentially to 
the cold moderator "bucket". This means that you may need to shift the position of the moderator along z, when introducing it to your existing instruments.

</PRE>

<H2><A NAME=ipar></A>Input parameters</H2>
Parameters in <B>boldface</B> are required;
the others are optional.
<TABLE BORDER=1>
<TR><TH>Name</TH>  <TH>Unit</TH>  <TH>Description</TH> <TH>Default</TH></TR>
<TR> <TD>frac</TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>0.5</TD> </TR>
<TR> <TD>power</TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>5</TD> </TR>
<TR> <TD>Yheight</TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>0.03</TD> </TR>
<TR> <TD>np</TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>1</TD> </TR>
<TR> <TD>lambdamin</TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>lambdamax</TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>20</TD> </TR>
<TR> <TD>ANGLE</TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>15</TD> </TR>
</TABLE>


<H2><A NAME=links></A>Links</H2>

<UL>
  <LI> <A HREF="ESS_Brilliance_2015.instr">Source code</A> for <CODE>ESS_Brilliance_2015.instr</CODE>.
  <LI> A reference/HTML link for more information

</UL>
<HR>
<P ALIGN=CENTER>
 [ <A href="#id">Identification</A>
 | <A href="#desc">Description</A>
 | <A href="#ipar">Input parameters</A>
 | <A href="#opar">Output parameters</A>
 | <A href="#links">Links</A> ]
</P>

<ADDRESS>
Generated automatically by McDoc, Peter Willendrup
&lt;<A HREF="mailto:peter.willendrup@risoe.dk">peter.willendrup@risoe.dk</A>&gt; /
Thu Jun 16 08:51:07 2016</ADDRESS>
</BODY></HTML>
