<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<HTML><HEAD>
<TITLE>McStas: FZJ_KWS2_Lens Instrument at  FZ_Juelich</TITLE>
<LINK REV="made" HREF="mailto:peter.willendrup@risoe.dk">
</HEAD>

<BODY>

<P ALIGN=CENTER>
 [ <A href="#id">Identification</A>
 | <A href="#desc">Description</A>
 | <A href="#ipar">Input parameters</A>
 | <A href="#opar">Output parameters</A>
 | <A href="#links">Links</A> ]
</P>

<H1>The <CODE>FZJ_KWS2_Lens</CODE> Instrument</H1>

FZ Juelich KWS2 SANS, serving as test instrument for the Lens_simple component.


<H2><A NAME=id></A>Identification</H2>

<UL>
  <LI> <B>Site:    FZ_Juelich</B>
  <LI> <B>Author:</B> Henrich Frielinghaus</B>
  <LI> <B>Origin:</B> FZ Juelich</B>
  <LI> <B>Date:</B> June 2010</B>
  <LI> <B>Version:</B>(Unknown)</B>
</UL>
<H2><A NAME=desc></A>Description</H2>

<PRE>
This instrument is a test instrument for the Lens_simple component.

Notice effect of gravitation on the final beam.


</PRE>

<H2><A NAME=ipar></A>Input parameters</H2>
Parameters in <B>boldface</B> are required;
the others are optional.
<TABLE BORDER=1>
<TR><TH>Name</TH>  <TH>Unit</TH>  <TH>Description</TH> <TH>Default</TH></TR>
<TR> <TD>lambda</TD>
     <TD>AA</TD>
     <TD>Mean wavelength of neutrons                 </TD>
<TD ALIGN=RIGHT>20.15</TD> </TR>
<TR> <TD>dlambda</TD>
     <TD>AA</TD>
     <TD>Wavelength spread of neutrons (fwhm)        </TD>
<TD ALIGN=RIGHT>2.015</TD> </TR>
<TR> <TD>FLUX</TD>
     <TD>1</TD>
     <TD>Source flux normalization constant          </TD>
<TD ALIGN=RIGHT>1e8</TD> </TR>
<TR> <TD>NGblen</TD>
     <TD>1</TD>
     <TD>Defining source radius (is \sqrt(2)*NGblen) </TD>
<TD ALIGN=RIGHT>0.03</TD> </TR>
<TR> <TD>Cblen</TD>
     <TD>m</TD>
     <TD>Dimension of rectangular guide              </TD>
<TD ALIGN=RIGHT>0.005</TD> </TR>
<TR> <TD>Clen</TD>
     <TD>m</TD>
     <TD>Distance source-guide                       </TD>
<TD ALIGN=RIGHT>20.0</TD> </TR>
<TR> <TD>Dlen</TD>
     <TD>m</TD>
     <TD>Placement of final detector                 </TD>
<TD ALIGN=RIGHT>20.0</TD> </TR>
<TR> <TD>Rlense</TD>
     <TD>m</TD>
     <TD>Radius of lens                              </TD>
<TD ALIGN=RIGHT>0.025</TD> </TR>
</TABLE>


<H2><A NAME=links></A>Links</H2>

<UL>
  <LI> <A HREF="FZJ_KWS2_Lens.instr">Source code</A> for <CODE>FZJ_KWS2_Lens.instr</CODE>.
  <LI> The Lens_simple component
</UL>
<HR>
<P ALIGN=CENTER>
 [ <A href="#id">Identification</A>
 | <A href="#desc">Description</A>
 | <A href="#ipar">Input parameters</A>
 | <A href="#opar">Output parameters</A>
 | <A href="#links">Links</A> ]
</P>

<ADDRESS>
Generated automatically by McDoc, Peter Willendrup
&lt;<A HREF="mailto:peter.willendrup@risoe.dk">peter.willendrup@risoe.dk</A>&gt; /
Thu Jun 16 08:51:07 2016</ADDRESS>
</BODY></HTML>
