<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<HTML><HEAD>
<TITLE>McStas: Granroth_SNS_decoupled_poisoned Instrument at  SNS</TITLE>
<LINK REV="made" HREF="mailto:peter.willendrup@risoe.dk">
</HEAD>

<BODY>

<P ALIGN=CENTER>
 [ <A href="#id">Identification</A>
 | <A href="#desc">Description</A>
 | <A href="#ipar">Input parameters</A>
 | <A href="#opar">Output parameters</A>
 | <A href="#links">Links</A> ]
</P>

<H1>The <CODE>Granroth_SNS_decoupled_poisoned</CODE> Instrument</H1>



<H2><A NAME=id></A>Identification</H2>

<UL>
  <LI> <B>Site:    SNS</B>
  <LI> <B>Author:</B>(Unknown)</B>
  <LI> <B>Origin:</B>(Unknown)</B>
  <LI> <B>Date:</B>(Unknown)</B>
  <LI> <B>Version:</B>(Unknown)</B>
</UL>
<H2><A NAME=desc></A>Description</H2>

<PRE>

Simple instrumentfile for estimating SNS brilliance, moderator is a the Granroth SNS_source applying linear interpolation in MCNPX tables.

</PRE>

<H2><A NAME=ipar></A>Input parameters</H2>
Parameters in <B>boldface</B> are required;
the others are optional.
<TABLE BORDER=1>
<TR><TH>Name</TH>  <TH>Unit</TH>  <TH>Description</TH> <TH>Default</TH></TR>
<TR> <TD>Lambda_min</TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>0.5</TD> </TR>
<TR> <TD>Lambda_max</TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>20</TD> </TR>
</TABLE>


<H2><A NAME=links></A>Links</H2>

<UL>
  <LI> <A HREF="Granroth_SNS_decoupled_poisoned.instr">Source code</A> for <CODE>Granroth_SNS_decoupled_poisoned.instr</CODE>.
  <LI> 
</UL>
<HR>
<P ALIGN=CENTER>
 [ <A href="#id">Identification</A>
 | <A href="#desc">Description</A>
 | <A href="#ipar">Input parameters</A>
 | <A href="#opar">Output parameters</A>
 | <A href="#links">Links</A> ]
</P>

<ADDRESS>
Generated automatically by McDoc, Peter Willendrup
&lt;<A HREF="mailto:peter.willendrup@risoe.dk">peter.willendrup@risoe.dk</A>&gt; /
Thu Jun 16 08:51:07 2016</ADDRESS>
</BODY></HTML>
