<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<HTML><HEAD>
<TITLE>McStas: h8_test_legacy Instrument at  Brookhaven</TITLE>
<LINK REV="made" HREF="mailto:peter.willendrup@risoe.dk">
</HEAD>

<BODY>

<P ALIGN=CENTER>
 [ <A href="#id">Identification</A>
 | <A href="#desc">Description</A>
 | <A href="#ipar">Input parameters</A>
 | <A href="#opar">Output parameters</A>
 | <A href="#links">Links</A> ]
</P>

<H1>The <CODE>h8_test_legacy</CODE> Instrument</H1>

The former thermal H8 triple-axis spectrometer from Brookhaven reactor, 1.12c-comparable


<H2><A NAME=id></A>Identification</H2>

<UL>
  <LI> <B>Site:    Brookhaven</B>
  <LI> <B>Author:</B> <a href="mailto:farhi@ill.fr">Emmanuel Farhi</a></B>
  <LI> <B>Origin:</B> <a href="http://www.ill.fr">ILL (France)</a></B>
  <LI> <B>Date:</B> 1st Feb 2001.</B>
  <LI> <B>Version:</B> 1.10 </B>
</UL>
<H2><A NAME=desc></A>Description</H2>

<PRE>
This instrument is a simple model of the thermal H8 triple-axis spectrometer
from former Brookhaven reactor. It is directly illuminated by the moderator,
and has flat monochromator and analyzer. Sample is a vanadium cylinder.
Such an instrument was used for the Monte Carlo neutron simulation package
cross comparison related in paper "A Model Instrument for Monte Carlo Code
Comparisons", Neutron News 13 (No. 4), 24-29 (2002).

This version of the instrument does not use the SPLIT keyword and is comparable
to the version provided with McStas 1.12c. Has been added for benchmarking
purposes only.

Example: mcrun h8_test_legacy.instr Lambda=2.36

</PRE>

<H2><A NAME=ipar></A>Input parameters</H2>
Parameters in <B>boldface</B> are required;
the others are optional.
<TABLE BORDER=1>
<TR><TH>Name</TH>  <TH>Unit</TH>  <TH>Description</TH> <TH>Default</TH></TR>
<TR> <TD>Lambda</TD>
     <TD>Angs</TD>
     <TD>source energy      </TD>
<TD ALIGN=RIGHT>2.36</TD> </TR>
</TABLE>


<H2><A NAME=links></A>Links</H2>

<UL>
  <LI> <A HREF="h8_test_legacy.instr">Source code</A> for <CODE>h8_test_legacy.instr</CODE>.
  <LI> Neutron News 13 (No. 4), 24-29 (2002).

</UL>
<HR>
<P ALIGN=CENTER>
 [ <A href="#id">Identification</A>
 | <A href="#desc">Description</A>
 | <A href="#ipar">Input parameters</A>
 | <A href="#opar">Output parameters</A>
 | <A href="#links">Links</A> ]
</P>

<ADDRESS>
Generated automatically by McDoc, Peter Willendrup
&lt;<A HREF="mailto:peter.willendrup@risoe.dk">peter.willendrup@risoe.dk</A>&gt; /
Thu Jun 16 08:51:08 2016</ADDRESS>
</BODY></HTML>
