<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<HTML><HEAD>
<TITLE>McStas: HZB_FLEX Instrument at  HZB</TITLE>
<LINK REV="made" HREF="mailto:peter.willendrup@risoe.dk">
</HEAD>

<BODY>

<P ALIGN=CENTER>
 [ <A href="#id">Identification</A>
 | <A href="#desc">Description</A>
 | <A href="#ipar">Input parameters</A>
 | <A href="#opar">Output parameters</A>
 | <A href="#links">Links</A> ]
</P>

<H1>The <CODE>HZB_FLEX</CODE> Instrument</H1>

Instrument short description
Primary and secondary spectrometer for the FLEX upgrade


<H2><A NAME=id></A>Identification</H2>

<UL>
  <LI> <B>Site:    HZB</B>
  <LI> <B>Author:</B> M. Skoulatos and K. Habicht, port to McStas 2.0 by Mathias Kure KU</B>
  <LI> <B>Origin:</B> Helmholtz-Zentrum Berlin</B>
  <LI> <B>Date:</B> 26 October 2010</B>
  <LI> <B>Version:</B>(Unknown)</B>
</UL>

<H2><A NAME=ipar></A>Input parameters</H2>
Parameters in <B>boldface</B> are required;
the others are optional.
<TABLE BORDER=1>
<TR><TH>Name</TH>  <TH>Unit</TH>  <TH>Description</TH> <TH>Default</TH></TR>
<TR> <TD>kI</TD>
     <TD>inv AA</TD>
     <TD>incident wavevector
</TD>
<TD ALIGN=RIGHT>1.55</TD> </TR>
<TR> <TD>kF</TD>
     <TD>inv AA</TD>
     <TD>outgoing wavevector
</TD>
<TD ALIGN=RIGHT>1.55</TD> </TR>
<TR> <TD>wVS</TD>
     <TD>m</TD>
     <TD>Width of virtual source slit
</TD>
<TD ALIGN=RIGHT>0.03</TD> </TR>
<TR> <TD>tilt</TD>
     <TD>deg</TD>
     <TD>Tilt angle for velocity selector
</TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>SA</TD>
     <TD>1</TD>
     <TD>Analyzer scattering sense
</TD>
<TD ALIGN=RIGHT>-1</TD> </TR>
<TR> <TD>A3</TD>
     <TD>deg</TD>
     <TD>Sample omega angle
</TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>A4</TD>
     <TD>deg</TD>
     <TD>Sample 2-theta angle
</TD>
<TD ALIGN=RIGHT>70</TD> </TR>
<TR> <TD>L3</TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>1.00</TD> </TR>
<TR> <TD>L4</TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>1.00</TD> </TR>
<TR> <TD>Mono_flatswitch</TD>
     <TD>1</TD>
     <TD>Flag for flat or curved monochromator
</TD>
<TD ALIGN=RIGHT>0</TD> </TR>
</TABLE>


<H2><A NAME=links></A>Links</H2>

<UL>
  <LI> <A HREF="HZB_FLEX.instr">Source code</A> for <CODE>HZB_FLEX.instr</CODE>.
</UL>
<HR>
<P ALIGN=CENTER>
 [ <A href="#id">Identification</A>
 | <A href="#desc">Description</A>
 | <A href="#ipar">Input parameters</A>
 | <A href="#opar">Output parameters</A>
 | <A href="#links">Links</A> ]
</P>

<ADDRESS>
Generated automatically by McDoc, Peter Willendrup
&lt;<A HREF="mailto:peter.willendrup@risoe.dk">peter.willendrup@risoe.dk</A>&gt; /
Thu Jun 16 08:51:07 2016</ADDRESS>
</BODY></HTML>
