<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<HTML><HEAD>
<TITLE>McStas: ILL_H53_IN14 Instrument at  ILL</TITLE>
<LINK REV="made" HREF="mailto:peter.willendrup@risoe.dk">
</HEAD>

<BODY>

<P ALIGN=CENTER>
 [ <A href="#id">Identification</A>
 | <A href="#desc">Description</A>
 | <A href="#ipar">Input parameters</A>
 | <A href="#opar">Output parameters</A>
 | <A href="#links">Links</A> ]
</P>

<H1>The <CODE>ILL_H53_IN14</CODE> Instrument</H1>

IN14 cold triple-axis machine (TAS) on guide H53 with sample


<H2><A NAME=id></A>Identification</H2>

<UL>
  <LI> <B>Site:    ILL</B>
  <LI> <B>Author:</B> <a href="mailto:farhi@ill.fr">Emmanuel Farhi</a></B>
  <LI> <B>Origin:</B> <a href="http://www.ill.fr">ILL (France)</a></B>
  <LI> <B>Date:</B> 2006</B>
  <LI> <B>Version:</B> $Revision$</B>
</UL>
<H2><A NAME=desc></A>Description</H2>

<PRE>
IN14 is a high flux cold neutron three-axis spectrometer situated on a straight
58Ni coated guide looking at the horizontal cold source. IN14 is equipped with
a vertically curved (002) pyrolytic graphite monochromator. A polarising bender
can be inserted after the monochromator, for polarised neutron work.

The sample, analyser and detector units are mounted on standard Tanzboden
modules and the distance between these units may be changed if necessary. For
sample positioning, two motorized arcs (+/- 20deg), and two horizontal 
translation tables (+/- 10 mm) are available. Soller collimators can be easily 
inserted before and after the sample, and before the detector.

Three horizontally focusing analysers are available: (002) pyrolytic graphite,
bent Si(111), and Heusler (111) for polarised neutrons.

In this TAS configuration, PG002 is used as monochromator analyser, 
with a single type detector.


</PRE>

<H2><A NAME=ipar></A>Input parameters</H2>
Parameters in <B>boldface</B> are required;
the others are optional.
<TABLE BORDER=1>
<TR><TH>Name</TH>  <TH>Unit</TH>  <TH>Description</TH> <TH>Default</TH></TR>
<TR> <TD>KI</TD>
     <TD>Angs-1</TD>
     <TD>central wavevector for incoming neutrons </TD>
<TD ALIGN=RIGHT>1.55</TD> </TR>
<TR> <TD>QM</TD>
     <TD>Angs-1</TD>
     <TD>wavevector transfer modulus at the sample  </TD>
<TD ALIGN=RIGHT>1.0</TD> </TR>
<TR> <TD>EN</TD>
     <TD>meV</TD>
     <TD>energy transfer at the sample </TD>
<TD ALIGN=RIGHT>0.0</TD> </TR>
<TR> <TD>verbose</TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>1</TD> </TR>
<TR> <TD>WM</TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>0.15</TD> </TR>
<TR> <TD>HM</TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>0.12</TD> </TR>
<TR> <TD>NHM</TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>1</TD> </TR>
<TR> <TD>NVM</TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>9</TD> </TR>
<TR> <TD>RMV</TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>-1</TD> </TR>
<TR> <TD>DM</TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>3.355</TD> </TR>
<TR> <TD>WA</TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>0.20</TD> </TR>
<TR> <TD>HA</TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>0.10</TD> </TR>
<TR> <TD>NHA</TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>11</TD> </TR>
<TR> <TD>NVA</TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>1</TD> </TR>
<TR> <TD>RAV</TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>RAH</TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>-1</TD> </TR>
<TR> <TD>DA</TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>3.355</TD> </TR>
<TR> <TD>SM</TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>1</TD> </TR>
<TR> <TD>SS</TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>-1</TD> </TR>
<TR> <TD>SA</TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>1</TD> </TR>
<TR> <TD>L1</TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>7.0</TD> </TR>
<TR> <TD>L2</TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>2.12</TD> </TR>
<TR> <TD>L3</TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>1.37</TD> </TR>
<TR> <TD>L4</TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>0.7</TD> </TR>
</TABLE>


<H2><A NAME=links></A>Links</H2>

<UL>
  <LI> <A HREF="ILL_H53_IN14.instr">Source code</A> for <CODE>ILL_H53_IN14.instr</CODE>.
  <LI> The <a href="http://www.ill.fr/in14">IN14 TAS</a> at the ILL
</UL>
<HR>
<P ALIGN=CENTER>
 [ <A href="#id">Identification</A>
 | <A href="#desc">Description</A>
 | <A href="#ipar">Input parameters</A>
 | <A href="#opar">Output parameters</A>
 | <A href="#links">Links</A> ]
</P>

<ADDRESS>
Generated automatically by McDoc, Peter Willendrup
&lt;<A HREF="mailto:peter.willendrup@risoe.dk">peter.willendrup@risoe.dk</A>&gt; /
Thu Jun 16 08:51:07 2016</ADDRESS>
</BODY></HTML>
