<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<HTML><HEAD>
<TITLE>McStas: ILL_D2B Instrument at  ILL</TITLE>
<LINK REV="made" HREF="mailto:peter.willendrup@risoe.dk">
</HEAD>

<BODY>

<P ALIGN=CENTER>
 [ <A href="#id">Identification</A>
 | <A href="#desc">Description</A>
 | <A href="#ipar">Input parameters</A>
 | <A href="#opar">Output parameters</A>
 | <A href="#links">Links</A> ]
</P>

<H1>The <CODE>ILL_D2B</CODE> Instrument</H1>

Simple monochromator Diffractometer for powders


<H2><A NAME=id></A>Identification</H2>

<UL>
  <LI> <B>Site:    ILL</B>
  <LI> <B>Author:</B> C. M. I Enrique, K. Lieutenant, E. Farhi and L. Cussen</B>
  <LI> <B>Origin:</B> ILL</B>
  <LI> <B>Date:</B> 13 Apr 2006</B>
  <LI> <B>Version:</B> $Revision$</B>
</UL>
<H2><A NAME=desc></A>Description</H2>

<PRE>
The diffractometer D2B is characterised by the very high take-off angle (135 deg)
for the monochromator, which has a relatively large mosaic spread of 20' to
compensate for the corresponding intensity (dl/l) loss. It is 300 mm high,
focusing vertically onto about 50 mm; this large incident vertical divergence
is matched by 200 mm high detectors and collimators. A complete diffraction
pattern is obtained after about 100 steps of 0.025 deg in 2theta, since the 64
detectors are spaced at 2.5 deg intervals. Such scans take typically 30 minutes;
they are repeated to improve statistics.

D2B was designed for work on samples and high resolution of very large
d-spacings using wavelengths of between 2.4 Å and 6 Å. Wavelengths can easily be
changed under computer control, since they are all obtained by a simple rotation
within the Ge[hhl] plane. A large graphite filter can be switched in to provide
a very clean beam at 2.4 Angs, and a cold Be-filter can be used for longer
wavelengths.

This model implements as well the Caglioti UVW equations, that give estimates
of the instrument resolution.

Monochromator lattice parameter
Ge       111 DM=3.266 AA
Ge       311 DM=1.714 AA
Ge       511 DM=1.089 AA
Ge       533 DM=0.863 AA


</PRE>

<H2><A NAME=ipar></A>Input parameters</H2>
Parameters in <B>boldface</B> are required;
the others are optional.
<TABLE BORDER=1>
<TR><TH>Name</TH>  <TH>Unit</TH>  <TH>Description</TH> <TH>Default</TH></TR>
<TR> <TD>lambda</TD>
     <TD>Angs</TD>
     <TD>Wavelength at monochromator, computed from DM and THETA_M if left as 0.
</TD>
<TD ALIGN=RIGHT>1.594</TD> </TR>
<TR> <TD>DM</TD>
     <TD>Angs</TD>
     <TD>d-spacing of monochromator, computed from lambda and THETA_M if left as 0.
</TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>Powder</TD>
     <TD>str</TD>
     <TD>File name for powder description
</TD>
<TD ALIGN=RIGHT>"Na2Ca3Al2F14.laz"</TD> </TR>
<TR> <TD>RV</TD>
     <TD>m</TD>
     <TD>Monochromator vertical curvature, 0 for flat, -1 for automatic setting
</TD>
<TD ALIGN=RIGHT>-1</TD> </TR>
<TR> <TD>L1</TD>
     <TD>m</TD>
     <TD>Source-Monochromator distance
</TD>
<TD ALIGN=RIGHT>16.05</TD> </TR>
<TR> <TD>L2</TD>
     <TD>m</TD>
     <TD>Monochromator-Sample distance
</TD>
<TD ALIGN=RIGHT>2.645</TD> </TR>
<TR> <TD>L3</TD>
     <TD>m</TD>
     <TD>Sample-Detector distance
</TD>
<TD ALIGN=RIGHT>1.3</TD> </TR>
<TR> <TD>verbose</TD>
     <TD>1</TD>
     <TD>Print DIF configuration. 0 to be quiet
</TD>
<TD ALIGN=RIGHT>1</TD> </TR>
<TR> <TD>ALPHA1</TD>
     <TD>before monochromator</TD>
     <TD>[min]  Horizontal collimator divergence for L1 arm </TD>
<TD ALIGN=RIGHT>18</TD> </TR>
<TR> <TD>ALPHA2</TD>
     <TD>monochromator-sample</TD>
     <TD>[min]  Horizontal collimator divergence for L2 arm </TD>
<TD ALIGN=RIGHT>11</TD> </TR>
<TR> <TD>ALPHA3</TD>
     <TD>sample-detector</TD>
     <TD>[min]  Horizontal collimator divergence for L3 arm </TD>
<TD ALIGN=RIGHT>5</TD> </TR>
<TR> <TD>ETA</TD>
     <TD>gaussian</TD>
     <TD>[min]  Monochromator horizontal mosaic </TD>
<TD ALIGN=RIGHT>12</TD> </TR>
<TR> <TD>THETA_M</TD>
     <TD>deg</TD>
     <TD>Monochromator take-off angle, computed from lambda and DM if left as 0.
</TD>
<TD ALIGN=RIGHT>67.5</TD> </TR>
<TR> <TD>TILT</TD>
     <TD>deg</TD>
     <TD>Monochromator additional tilt, for rocking curves
</TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>SM</TD>
     <TD>1</TD>
     <TD>Scattering sense of beam from Monochromator. 1:left, -1:right
</TD>
<TD ALIGN=RIGHT>1</TD> </TR>
<TR> <TD>Dheight</TD>
     <TD>m</TD>
     <TD>Banana detector height
</TD>
<TD ALIGN=RIGHT>0.3</TD> </TR>
<TR> <TD>coating</TD>
     <TD>1</TD>
     <TD>Super-mirror in-beam tube guide coating
</TD>
<TD ALIGN=RIGHT>0</TD> </TR>
</TABLE>


<H2><A NAME=links></A>Links</H2>

<UL>
  <LI> <A HREF="ILL_D2B.instr">Source code</A> for <CODE>ILL_D2B.instr</CODE>.
  <LI> G. Caglioti, A. Paoletti, F.P. Ricci, Nucl. Instr. and. Meth. 3 (1958) 223
  <LI> L.D. Cussen, Nucl. Instr. and. Meth. A 554 (2005) 406
  <LI> M. Morhac, NIM A 600 (2009) 478

</UL>
<HR>
<P ALIGN=CENTER>
 [ <A href="#id">Identification</A>
 | <A href="#desc">Description</A>
 | <A href="#ipar">Input parameters</A>
 | <A href="#opar">Output parameters</A>
 | <A href="#links">Links</A> ]
</P>

<ADDRESS>
Generated automatically by McDoc, Peter Willendrup
&lt;<A HREF="mailto:peter.willendrup@risoe.dk">peter.willendrup@risoe.dk</A>&gt; /
Thu Jun 16 08:51:07 2016</ADDRESS>
</BODY></HTML>
