<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HEAD>
<META http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<LINK REL="alternate" TITLE="McStas news RSS" HREF="http://rss.mcstas.org/RSS.xml" TYPE="application/rss+xml">
<TITLE>McStas homepage</TITLE>
<STYLE>
<!--
a.menu {color: #000000}
-->
</STYLE>
<link rel="icon" href="/favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"> 
</HEAD>
<BODY text="#000000" bgcolor="#777777" link="#006699" vlink="#003366" alink="#FF0000">

<TABLE border="0" cellpadding="4" cellspacing="0" width="100%">
 <TR> <!-- top --> 
  <TD align="center" bgcolor="#ffffff" text="ffffff"> <!-- left (nrulogo) -->
   <A href="/"><IMG src="/logo-left.png" border="0" alt="McStas logo"></A>
  </TD> <!-- left (nrulogo) -->

  <TD align="center" bgcolor="#ffffff" width="10000"> <!-- midle (title) -->
    <A href="/"><img overlay src="/toplogo_animated.gif" border="0" alt="McStas - A neutron ray-trace simulation package"></A>
  </TD> <!-- midle (nrutitle) -->
  <TD align="right" bgcolor="#ffffff"><!-- right (rhhslogo) -->
    <A href="http://www.ill.fr"><IMG src="/ill-logo.png" border="0" alt="ILL;"></A>
    </TD>
  <TD align="right" bgcolor="#ffffff"><!-- right (rhhslogo) -->
    <A href="http://www.psi.ch"><IMG src="/psi-logo.png" border="0" alt="PSI;"></A> 
    </TD>
  <td align="right" bgcolor="white">
  <A href="http://www.europeanspallationsource.se/"><IMG
    src="/ESS_Logo_Frugal_Blue_cmyk.png" border="0" alt="ESS"></A></td>
  <TD align="right" bgcolor="#ffffff"><!-- right (rhhslogo) -->
  <A href="http://www.nbi.dk"><IMG src="/ku_nat.gif" border="0" alt="Niels Bohr Institute"></A></td><td align="right" bgcolor="white">
  <A href="http://www.fys.dtu.dk/"><IMG src="/DTU_logo.gif" border="0" alt="DTU Physics"></A></td><td align="right" bgcolor="white">
  <A href="http://nexmap.fysik.dtu.dk/"><IMG src="/NEXMAP_logo.png" border="0" alt="NEXMAP"></A>
  </TD> <!-- right (rhhslogo) -->
 </TR> <!-- top -->

 <TR> <!-- main -->
  <TD align="left" valign="top" bgcolor="#ffffff"> <!-- left (menu) -->
   <BR> <P style="font-family:Verdana"><B><A href="/" class="menu">McStas</A></B><BR> 
	<SMALL>
<P style="font-family:Verdana"><B><A href="/about/" class="menu">About McStas</A></B><BR> 
	<SMALL>
		&nbsp;<A href="/about/conditions" class="menu">Conditions of use</A><BR>
		&nbsp;<A href="/about/contacts" class="menu">Authors/Contacts</A><BR>
		&nbsp;<A href="/about/funding" class="menu">Project funding</A><BR>
		&nbsp;<A href="/about/screenshots" class="menu">Screenshots</A><BR>
	</SMALL>
</P> 
<P style="font-family:Verdana"><B><A href="/download/" class="menu"><font color="green">Download</font></A></B><BR> 
	<SMALL>
		&nbsp;<A href="/download/components" class="menu">Components</A><BR>
		&nbsp;<A href="/download/install_linux" class="menu"><font color="green">Linux Install (deb/rpm)</font></A><BR>
		&nbsp;<A href="/download/install_mac_os_x" class="menu"><font color="green">Mac OS X Install</font></A><BR>
		&nbsp;<A href="/download/install_unix" class="menu"><font color="green">Unix Install (src code)</font></A><BR>
		&nbsp;<A href="/download/install_windows" class="menu"><font color="green">Windows Install</font></A><BR>
		&nbsp;<A href="/download/share" class="menu"><font color="blue">Other Downloads (share)</font></A><BR>
	</SMALL>
</P> 
<P style="font-family:Verdana"><B><A href="/list/" class="menu">Mailing list</A></B><BR> 
	<SMALL>
	</SMALL>
</P> 
<P style="font-family:Verdana"><B><A href="/search/" class="menu">Search web/mailinglist</A></B><BR> 
	<SMALL>
	</SMALL>
</P> 
<P style="font-family:Verdana"><B><A href="/documentation/" class="menu">Documentation</A></B><BR> 
	<SMALL>
		&nbsp;<A href="/documentation/manual" class="menu">McStas manual</A><BR>
		&nbsp;<A href="/documentation/faq" class="menu">FAQ</A><BR>
		&nbsp;<A href="/documentation/problems" class="menu">Known problems</A><BR>
		&nbsp;<A href="/documentation/publications" class="menu">Publications</A><BR>
		&nbsp;<A href="/documentation/compilers" class="menu">C Compilers</A><BR>
		&nbsp;<A href="/documentation/other" class="menu">Other</A><BR>
		&nbsp;<A href="/documentation/tools" class="menu">Tools</A><BR>
		&nbsp;<A href="/documentation/tutorial" class="menu">Tutorial</A><BR>
	</SMALL>
</P> 
<P style="font-family:Verdana"><B><A href="/workshop/" class="menu">Workshops/conferences</A></B><BR> 
	<SMALL>
	</SMALL>
</P> 
<P style="font-family:Verdana"><B><A href="/developments/" class="menu">Developments</A></B><BR> 
	<SMALL>
	</SMALL>
</P> 
<P style="font-family:Verdana"><B><A href="/links/" class="menu">Links</A></B><BR> 
	<SMALL>
	</SMALL>
</P> 
<P style="font-family:Verdana"><B><A href="/McZilla/" class="menu">Report bugs</A></B><BR> 
	<SMALL>
	</SMALL>
</P> 
<P style="font-family:Verdana"><B><A href="/git/" class="menu">Git</A></B><BR> 
	<SMALL>
	</SMALL>
</P> 
<P style="font-family:Verdana"><B><A href="/ubuntu/" class="menu"><font color="green">McStas Ubuntu live-dvd</font></A></B><BR> 
	<SMALL>
	</SMALL>
</P> 
 <BR>
  </TD> <!-- left (menu) -->

  <TD colspan="8" align="left" valign="top" bgcolor="#ffffff"> <!-- midleright (text) -->
  <div style="font-family:arial; border: solid 0 #555; border-width:2px; padding:2.5ex; background-color: #ffffff;";>




<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<HTML><HEAD>
<TITLE>McStas: ILL_H10_IN8 Instrument at  ILL</TITLE>
<LINK REV="made" HREF="mailto:peter.willendrup@risoe.dk">
</HEAD>

<BODY>

<P ALIGN=CENTER>
 [ <A href="#id">Identification</A>
 | <A href="#desc">Description</A>
 | <A href="#ipar">Input parameters</A>
 | <A href="#opar">Output parameters</A>
 | <A href="#links">Links</A> ]
</P>

<H1>The <CODE>ILL_H10_IN8</CODE> Instrument</H1>

Thermal neutron three-axis spectrometer IN8@ILL


<H2><A NAME=id></A>Identification</H2>

<UL>
  <LI> <B>Site:    ILL</B>
  <LI> <B>Author:</B> <a href="mailto:farhi@ill.fr">Emmanuel Farhi</a></B>
  <LI> <B>Origin:</B> <a href="http://www.ill.fr">ILL (France)</a></B>
  <LI> <B>Date:</B> 2006</B>
  <LI> <B>Version:</B> $Revision$</B>
</UL>
<H2><A NAME=desc></A>Description</H2>

<PRE>
IN8 is installed on beamtube H10 (diameter F = 200 mm).

The incident wavelength selection is obtained through a double focusing
monochromator , which has three faces equipped with PG002, Cu200 and bent
perfect Si111 crystals, respectively. Horizontal focusing allows increasing the
monochromatic flux at the expense of momentum but not energy resolution when 
the horizontal virtual source (an adjustable entrance slit) is introduced at a
distance before the monochromator which matches the monochromator-sample
distance.

The aperture of the horizontal virtual source can be varied but is typically
kept below 50 mm. This reduces the background level of the instrument.
Converging collimators as well as diaphragms can be placed in the beam path
before and after the monochromator to optimize the beam dimension and
definition. For special high-resolution experiments using a flat monochromator,
Soller collimators are available.

The shielding drum allows varying the monochromator take-off angle in the range
10 < 2theta_m < 90. The secondary spectrometer has heavy borated polyethylene
shielding installed around the analyzer and detector elements. The scattering
angle at the sample position is in the range 0 < 2theta_s < 130 independent of
the monochromator take-off angle.

In this TAS configuration, Cu200 is used as monochromator and Cu111 as 
analyser, with a single type detector.


</PRE>

<H2><A NAME=ipar></A>Input parameters</H2>
Parameters in <B>boldface</B> are required;
the others are optional.
<TABLE BORDER=1>
<TR><TH>Name</TH>  <TH>Unit</TH>  <TH>Description</TH> <TH>Default</TH></TR>
<TR> <TD>KF</TD>
     <TD>Angs-1</TD>
     <TD>Outgoing neutron wavevector </TD>
<TD ALIGN=RIGHT>5</TD> </TR>
<TR> <TD>KI</TD>
     <TD>Angs-1</TD>
     <TD>Incoming neutron wavevector </TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>QM</TD>
     <TD>Angs-1</TD>
     <TD>Wavevector transfer in crystal </TD>
<TD ALIGN=RIGHT>0.5</TD> </TR>
<TR> <TD>EN</TD>
     <TD>meV</TD>
     <TD>Energy transfer in crystal </TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>verbose</TD>
     <TD>1</TD>
     <TD>print TAS configuration. 0 to be quiet </TD>
<TD ALIGN=RIGHT>1</TD> </TR>
<TR> <TD>WM</TD>
     <TD>m</TD>
     <TD>Width of monochromator </TD>
<TD ALIGN=RIGHT>0.233</TD> </TR>
<TR> <TD>HM</TD>
     <TD>m</TD>
     <TD>Height of monochromator </TD>
<TD ALIGN=RIGHT>0.197</TD> </TR>
<TR> <TD>RMH</TD>
     <TD>m</TD>
     <TD>Monochromator horizontal curvature, 0 for flat, -1 for automatic setting </TD>
<TD ALIGN=RIGHT>-1</TD> </TR>
<TR> <TD>RMV</TD>
     <TD>m</TD>
     <TD>Monochromator vertical curvature, 0 for flat, -1 for automatic setting </TD>
<TD ALIGN=RIGHT>-1</TD> </TR>
<TR> <TD>DM</TD>
     <TD>Angs</TD>
     <TD>Monochromator d-spacing </TD>
<TD ALIGN=RIGHT>1.807</TD> </TR>
<TR> <TD>NHM</TD>
     <TD>1</TD>
     <TD>Number of horizontal slabs composing the monochromator </TD>
<TD ALIGN=RIGHT>15</TD> </TR>
<TR> <TD>NVM</TD>
     <TD>1</TD>
     <TD>Number of vertical slabs composing the monochromator </TD>
<TD ALIGN=RIGHT>15</TD> </TR>
<TR> <TD>WA</TD>
     <TD>m</TD>
     <TD>Width of analyzer </TD>
<TD ALIGN=RIGHT>0.16</TD> </TR>
<TR> <TD>HA</TD>
     <TD>m</TD>
     <TD>Height of analyzer </TD>
<TD ALIGN=RIGHT>0.08</TD> </TR>
<TR> <TD>RAH</TD>
     <TD>m</TD>
     <TD>Analyzer horizontal curvature, 0 for flat, -1 for automatic setting </TD>
<TD ALIGN=RIGHT>-1</TD> </TR>
<TR> <TD>RAV</TD>
     <TD>m</TD>
     <TD>Analyzer vertical curvature, 0 for flat, -1 for automatic setting </TD>
<TD ALIGN=RIGHT>-1</TD> </TR>
<TR> <TD>DA</TD>
     <TD>Angs</TD>
     <TD>Analyzer d-spacing </TD>
<TD ALIGN=RIGHT>2.087</TD> </TR>
<TR> <TD>NHA</TD>
     <TD>1</TD>
     <TD>Number of horizontal slabs composing the analyzer </TD>
<TD ALIGN=RIGHT>15</TD> </TR>
<TR> <TD>NVA</TD>
     <TD>1</TD>
     <TD>Number of vertical slabs composing the analyzer </TD>
<TD ALIGN=RIGHT>15</TD> </TR>
<TR> <TD>L1</TD>
     <TD>m</TD>
     <TD>Source-Monochromator distance. Contains 1st Collimator of length 5.34 </TD>
<TD ALIGN=RIGHT>2.3</TD> </TR>
<TR> <TD>ALF1</TD>
     <TD>arc min</TD>
     <TD>Horizontal collimation from Source to Monochromator </TD>
<TD ALIGN=RIGHT>60</TD> </TR>
<TR> <TD>ALF2</TD>
     <TD>arc min</TD>
     <TD>Horizontal collimation from Monochromator to Sample A</TD>
<TD ALIGN=RIGHT>60</TD> </TR>
<TR> <TD>ALF3</TD>
     <TD>arc min</TD>
     <TD>Horizontal collimation from Sample to Analyzer </TD>
<TD ALIGN=RIGHT>60</TD> </TR>
<TR> <TD>ALF4</TD>
     <TD>arc min</TD>
     <TD>Horizontal collimation from Analyzer to Detector </TD>
<TD ALIGN=RIGHT>60</TD> </TR>
<TR> <TD>BET1</TD>
     <TD>arc min</TD>
     <TD>Vertical collimation from Source to Monochromator </TD>
<TD ALIGN=RIGHT>120</TD> </TR>
<TR> <TD>BET2</TD>
     <TD>arc min</TD>
     <TD>Vertical collimation from Monochromator to Sample A</TD>
<TD ALIGN=RIGHT>120</TD> </TR>
<TR> <TD>BET3</TD>
     <TD>arc min</TD>
     <TD>Vertical collimation from Sample to Analyzer </TD>
<TD ALIGN=RIGHT>120</TD> </TR>
<TR> <TD>BET4</TD>
     <TD>arc min</TD>
     <TD>Vertical collimation from Analyzer to Detector </TD>
<TD ALIGN=RIGHT>120</TD> </TR>
</TABLE>


<H2><A NAME=links></A>Links</H2>

<UL>
  <LI> <A HREF="ILL_H10_IN8.instr">Source code</A> for <CODE>ILL_H10_IN8.instr</CODE>.
  <LI> Rescal for Matlab at http://www.ill.eu/instruments-support/computing-for-science/cs-software/all-software/matlab-ill/
  <LI> Restrax at http://omega.ujf.cas.cz/restrax/
</UL>
<HR>
<P ALIGN=CENTER>
 [ <A href="#id">Identification</A>
 | <A href="#desc">Description</A>
 | <A href="#ipar">Input parameters</A>
 | <A href="#opar">Output parameters</A>
 | <A href="#links">Links</A> ]
</P>

<ADDRESS>
Generated automatically by McDoc, Peter Willendrup
&lt;<A HREF="mailto:peter.willendrup@risoe.dk">peter.willendrup@risoe.dk</A>&gt; /
Thu Jun 16 08:51:07 2016</ADDRESS>
</BODY></HTML>

<P><DIV align=right><A href="/download/components/examples/ILL_H10_IN8.pure.html">Printable version</A></DIV><HR> <CENTER><SMALL>Last Modified: Thursday, 16-Jun-2016 10:51:07 CEST</SMALL></CENTER>
</div></TD> <!-- midleright (text) -->
 </TR> <!-- main -->
<TR bgcolor = "#ffffff" align="left">
<TD colspan="8"><a href="/search"><img
 src="/spyglass.gif" alt="Search website" align="middle" height="40"
 border="0"></a>
<a href="http://freshmeat.net/projects/mcstas"><img
 src="/link_button_3.gif" align="middle"
 border="0" alt="freshmeat.net McStas site"></a>
<a href="http://rss.mcstas.org/RSS.xml" ><img src="/rssfeed.png" align="middle" border="0" alt="RSS feed"></a>
<a href="http://mailman.mcstas.org/pipermail/mcstas-users/"><img src="/Mailman.jpg" align="middle" border="0" alt="mailinglist archive"></a>
<a href="https://svn.mccode.org/svn/McCode"><img src="/subversion_logo.png" align="middle" height="40" border="0" alt="SVN repos"></A>
<a href="http://trac.mccode.org"><img src="/trac_logo.png"
 align="middle" height="50" border="0" alt="McCode Trac"></a>
<!-- Facebook Badge START --><a
 href="http://www.facebook.com/McStas"
 target="_TOP" title="McStas"><img align="middle" src="/mcstas-fblogo.png" width="50" height="40" style="border: 0px;" /></a><!-- Facebook Badge END --></TD></TR></TABLE >

</BODY>
</HTML>

