<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<HTML><HEAD>
<TITLE>McStas: ILL_IN5 Instrument at  ILL</TITLE>
<LINK REV="made" HREF="mailto:peter.willendrup@risoe.dk">
</HEAD>

<BODY>

<P ALIGN=CENTER>
 [ <A href="#id">Identification</A>
 | <A href="#desc">Description</A>
 | <A href="#ipar">Input parameters</A>
 | <A href="#opar">Output parameters</A>
 | <A href="#links">Links</A> ]
</P>

<H1>The <CODE>ILL_IN5</CODE> Instrument</H1>

  The IN5B instrument: chopper system + sample + PSD and tof detector


<H2><A NAME=id></A>Identification</H2>

<UL>
  <LI> <B>Site:    ILL</B>
  <LI> <B>Author:</B> E. Farhi, J. Ollivier, Celia Castan Guerrero</B>
  <LI> <B>Origin:</B> ILL</B>
  <LI> <B>Date:</B> Jan 2004-2009</B>
  <LI> <B>Version:</B>(Unknown)</B>
</UL>
<H2><A NAME=desc></A>Description</H2>

<PRE>

 The IN5@ILL TOF spectrometer from chopper system to final detector, with sample.
 The detector model includes Fe housing and tube cross talk absorbing masks 
 with angle restriction (neutrons that scatter in Fe in front of a tube and 
 enter a different tube are absorbed). This model does not include the H16 guide.


</PRE>

<H2><A NAME=ipar></A>Input parameters</H2>
Parameters in <B>boldface</B> are required;
the others are optional.
<TABLE BORDER=1>
<TR><TH>Name</TH>  <TH>Unit</TH>  <TH>Description</TH> <TH>Default</TH></TR>
<TR> <TD>lambda</TD>
     <TD>AA</TD>
     <TD>mean incident wavelength
</TD>
<TD ALIGN=RIGHT>4.5</TD> </TR>
<TR> <TD>dlambda</TD>
     <TD>AA</TD>
     <TD>wavelength half width.
</TD>
<TD ALIGN=RIGHT>0.05</TD> </TR>
<TR> <TD>speed</TD>
     <TD>60*frequency</TD>
     <TD>[rpm]    chopper speed </TD>
<TD ALIGN=RIGHT>8500</TD> </TR>
<TR> <TD>ratio</TD>
     <TD>1</TD>
     <TD>velocity of chopper3 = velocity of chopper1 * ratio
</TD>
<TD ALIGN=RIGHT>0.5</TD> </TR>
<TR> <TD>housing</TD>
     <TD>string</TD>
     <TD>material used as detector housing. Use 0 or NULL for none.
</TD>
<TD ALIGN=RIGHT>"Fe.laz"</TD> </TR>
<TR> <TD>coh</TD>
     <TD>string</TD>
     <TD>sample coherent data file or NULL. 
Use powder LAZ/LAU or SQW file.
</TD>
<TD ALIGN=RIGHT>"Y3Fe5O12_YIG.laz"</TD> </TR>
<TR> <TD>inc</TD>
     <TD>string</TD>
     <TD>sample incoherent Sqw data file or NULL
</TD>
<TD ALIGN=RIGHT>"NULL"</TD> </TR>
<TR> <TD>thickness</TD>
     <TD>m</TD>
     <TD>thickness of sample. 0=filled
</TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>height</TD>
     <TD>m</TD>
     <TD>height of sample. 0=sphere
</TD>
<TD ALIGN=RIGHT>0.025</TD> </TR>
<TR> <TD>radius</TD>
     <TD>m</TD>
     <TD>radius of sample (outer).
</TD>
<TD ALIGN=RIGHT>0.005</TD> </TR>
<TR> <TD>order</TD>
     <TD>1</TD>
     <TD>order for scattering in sample. O=all, 1=single
</TD>
<TD ALIGN=RIGHT>0</TD> </TR>
</TABLE>


<H2><A NAME=links></A>Links</H2>

<UL>
  <LI> <A HREF="ILL_IN5.instr">Source code</A> for <CODE>ILL_IN5.instr</CODE>.
  <LI> The <a href="http://www.ill.eu/in5">IN5@ILL</a> cold time of flight instrument

</UL>
<HR>
<P ALIGN=CENTER>
 [ <A href="#id">Identification</A>
 | <A href="#desc">Description</A>
 | <A href="#ipar">Input parameters</A>
 | <A href="#opar">Output parameters</A>
 | <A href="#links">Links</A> ]
</P>

<ADDRESS>
Generated automatically by McDoc, Peter Willendrup
&lt;<A HREF="mailto:peter.willendrup@risoe.dk">peter.willendrup@risoe.dk</A>&gt; /
Thu Jun 16 08:51:07 2016</ADDRESS>
</BODY></HTML>
