<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HEAD>
<META http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<LINK REL="alternate" TITLE="McStas news RSS" HREF="http://rss.mcstas.org/RSS.xml" TYPE="application/rss+xml">
<TITLE>McStas homepage</TITLE>
<STYLE>
<!--
a.menu {color: #000000}
-->
</STYLE>
<link rel="icon" href="/favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"> 
</HEAD>
<BODY text="#000000" bgcolor="#777777" link="#006699" vlink="#003366" alink="#FF0000">

<TABLE border="0" cellpadding="4" cellspacing="0" width="100%">
 <TR> <!-- top --> 
  <TD align="center" bgcolor="#ffffff" text="ffffff"> <!-- left (nrulogo) -->
   <A href="/"><IMG src="/logo-left.png" border="0" alt="McStas logo"></A>
  </TD> <!-- left (nrulogo) -->

  <TD align="center" bgcolor="#ffffff" width="10000"> <!-- midle (title) -->
    <A href="/"><img overlay src="/toplogo_animated.gif" border="0" alt="McStas - A neutron ray-trace simulation package"></A>
  </TD> <!-- midle (nrutitle) -->
  <TD align="right" bgcolor="#ffffff"><!-- right (rhhslogo) -->
    <A href="http://www.ill.fr"><IMG src="/ill-logo.png" border="0" alt="ILL;"></A>
    </TD>
  <TD align="right" bgcolor="#ffffff"><!-- right (rhhslogo) -->
    <A href="http://www.psi.ch"><IMG src="/psi-logo.png" border="0" alt="PSI;"></A> 
    </TD>
  <td align="right" bgcolor="white">
  <A href="http://www.europeanspallationsource.se/"><IMG
    src="/ESS_Logo_Frugal_Blue_cmyk.png" border="0" alt="ESS"></A></td>
  <TD align="right" bgcolor="#ffffff"><!-- right (rhhslogo) -->
  <A href="http://www.nbi.dk"><IMG src="/ku_nat.gif" border="0" alt="Niels Bohr Institute"></A></td><td align="right" bgcolor="white">
  <A href="http://www.fys.dtu.dk/"><IMG src="/DTU_logo.gif" border="0" alt="DTU Physics"></A></td><td align="right" bgcolor="white">
  <A href="http://nexmap.fysik.dtu.dk/"><IMG src="/NEXMAP_logo.png" border="0" alt="NEXMAP"></A>
  </TD> <!-- right (rhhslogo) -->
 </TR> <!-- top -->

 <TR> <!-- main -->
  <TD align="left" valign="top" bgcolor="#ffffff"> <!-- left (menu) -->
   <BR> <P style="font-family:Verdana"><B><A href="/" class="menu">McStas</A></B><BR> 
	<SMALL>
<P style="font-family:Verdana"><B><A href="/about/" class="menu">About McStas</A></B><BR> 
	<SMALL>
		&nbsp;<A href="/about/conditions" class="menu">Conditions of use</A><BR>
		&nbsp;<A href="/about/contacts" class="menu">Authors/Contacts</A><BR>
		&nbsp;<A href="/about/funding" class="menu">Project funding</A><BR>
		&nbsp;<A href="/about/screenshots" class="menu">Screenshots</A><BR>
	</SMALL>
</P> 
<P style="font-family:Verdana"><B><A href="/download/" class="menu"><font color="green">Download</font></A></B><BR> 
	<SMALL>
		&nbsp;<A href="/download/components" class="menu">Components</A><BR>
		&nbsp;<A href="/download/install_linux" class="menu"><font color="green">Linux Install (deb/rpm)</font></A><BR>
		&nbsp;<A href="/download/install_mac_os_x" class="menu"><font color="green">Mac OS X Install</font></A><BR>
		&nbsp;<A href="/download/install_unix" class="menu"><font color="green">Unix Install (src code)</font></A><BR>
		&nbsp;<A href="/download/install_windows" class="menu"><font color="green">Windows Install</font></A><BR>
		&nbsp;<A href="/download/share" class="menu"><font color="blue">Other Downloads (share)</font></A><BR>
	</SMALL>
</P> 
<P style="font-family:Verdana"><B><A href="/list/" class="menu">Mailing list</A></B><BR> 
	<SMALL>
	</SMALL>
</P> 
<P style="font-family:Verdana"><B><A href="/search/" class="menu">Search web/mailinglist</A></B><BR> 
	<SMALL>
	</SMALL>
</P> 
<P style="font-family:Verdana"><B><A href="/documentation/" class="menu">Documentation</A></B><BR> 
	<SMALL>
		&nbsp;<A href="/documentation/manual" class="menu">McStas manual</A><BR>
		&nbsp;<A href="/documentation/faq" class="menu">FAQ</A><BR>
		&nbsp;<A href="/documentation/problems" class="menu">Known problems</A><BR>
		&nbsp;<A href="/documentation/publications" class="menu">Publications</A><BR>
		&nbsp;<A href="/documentation/compilers" class="menu">C Compilers</A><BR>
		&nbsp;<A href="/documentation/other" class="menu">Other</A><BR>
		&nbsp;<A href="/documentation/tools" class="menu">Tools</A><BR>
		&nbsp;<A href="/documentation/tutorial" class="menu">Tutorial</A><BR>
	</SMALL>
</P> 
<P style="font-family:Verdana"><B><A href="/workshop/" class="menu">Workshops/conferences</A></B><BR> 
	<SMALL>
	</SMALL>
</P> 
<P style="font-family:Verdana"><B><A href="/developments/" class="menu">Developments</A></B><BR> 
	<SMALL>
	</SMALL>
</P> 
<P style="font-family:Verdana"><B><A href="/links/" class="menu">Links</A></B><BR> 
	<SMALL>
	</SMALL>
</P> 
<P style="font-family:Verdana"><B><A href="/McZilla/" class="menu">Report bugs</A></B><BR> 
	<SMALL>
	</SMALL>
</P> 
<P style="font-family:Verdana"><B><A href="/git/" class="menu">Git</A></B><BR> 
	<SMALL>
	</SMALL>
</P> 
<P style="font-family:Verdana"><B><A href="/ubuntu/" class="menu"><font color="green">McStas Ubuntu live-dvd</font></A></B><BR> 
	<SMALL>
	</SMALL>
</P> 
 <BR>
  </TD> <!-- left (menu) -->

  <TD colspan="8" align="left" valign="top" bgcolor="#ffffff"> <!-- midleright (text) -->
  <div style="font-family:arial; border: solid 0 #555; border-width:2px; padding:2.5ex; background-color: #ffffff;";>




<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<HTML><HEAD>
<TITLE>McStas: ILL_H22_D1B Instrument at  ILL   </TITLE>
<LINK REV="made" HREF="mailto:peter.willendrup@risoe.dk">
</HEAD>

<BODY>

<P ALIGN=CENTER>
 [ <A href="#id">Identification</A>
 | <A href="#desc">Description</A>
 | <A href="#ipar">Input parameters</A>
 | <A href="#opar">Output parameters</A>
 | <A href="#links">Links</A> ]
</P>

<H1>The <CODE>ILL_H22_D1B</CODE> Instrument</H1>

The D1B diffractometer on the H22 curved thermal guide at the ILL    


<H2><A NAME=id></A>Identification</H2>

<UL>
  <LI> <B>Site:    ILL   </B>
  <LI> <B>Author:</B> FARHI Emmanuel (farhi@ill.fr) and SANCHEZ Javier (sanchez-montero@ill.fr)   </B>
  <LI> <B>Origin:</B>ILL</B>
  <LI> <B>Date:</B> June, 2008</B>
  <LI> <B>Version:</B> $Revision$   </B>
</UL>
<H2><A NAME=desc></A>Description</H2>

<PRE>
The D1B diffractometer on the H22 curved thermal guide at the ILL.

D1B is a two-axis spectrometer dedicated to diffraction experiments requesting a
high neutron flux. A great number of experiments performed on D1B concern the
determination of magnetic structures. At small angles where the magnetic peaks
are expected, a high spatial resolution can be achieved, the FWHM reaches 0.2°
(for a sample with = 8 mm). Three pyrolitic graphite monochromators focusing
onto the sample position provide a flux of 6.5·106 n cm-2s-1. A second
wavelength with = 1.28 Å is available by using a germanium monochromator. D1B is
equipped with 3He/Xe position-sensitive detector composed of a system of
multi-electrodes with 400 cells, which span a 2 range of 80°. The detector can
be moved so that an angular range of 2°<2<130° can be covered. The specially
designed cryostat is known for its low background crucial for some experiments
with small intensity changes. Because of its high flux at = 2.52 Å together with
the large multi-detector, surface studies such as adsorbed phases as well as
real-time diffraction experiments are possible. Collecting a diffraction pattern
with sufficient statistics in minutes (1-5 min) even seconds allows in situ
studies of reaction kinetics. A fast detection of phase transitions can also be
obtained by scanning the temperature. A complete thermal variation of the
diffraction patterns (1.5 - 300 K) can be achieved in few hours (3-5h).


</PRE>

<H2><A NAME=ipar></A>Input parameters</H2>
Parameters in <B>boldface</B> are required;
the others are optional.
<TABLE BORDER=1>
<TR><TH>Name</TH>  <TH>Unit</TH>  <TH>Description</TH> <TH>Default</TH></TR>
<TR> <TD>lambda</TD>
     <TD>AA</TD>
     <TD>mean incident wavelength.
</TD>
<TD ALIGN=RIGHT>2.52</TD> </TR>
<TR> <TD>dlambda</TD>
     <TD>AA</TD>
     <TD>wavelength full width.
</TD>
<TD ALIGN=RIGHT>0.03</TD> </TR>
<TR> <TD>DM</TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>Powder</TD>
     <TD>str</TD>
     <TD>File name for powder description, LAZ/LAU/Fullprof
</TD>
<TD ALIGN=RIGHT>"Na2Ca3Al2F14.laz"</TD> </TR>
<TR> <TD>RV</TD>
     <TD>m</TD>
     <TD>Monochromator vertical curvature, 0 for flat, -1 for automatic setting
</TD>
<TD ALIGN=RIGHT>2.2</TD> </TR>
<TR> <TD>L1</TD>
     <TD>m</TD>
     <TD>Source-Monochromator distance
</TD>
<TD ALIGN=RIGHT>0.25</TD> </TR>
<TR> <TD>L2</TD>
     <TD>m</TD>
     <TD>Monochromator-Sample distance
</TD>
<TD ALIGN=RIGHT>3.0</TD> </TR>
<TR> <TD>L3</TD>
     <TD>m</TD>
     <TD>Sample-Detector distance
</TD>
<TD ALIGN=RIGHT>1.500</TD> </TR>
<TR> <TD>TRAS_X</TD>
     <TD>m</TD>
     <TD>Additional monochromator translation along X, left/righ w.r.t beam
</TD>
<TD ALIGN=RIGHT>-0</TD> </TR>
<TR> <TD>TRAS_Z</TD>
     <TD>m</TD>
     <TD>Additional monochromator translation along Z, along guide

</TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>TILT</TD>
     <TD>deg</TD>
     <TD>Monochromator additional tilt, for rocking curves
</TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>THETA_M</TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>22.11</TD> </TR>
<TR> <TD>R_pitch</TD>
     <TD>deg</TD>
     <TD>Angular pitch between the absorbing blades 
</TD>
<TD ALIGN=RIGHT>.42</TD> </TR>
<TR> <TD>R_ri</TD>
     <TD>m</TD>
     <TD>Inner radius of the collimator
</TD>
<TD ALIGN=RIGHT>0.324</TD> </TR>
<TR> <TD>R_ro</TD>
     <TD>m</TD>
     <TD>Outer radius of the collimator 
</TD>
<TD ALIGN=RIGHT>0.419</TD> </TR>
<TR> <TD>R_h</TD>
     <TD>m</TD>
     <TD>Height of the collimator
</TD>
<TD ALIGN=RIGHT>0.090</TD> </TR>
<TR> <TD>R_ttmin</TD>
     <TD>deg</TD>
     <TD>Lower scattering angle limit
</TD>
<TD ALIGN=RIGHT>-130</TD> </TR>
<TR> <TD>R_ttmax</TD>
     <TD>deg</TD>
     <TD>Higher scattering angle limit
</TD>
<TD ALIGN=RIGHT>-2</TD> </TR>
<TR> <TD>R_present</TD>
     <TD>1</TD>
     <TD>Presence flag for the radial collimator. 0: unactivate component.
</TD>
<TD ALIGN=RIGHT>1</TD> </TR>
<TR> <TD>verbose</TD>
     <TD>1</TD>
     <TD>Print DIF configuration. 0 to be quiet
</TD>
<TD ALIGN=RIGHT>1</TD> </TR>
<TR> <TD>Inc_Cryo</TD>
     <TD>1</TD>
     <TD>Cryostat incoherent fraction
</TD>
<TD ALIGN=RIGHT>0.02</TD> </TR>
<TR> <TD>Trans_Cryo</TD>
     <TD>1</TD>
     <TD>Cryostat event transmission
</TD>
<TD ALIGN=RIGHT>0.85</TD> </TR>
<TR> <TD>Trans_Spl</TD>
     <TD>1</TD>
     <TD>Sample event transmission
</TD>
<TD ALIGN=RIGHT>0.2</TD> </TR>
<TR> <TD>Inc_Spl</TD>
     <TD>1</TD>
     <TD>Sample incoherent fraction
</TD>
<TD ALIGN=RIGHT>0.05</TD> </TR>
</TABLE>


<H2><A NAME=links></A>Links</H2>

<UL>
  <LI> <A HREF="ILL_H22_D1B.instr">Source code</A> for <CODE>ILL_H22_D1B.instr</CODE>.
</UL>
<HR>
<P ALIGN=CENTER>
 [ <A href="#id">Identification</A>
 | <A href="#desc">Description</A>
 | <A href="#ipar">Input parameters</A>
 | <A href="#opar">Output parameters</A>
 | <A href="#links">Links</A> ]
</P>

<ADDRESS>
Generated automatically by McDoc, Peter Willendrup
&lt;<A HREF="mailto:peter.willendrup@risoe.dk">peter.willendrup@risoe.dk</A>&gt; /
Thu Jun 16 08:51:07 2016</ADDRESS>
</BODY></HTML>

<P><DIV align=right><A href="/download/components/examples/ILL_H22_D1B.pure.html">Printable version</A></DIV><HR> <CENTER><SMALL>Last Modified: Thursday, 16-Jun-2016 10:51:07 CEST</SMALL></CENTER>
</div></TD> <!-- midleright (text) -->
 </TR> <!-- main -->
<TR bgcolor = "#ffffff" align="left">
<TD colspan="8"><a href="/search"><img
 src="/spyglass.gif" alt="Search website" align="middle" height="40"
 border="0"></a>
<a href="http://freshmeat.net/projects/mcstas"><img
 src="/link_button_3.gif" align="middle"
 border="0" alt="freshmeat.net McStas site"></a>
<a href="http://rss.mcstas.org/RSS.xml" ><img src="/rssfeed.png" align="middle" border="0" alt="RSS feed"></a>
<a href="http://mailman.mcstas.org/pipermail/mcstas-users/"><img src="/Mailman.jpg" align="middle" border="0" alt="mailinglist archive"></a>
<a href="https://svn.mccode.org/svn/McCode"><img src="/subversion_logo.png" align="middle" height="40" border="0" alt="SVN repos"></A>
<a href="http://trac.mccode.org"><img src="/trac_logo.png"
 align="middle" height="50" border="0" alt="McCode Trac"></a>
<!-- Facebook Badge START --><a
 href="http://www.facebook.com/McStas"
 target="_TOP" title="McStas"><img align="middle" src="/mcstas-fblogo.png" width="50" height="40" style="border: 0px;" /></a><!-- Facebook Badge END --></TD></TR></TABLE >

</BODY>
</HTML>

