<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<HTML><HEAD>
<TITLE>McStas: ILL_IN4 Instrument at  ILL</TITLE>
<LINK REV="made" HREF="mailto:peter.willendrup@risoe.dk">
</HEAD>

<BODY>

<P ALIGN=CENTER>
 [ <A href="#id">Identification</A>
 | <A href="#desc">Description</A>
 | <A href="#ipar">Input parameters</A>
 | <A href="#opar">Output parameters</A>
 | <A href="#links">Links</A> ]
</P>

<H1>The <CODE>ILL_IN4</CODE> Instrument</H1>

The IN4 thermal Time-of-Flight spectrometer at the ILL (H12 tube).


<H2><A NAME=id></A>Identification</H2>

<UL>
  <LI> <B>Site:    ILL</B>
  <LI> <B>Author:</B> <a href="mailto:farhi@ill.fr">Emmanuel Farhi</a></B>
  <LI> <B>Origin:</B> <a href="http://www.ill.fr">ILL (France)</a></B>
  <LI> <B>Date:</B> March 5th 2015.</B>
  <LI> <B>Version:</B> 5055 </B>
</UL>
<H2><A NAME=desc></A>Description</H2>

<PRE>
IN4C is a high-flux time-of-flight spectrometer used for the study of excitations
in condensed matter. It works in the thermal neutron energy range (10-100 meV).

Primary spectrometer

The main components of the beam conditioning part are the two background
choppers, the double curvature mono-chromator with four faces and the Fermi
chopper. The background choppers are rapidly pulsating beam shutters which act
as a low-pass filter. Thus they eliminate from the beam most of the fast
neutrons and gamma rays that would give background noise in the spectra. The
modular shielding encloses the background choppers in separate compartments in
order to cut off these undesired neutrons as early as possible. A suitable
energy is selected from the thermal neutron spectrum with the crystal
monochromator. The monochromator, an assembly of 55 crystal pieces,
concentrates the divergent incident beam onto a small area at the sample
position. The full use of the available solid angle gives a high incident
flux. The vertical curvature is fixed, and the horizontal 
variable curvature of the monochromator is essential in controlling
the time and space focussing conditions for optimal performance (see H. Mutka,
Nucl. Instr. and Meth. A 338 (1994) 144). The Fermi chopper rotates at speeds
of up to 40000 rpm. It transmits short neutron pulses (10 ... 50 µs) to the
sample. The time-of-flight of neutrons between the chopper and the sample (1
... 5 ms) can be measured by using precise electronic circuitry. 
A sapphire (Al2O3) filter can be inserted in the beam to remove the fast neutrons
background.

Monochromators: 
PG       002 DM=3.355 AA (Highly Oriented Pyrolythic Graphite)
PG       004 DM=1.677 AA (used for lambda=1.1)
PG       006 DM=1.118 AA
Cu       220 DM=1.278 AA
Cu       111 DM=2.095 AA
Take-off:       39-65 deg
flux at sample: 5e5 n/s/cm2 (at 1.1 Angs)

Secondary spectrometer

The sample environment is designed to accommodate standard
cryostats and furnaces. A radial collimator around the sample position is used
to cut the scattering from the sample environment. The secondary flight-path
is in vacuum to avoid parasitic scattering of the transmitted neutrons. The
detector bank covers scattering angles of up to 120°. In addition to the 3He
detector tubes (length 300 mm, width 30 mm, elliptical section, pressure 6
bar) a 3He filled multidetector (eight sectors with 12 radial cells each;
outer diameter Phi 60 cm) will allow us to observe forward scattering. The
time-of-flight spectra measured at various angles are further treated in order
to obtain the scattering function S(Q,w) using e.g. LAMP.

In this model, the sample is a cylindrical liquid/powder/glass scatterer 
surrounded by a container and an Al cryostat.


</PRE>

<H2><A NAME=ipar></A>Input parameters</H2>
Parameters in <B>boldface</B> are required;
the others are optional.
<TABLE BORDER=1>
<TR><TH>Name</TH>  <TH>Unit</TH>  <TH>Description</TH> <TH>Default</TH></TR>
<TR> <TD>lambda</TD>
     <TD>Angs</TD>
     <TD>wavelength
</TD>
<TD ALIGN=RIGHT>2.2</TD> </TR>
<TR> <TD>dlambda</TD>
     <TD>Angs</TD>
     <TD>wavelength HALF spread at source
</TD>
<TD ALIGN=RIGHT>0.1</TD> </TR>
<TR> <TD>DM</TD>
     <TD>Angs</TD>
     <TD>monochromator d-spacing
</TD>
<TD ALIGN=RIGHT>3.355</TD> </TR>
<TR> <TD>ETAM</TD>
     <TD>arcmin</TD>
     <TD>monochromator mosaic FWHM
</TD>
<TD ALIGN=RIGHT>35</TD> </TR>
<TR> <TD>RMH</TD>
     <TD>m</TD>
     <TD>Monochromator horizontal curvature. Use -1 for auto.
</TD>
<TD ALIGN=RIGHT>-1</TD> </TR>
<TR> <TD>ratio</TD>
     <TD>nu=nu_FC/ratio</TD>
     <TD>[1]    Disk Chopper ratio </TD>
<TD ALIGN=RIGHT>4</TD> </TR>
<TR> <TD>dE</TD>
     <TD>meV</TD>
     <TD>Inelastic energy for time focusing
</TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>Sapphire_present</TD>
     <TD>1</TD>
     <TD>Flag, when 1 the Al2O3 filter is active
</TD>
<TD ALIGN=RIGHT>1</TD> </TR>
<TR> <TD>sample_coh</TD>
     <TD>str</TD>
     <TD>Sample coherent dynamic structure factor (.sqw) or NULL
</TD>
<TD ALIGN=RIGHT>"Dirac2D.sqw"</TD> </TR>
<TR> <TD>sample_inc</TD>
     <TD>str</TD>
     <TD>Sample incoherent dynamic structure factor (.sqw) or NULL
</TD>
<TD ALIGN=RIGHT>"NULL"</TD> </TR>
<TR> <TD>order</TD>
     <TD>1</TD>
     <TD>The number of multiple orders at the monochromator
</TD>
<TD ALIGN=RIGHT>1</TD> </TR>
</TABLE>


<H2><A NAME=links></A>Links</H2>

<UL>
  <LI> <A HREF="ILL_IN4.instr">Source code</A> for <CODE>ILL_IN4.instr</CODE>.
  <LI> H. Mutka, Nucl. Instr. and Meth. A 338 (1994) 144
  <LI> http://www.ill.eu/fr/instruments-support/instruments-groups/instruments/in4c
</UL>
<HR>
<P ALIGN=CENTER>
 [ <A href="#id">Identification</A>
 | <A href="#desc">Description</A>
 | <A href="#ipar">Input parameters</A>
 | <A href="#opar">Output parameters</A>
 | <A href="#links">Links</A> ]
</P>

<ADDRESS>
Generated automatically by McDoc, Peter Willendrup
&lt;<A HREF="mailto:peter.willendrup@risoe.dk">peter.willendrup@risoe.dk</A>&gt; /
Thu Jun 16 08:51:07 2016</ADDRESS>
</BODY></HTML>
