<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<HTML><HEAD>
<TITLE>McStas: ILL_H142_IN12 Instrument at  ILL</TITLE>
<LINK REV="made" HREF="mailto:peter.willendrup@risoe.dk">
</HEAD>

<BODY>

<P ALIGN=CENTER>
 [ <A href="#id">Identification</A>
 | <A href="#desc">Description</A>
 | <A href="#ipar">Input parameters</A>
 | <A href="#opar">Output parameters</A>
 | <A href="#links">Links</A> ]
</P>

<H1>The <CODE>ILL_H142_IN12</CODE> Instrument</H1>

The H142 S-curved cold guide at the ILL feeding IN12 TAS spectrometer


<H2><A NAME=id></A>Identification</H2>

<UL>
  <LI> <B>Site:    ILL</B>
  <LI> <B>Author:</B> FARHI Emmanuel (farhi@ill.fr)</B>
  <LI> <B>Origin:</B>ILL</B>
  <LI> <B>Date:</B> April 7, 2004</B>
  <LI> <B>Version:</B> $Revision$</B>
</UL>
<H2><A NAME=desc></A>Description</H2>

<PRE>
The H142 beam is the only S-curved guide at the ILL. It is used here to feed
the IN12 TAS spectrometer (classical configuration).


</PRE>

<H2><A NAME=ipar></A>Input parameters</H2>
Parameters in <B>boldface</B> are required;
the others are optional.
<TABLE BORDER=1>
<TR><TH>Name</TH>  <TH>Unit</TH>  <TH>Description</TH> <TH>Default</TH></TR>
<TR> <TD>m</TD>
     <TD>1</TD>
     <TD>m-value of guide coating (H14/H142) </TD>
<TD ALIGN=RIGHT>1</TD> </TR>
<TR> <TD>KI</TD>
     <TD>Angs-1</TD>
     <TD>central wavevector for incoming neutrons </TD>
<TD ALIGN=RIGHT>2.662</TD> </TR>
<TR> <TD>QM</TD>
     <TD>Angs-1</TD>
     <TD>wavevector transfer modulus at the sample  </TD>
<TD ALIGN=RIGHT>1.0</TD> </TR>
<TR> <TD>EN</TD>
     <TD>meV</TD>
     <TD>energy transfer at the sample </TD>
<TD ALIGN=RIGHT>0.0</TD> </TR>
<TR> <TD>verbose</TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>1</TD> </TR>
<TR> <TD>WM</TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>0.08</TD> </TR>
<TR> <TD>HM</TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>0.12</TD> </TR>
<TR> <TD>NHM</TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>1</TD> </TR>
<TR> <TD>NVM</TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>6</TD> </TR>
<TR> <TD>RMV</TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>-1</TD> </TR>
<TR> <TD>WA</TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>0.121</TD> </TR>
<TR> <TD>HA</TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>0.118</TD> </TR>
<TR> <TD>NHA</TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>11</TD> </TR>
<TR> <TD>NVA</TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>1</TD> </TR>
<TR> <TD>RAH</TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>-1</TD> </TR>
<TR> <TD>L2</TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>1.726</TD> </TR>
<TR> <TD>L3</TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>1.300</TD> </TR>
<TR> <TD>L4</TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>0.710</TD> </TR>
</TABLE>


<H2><A NAME=links></A>Links</H2>

<UL>
  <LI> <A HREF="ILL_H142_IN12.instr">Source code</A> for <CODE>ILL_H142_IN12.instr</CODE>.
  <LI> The <a href="http://www.ill.fr/in12">IN12 TAS</a> at the ILL

</UL>
<HR>
<P ALIGN=CENTER>
 [ <A href="#id">Identification</A>
 | <A href="#desc">Description</A>
 | <A href="#ipar">Input parameters</A>
 | <A href="#opar">Output parameters</A>
 | <A href="#links">Links</A> ]
</P>

<ADDRESS>
Generated automatically by McDoc, Peter Willendrup
&lt;<A HREF="mailto:peter.willendrup@risoe.dk">peter.willendrup@risoe.dk</A>&gt; /
Thu Jun 16 08:51:07 2016</ADDRESS>
</BODY></HTML>
