<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<HTML><HEAD>
<TITLE>McStas: ISIS_TS1_Brilliance Instrument at  ISIS</TITLE>
<LINK REV="made" HREF="mailto:peter.willendrup@risoe.dk">
</HEAD>

<BODY>

<P ALIGN=CENTER>
 [ <A href="#id">Identification</A>
 | <A href="#desc">Description</A>
 | <A href="#ipar">Input parameters</A>
 | <A href="#opar">Output parameters</A>
 | <A href="#links">Links</A> ]
</P>

<H1>The <CODE>ISIS_TS1_Brilliance</CODE> Instrument</H1>

This instrument produces brilliance curves from the ISIS TS1 facility.


<H2><A NAME=id></A>Identification</H2>

<UL>
  <LI> <B>Site:    ISIS</B>
  <LI> <B>Author:</B> Peter Willendrup</B>
  <LI> <B>Origin:</B> DTU Fysik</B>
  <LI> <B>Date:</B> 20130425</B>
  <LI> <B>Version:</B> 0.2</B>
</UL>
<H2><A NAME=desc></A>Description</H2>

<PRE>
This instrument produces brilliance curves from the ISIS TS1 facility.

The Brilliance_monitor is used to determine both the mean and peak brilliances, plus pulse-shapes for different wavelengths.

Example: ISIS_brilliance Detector: Brillmon_I=3.80e+15 (First detector output)

</PRE>

<H2><A NAME=ipar></A>Input parameters</H2>
Parameters in <B>boldface</B> are required;
the others are optional.
<TABLE BORDER=1>
<TR><TH>Name</TH>  <TH>Unit</TH>  <TH>Description</TH> <TH>Default</TH></TR>
<TR> <TD>modfile</TD>
     <TD>string</TD>
     <TD>Name of moderator face - TS1=water,ch4,h2,merlin or instrument name eg maps, crisp etc.
</TD>
<TD ALIGN=RIGHT>"ch4"</TD> </TR>
</TABLE>


<H2><A NAME=links></A>Links</H2>

<UL>
  <LI> <A HREF="ISIS_TS1_Brilliance.instr">Source code</A> for <CODE>ISIS_TS1_Brilliance.instr</CODE>.
  <LI> 
</UL>
<HR>
<P ALIGN=CENTER>
 [ <A href="#id">Identification</A>
 | <A href="#desc">Description</A>
 | <A href="#ipar">Input parameters</A>
 | <A href="#opar">Output parameters</A>
 | <A href="#links">Links</A> ]
</P>

<ADDRESS>
Generated automatically by McDoc, Peter Willendrup
&lt;<A HREF="mailto:peter.willendrup@risoe.dk">peter.willendrup@risoe.dk</A>&gt; /
Thu Jun 16 08:51:07 2016</ADDRESS>
</BODY></HTML>
