<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<HTML><HEAD>
<TITLE>McStas: ISIS_test Instrument at  ISIS</TITLE>
<LINK REV="made" HREF="mailto:peter.willendrup@risoe.dk">
</HEAD>

<BODY>

<P ALIGN=CENTER>
 [ <A href="#id">Identification</A>
 | <A href="#desc">Description</A>
 | <A href="#ipar">Input parameters</A>
 | <A href="#opar">Output parameters</A>
 | <A href="#links">Links</A> ]
</P>

<H1>The <CODE>ISIS_test</CODE> Instrument</H1>

Simple test instrument for the ISIS_moderator component


<H2><A NAME=id></A>Identification</H2>

<UL>
  <LI> <B>Site:    ISIS</B>
  <LI> <B>Author:</B> <a href="mailto:D.Champion@rl.ac.uk">Dickon Champion</a></B>
  <LI> <B>Origin:</B> <a href="http://www.isis.rl.ac.uk/">ISIS</a></B>
  <LI> <B>Date:</B> Aug 2004</B>
  <LI> <B>Version:</B> $Revision$</B>
</UL>
<H2><A NAME=desc></A>Description</H2>

<PRE>
Simple test instrument for the ISIS_moderator component.
Refer to the documentation in MCSTAS/contrib/doc/ISISdoc.pdf (.ps)
for further instructions on using the ISIS_moderator component


</PRE>

<H2><A NAME=ipar></A>Input parameters</H2>
None.

<H2><A NAME=links></A>Links</H2>

<UL>
  <LI> <A HREF="ISIS_test.instr">Source code</A> for <CODE>ISIS_test.instr</CODE>.
  <LI> Written by D. Champion <D.Champion@rl.ac.uk> ISIS, Feb 2004
</UL>
<HR>
<P ALIGN=CENTER>
 [ <A href="#id">Identification</A>
 | <A href="#desc">Description</A>
 | <A href="#ipar">Input parameters</A>
 | <A href="#opar">Output parameters</A>
 | <A href="#links">Links</A> ]
</P>

<ADDRESS>
Generated automatically by McDoc, Peter Willendrup
&lt;<A HREF="mailto:peter.willendrup@risoe.dk">peter.willendrup@risoe.dk</A>&gt; /
Thu Jun 16 08:51:08 2016</ADDRESS>
</BODY></HTML>
