<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<HTML><HEAD>
<TITLE>McStas: TAS1_Vana Instrument at  Risoe</TITLE>
<LINK REV="made" HREF="mailto:peter.willendrup@risoe.dk">
</HEAD>

<BODY>

<P ALIGN=CENTER>
 [ <A href="#id">Identification</A>
 | <A href="#desc">Description</A>
 | <A href="#ipar">Input parameters</A>
 | <A href="#opar">Output parameters</A>
 | <A href="#links">Links</A> ]
</P>

<H1>The <CODE>TAS1_Vana</CODE> Instrument</H1>

The conventional cold-source triple-axis spectrometer TAS1 at Risoe National
Laboratory used with a vanadium sample.


<H2><A NAME=id></A>Identification</H2>

<UL>
  <LI> <B>Site:    Risoe</B>
  <LI> <B>Author:</B> A. Abrahamsen, N. B. Christensen, and E. Lauridsen</B>
  <LI> <B>Origin:</B> Risoe</B>
  <LI> <B>Date:</B> 1998</B>
  <LI> <B>Version:</B> $Revision$</B>
</UL>
<H2><A NAME=desc></A>Description</H2>

<PRE>
This instrument is the conventional cold-source triple-axis spectrometer TAS1
at Risoe National Laboratory. It does not exist anymore, but was used as the
first detailed work performed with the McStas package.
The sample is a vanadium and the analyzer is a single plate.


</PRE>

<H2><A NAME=ipar></A>Input parameters</H2>
Parameters in <B>boldface</B> are required;
the others are optional.
<TABLE BORDER=1>
<TR><TH>Name</TH>  <TH>Unit</TH>  <TH>Description</TH> <TH>Default</TH></TR>
<TR> <TD>PHM</TD>
     <TD>deg</TD>
     <TD>Monochromator rotation angle, aka A1
</TD>
<TD ALIGN=RIGHT>-37.077</TD> </TR>
<TR> <TD>TTM</TD>
     <TD>deg</TD>
     <TD>Monochromator take-off angle, aka A2
</TD>
<TD ALIGN=RIGHT>-74</TD> </TR>
<TR> <TD>TT</TD>
     <TD>deg</TD>
     <TD>Take-off angle at the sample position, aka A4
</TD>
<TD ALIGN=RIGHT>33.52</TD> </TR>
<TR> <TD>TTA</TD>
     <TD>deg</TD>
     <TD>Take-off angle at the analyzer position, aka A6
</TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>C1</TD>
     <TD>min</TD>
     <TD>Collimator 1 aperture (mono-sample arm)
</TD>
<TD ALIGN=RIGHT>30</TD> </TR>
<TR> <TD>OMC1</TD>
     <TD>deg</TD>
     <TD>Tilt angle of the Collimator 1
</TD>
<TD ALIGN=RIGHT>5.5</TD> </TR>
<TR> <TD>C2</TD>
     <TD>min</TD>
     <TD>Collimator 2 aperture (sample-ana arm)
</TD>
<TD ALIGN=RIGHT>28</TD> </TR>
<TR> <TD>C3</TD>
     <TD>min</TD>
     <TD>Collimator 3 aperture (ana-detector arm)
</TD>
<TD ALIGN=RIGHT>67</TD> </TR>
<TR> <TD>OMA</TD>
     <TD>deg</TD>
     <TD>Analyzer rotation angle, aka A5
</TD>
<TD ALIGN=RIGHT>-17.45</TD> </TR>
</TABLE>


<H2><A NAME=links></A>Links</H2>

<UL>
  <LI> <A HREF="linup-6.instr">Source code</A> for <CODE>TAS1_Vana.instr</CODE>.
  <LI> The McStas User manual
A. Abrahamsen, N. B. Christensen, and E. Lauridsen. McStas simulations of the TAS1 spectrometer. Student's report, Niels Bohr Institute, University of Copenhagen, 1998.

</UL>
<HR>
<P ALIGN=CENTER>
 [ <A href="#id">Identification</A>
 | <A href="#desc">Description</A>
 | <A href="#ipar">Input parameters</A>
 | <A href="#opar">Output parameters</A>
 | <A href="#links">Links</A> ]
</P>

<ADDRESS>
Generated automatically by McDoc, Peter Willendrup
&lt;<A HREF="mailto:peter.willendrup@risoe.dk">peter.willendrup@risoe.dk</A>&gt; /
Thu Jun 16 08:51:08 2016</ADDRESS>
</BODY></HTML>
