<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<HTML><HEAD>
<TITLE>McStas: LLB_6T2 Instrument at  LLB</TITLE>
<LINK REV="made" HREF="mailto:peter.willendrup@risoe.dk">
</HEAD>

<BODY>

<P ALIGN=CENTER>
 [ <A href="#id">Identification</A>
 | <A href="#desc">Description</A>
 | <A href="#ipar">Input parameters</A>
 | <A href="#opar">Output parameters</A>
 | <A href="#links">Links</A> ]
</P>

<H1>The <CODE>LLB_6T2</CODE> Instrument</H1>

The 6T2 thermal single crystal diffractometer at the LLB.


<H2><A NAME=id></A>Identification</H2>

<UL>
  <LI> <B>Site:    LLB</B>
  <LI> <B>Author:</B> <a href="mailto:xavier.fabreges@cea.fr">Xavier Fabrèges</a></B>
  <LI> <B>Origin:</B> <a href="http://www-llb.cea.fr">LLB (France)</a></B>
  <LI> <B>Date:</B> November 5th 2015.</B>
  <LI> <B>Version:</B> 1 </B>
</UL>
<H2><A NAME=desc></A>Description</H2>

<PRE>
6T2 is a high flux thermal single crystal diffractometer dedicated to the study of
complex magnetic structures in condensed matter. Two monochromators are available.
It works at 0.9 and 2.4AA without polarization and at 1.4AA with incident polarization
(optional FeCo supermirror) and polarization analysis (P//z).

Monochromators: 
PG       002 DM=3.355 AA (Highly Oriented Pyrolythic Graphite)
Cu       220 DM=1.278 AA

</PRE>

<H2><A NAME=ipar></A>Input parameters</H2>
Parameters in <B>boldface</B> are required;
the others are optional.
<TABLE BORDER=1>
<TR><TH>Name</TH>  <TH>Unit</TH>  <TH>Description</TH> <TH>Default</TH></TR>
<TR> <TD>lambda</TD>
     <TD>Angs</TD>
     <TD>wavelength
</TD>
<TD ALIGN=RIGHT>1.0</TD> </TR>
<TR> <TD>phi</TD>
     <TD>Deg</TD>
     <TD>sample rotation along the vertical axis
</TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>gamma</TD>
     <TD>Deg</TD>
     <TD>in plane detector position
</TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>nu</TD>
     <TD>Deg</TD>
     <TD>out of plane detector position
</TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>monok</TD>
     <TD>0: PG, 1: Cu, 5: test mode</TD>
     <TD>[1]    monochromator to use </TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>samp_f</TD>
     <TD>str</TD>
     <TD>LAU file describing sample
</TD>
<TD ALIGN=RIGHT>"C60.lau"</TD> </TR>
</TABLE>


<H2><A NAME=links></A>Links</H2>

<UL>
  <LI> <A HREF="LLB_6T2.instr">Source code</A> for <CODE>LLB_6T2.instr</CODE>.
</UL>
<HR>
<P ALIGN=CENTER>
 [ <A href="#id">Identification</A>
 | <A href="#desc">Description</A>
 | <A href="#ipar">Input parameters</A>
 | <A href="#opar">Output parameters</A>
 | <A href="#links">Links</A> ]
</P>

<ADDRESS>
Generated automatically by McDoc, Peter Willendrup
&lt;<A HREF="mailto:peter.willendrup@risoe.dk">peter.willendrup@risoe.dk</A>&gt; /
Thu Jun 16 08:51:08 2016</ADDRESS>
</BODY></HTML>
