<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<HTML><HEAD>
<TITLE>McStas: PSI_Focus Instrument at  PSI</TITLE>
<LINK REV="made" HREF="mailto:peter.willendrup@risoe.dk">
</HEAD>

<BODY>

<P ALIGN=CENTER>
 [ <A href="#id">Identification</A>
 | <A href="#desc">Description</A>
 | <A href="#ipar">Input parameters</A>
 | <A href="#opar">Output parameters</A>
 | <A href="#links">Links</A> ]
</P>

<H1>The <CODE>PSI_Focus</CODE> Instrument</H1>

The FOCUS Spectrometer at PSI (Paul Scherrer Institute,Switzerland)


<H2><A NAME=id></A>Identification</H2>

<UL>
  <LI> <B>Site:    PSI</B>
  <LI> <B>Author:</B> <a href="mailto:Uwe.Filges@psi.ch">Uwe Filges</a></B>
  <LI> <B>Origin:</B> <a href="http://www.psi.ch">PSI</a></B>
  <LI> <B>Date:</B> Jan 2004</B>
  <LI> <B>Version:</B>    $Revision$</B>
</UL>
<H2><A NAME=desc></A>Description</H2>

<PRE>
This instrument is a model of the FOCUS Spectrometer at PSI, Villigen, CH.

Example: lambda=3.4 Detector: PSD_SAMPLE_I=1.58754E+05

</PRE>

<H2><A NAME=ipar></A>Input parameters</H2>
Parameters in <B>boldface</B> are required;
the others are optional.
<TABLE BORDER=1>
<TR><TH>Name</TH>  <TH>Unit</TH>  <TH>Description</TH> <TH>Default</TH></TR>
<TR> <TD>lambda</TD>
     <TD>Angs</TD>
     <TD>source energy                               </TD>
<TD ALIGN=RIGHT>3.4</TD> </TR>
<TR> <TD>chopp_ratio</TD>
     <TD>1</TD>
     <TD>chopper radio Fermi Chopper to Disk Chopper </TD>
<TD ALIGN=RIGHT>1</TD> </TR>
<TR> <TD>DET</TD>
     <TD>deg</TD>
     <TD>Detector angle                              </TD>
<TD ALIGN=RIGHT>-69.9</TD> </TR>
</TABLE>


<H2><A NAME=links></A>Links</H2>

<UL>
  <LI> <A HREF="PSI_Focus.instr">Source code</A> for <CODE>PSI_Focus.instr</CODE>.
  <LI> Written by U.Filges <uwe.filges@psi.ch> PSI, Jan 2004
</UL>
<HR>
<P ALIGN=CENTER>
 [ <A href="#id">Identification</A>
 | <A href="#desc">Description</A>
 | <A href="#ipar">Input parameters</A>
 | <A href="#opar">Output parameters</A>
 | <A href="#links">Links</A> ]
</P>

<ADDRESS>
Generated automatically by McDoc, Peter Willendrup
&lt;<A HREF="mailto:peter.willendrup@risoe.dk">peter.willendrup@risoe.dk</A>&gt; /
Thu Jun 16 08:51:08 2016</ADDRESS>
</BODY></HTML>
