<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<HTML><HEAD>
<TITLE>McStas: PSI_DMC Instrument at  PSI</TITLE>
<LINK REV="made" HREF="mailto:peter.willendrup@risoe.dk">
</HEAD>

<BODY>

<P ALIGN=CENTER>
 [ <A href="#id">Identification</A>
 | <A href="#desc">Description</A>
 | <A href="#ipar">Input parameters</A>
 | <A href="#opar">Output parameters</A>
 | <A href="#links">Links</A> ]
</P>

<H1>The <CODE>PSI_DMC</CODE> Instrument</H1>

McStas model of the DMC powder diffractometer at PSI, CH.


<H2><A NAME=id></A>Identification</H2>

<UL>
  <LI> <B>Site:    PSI</B>
  <LI> <B>Author:</B> Peter Willendrup (Risoe), Uwe Filges (PSI), Lukas Keller (PSI)</B>
  <LI> <B>Origin:</B>PSI</B>
  <LI> <B>Date:</B> May 7th, 2008</B>
  <LI> <B>Version:</B> $Revision$</B>
</UL>
<H2><A NAME=desc></A>Description</H2>

<PRE>
McStas model of the DMC powder diffractometer at PSI, CH.

Please note that this instrument file does not include the radial collimator of DMC. 
To generate the full 800-bin angle coverage at DMC, you should combine two simulations
using this instrumentfile, with SHIFT=0 and 0.1. This will displace the detector by half
a bin-width, which is a standard procedure at the DMC diffractometer


</PRE>

<H2><A NAME=ipar></A>Input parameters</H2>
Parameters in <B>boldface</B> are required;
the others are optional.
<TABLE BORDER=1>
<TR><TH>Name</TH>  <TH>Unit</TH>  <TH>Description</TH> <TH>Default</TH></TR>
<TR> <TD>lambda</TD>
     <TD>AA</TD>
     <TD>Choice of wavelength, affects both monochromator and source component
</TD>
<TD ALIGN=RIGHT>2.5666</TD> </TR>
<TR> <TD>R</TD>
     <TD>1</TD>
     <TD>Reflectivity of non-curved guides
</TD>
<TD ALIGN=RIGHT>0.87</TD> </TR>
<TR> <TD>R_curve</TD>
     <TD>1</TD>
     <TD>Reflectivity of curved guides
</TD>
<TD ALIGN=RIGHT>0.87</TD> </TR>
<TR> <TD>filename</TD>
     <TD>str</TD>
     <TD>Choice of reflection list file, e.g. from McStas data dir
</TD>
<TD ALIGN=RIGHT>"Na2Ca3Al2F14.laz"</TD> </TR>
<TR> <TD>D_PHI</TD>
     <TD>deg</TD>
     <TD>Focusing 'd_phi' for PowderN, see mcdoc page
</TD>
<TD ALIGN=RIGHT>6</TD> </TR>
<TR> <TD>SHIFT</TD>
     <TD>deg</TD>
     <TD>Rotation of detector, set to 0.1 to displace by half a bin
</TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>PACK</TD>
     <TD>1</TD>
     <TD>Powder packing factor
</TD>
<TD ALIGN=RIGHT>0.7</TD> </TR>
<TR> <TD>Dw</TD>
     <TD>1</TD>
     <TD>Powder Debye-Waller factor
</TD>
<TD ALIGN=RIGHT>0.8</TD> </TR>
<TR> <TD>BARNS</TD>
     <TD>1</TD>
     <TD>Flag to define if powder reflection file |F2| is in Barns or fm
</TD>
<TD ALIGN=RIGHT>1</TD> </TR>
</TABLE>


<H2><A NAME=links></A>Links</H2>

<UL>
  <LI> <A HREF="PSI_DMC.instr">Source code</A> for <CODE>PSI_DMC.instr</CODE>.
  <LI> The <a href="http://lns00.psi.ch/montecarlo/">PSI Monte-Carlo</a> website.
  <LI> P Willendrup, U Filges, L Keller, E Farhi, K Lefmann: Validation of a realistic powder sample using data from DMC at PSI, ICNS 2005 (Physica B, 386, (2006), 1032.)

</UL>
<HR>
<P ALIGN=CENTER>
 [ <A href="#id">Identification</A>
 | <A href="#desc">Description</A>
 | <A href="#ipar">Input parameters</A>
 | <A href="#opar">Output parameters</A>
 | <A href="#links">Links</A> ]
</P>

<ADDRESS>
Generated automatically by McDoc, Peter Willendrup
&lt;<A HREF="mailto:peter.willendrup@risoe.dk">peter.willendrup@risoe.dk</A>&gt; /
Thu Jun 16 08:51:08 2016</ADDRESS>
</BODY></HTML>
