<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<HTML><HEAD>
<TITLE>McStas: RTP_NeutronRadiography Instrument at  TRIGA</TITLE>
<LINK REV="made" HREF="mailto:peter.willendrup@risoe.dk">
</HEAD>

<BODY>

<P ALIGN=CENTER>
 [ <A href="#id">Identification</A>
 | <A href="#desc">Description</A>
 | <A href="#ipar">Input parameters</A>
 | <A href="#opar">Output parameters</A>
 | <A href="#links">Links</A> ]
</P>

<H1>The <CODE>RTP_NeutronRadiography</CODE> Instrument</H1>

The radiography instrument installed at Reactor TRIGA PUSPATI (Malaysia)


<H2><A NAME=id></A>Identification</H2>

<UL>
  <LI> <B>Site:    TRIGA</B>
  <LI> <B>Author:</B> E. Farhi and Megat Harun Al-Rashid</B>
  <LI> <B>Origin:</B> ILL/RTP</B>
  <LI> <B>Date:</B> June 2014</B>
  <LI> <B>Version:</B> 0.2</B>
</UL>
<H2><A NAME=desc></A>Description</H2>

<PRE>
This is a radiography station installed on a radial beam port 3 at the Reactor TRIGA 
PUSPATI (RTP). It uses the thermal beam port 3.
The sample is made of 2 concentric cylinders made of Cu and Fe.

Example: mcrun RTP_NeutronRadiography.instr theta=20 phi=10

</PRE>

<H2><A NAME=ipar></A>Input parameters</H2>
Parameters in <B>boldface</B> are required;
the others are optional.
<TABLE BORDER=1>
<TR><TH>Name</TH>  <TH>Unit</TH>  <TH>Description</TH> <TH>Default</TH></TR>
<TR> <TD>theta</TD>
     <TD>deg</TD>
     <TD>horizontal rotation of the object
</TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>phi</TD>
     <TD>deg</TD>
     <TD>vertical rotation of the object
</TD>
<TD ALIGN=RIGHT>0</TD> </TR>
</TABLE>


<H2><A NAME=links></A>Links</H2>

<UL>
  <LI> <A HREF="RTP_NeutronRadiography.instr">Source code</A> for <CODE>RTP_NeutronRadiography.instr</CODE>.
  <LI> <a href="http://www.nuclearmalaysia.gov.my/Plant&Facilities/reactor.php">Nuclear Malaysia</a>
  <LI> M. Sufi et al., J. AppL Cryst. (1997). 30, 884-888 [doi:10.1107/S0021889897001738]

</UL>
<HR>
<P ALIGN=CENTER>
 [ <A href="#id">Identification</A>
 | <A href="#desc">Description</A>
 | <A href="#ipar">Input parameters</A>
 | <A href="#opar">Output parameters</A>
 | <A href="#links">Links</A> ]
</P>

<ADDRESS>
Generated automatically by McDoc, Peter Willendrup
&lt;<A HREF="mailto:peter.willendrup@risoe.dk">peter.willendrup@risoe.dk</A>&gt; /
Thu Jun 16 08:51:08 2016</ADDRESS>
</BODY></HTML>
