<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<HTML><HEAD>
<TITLE>McStas: Samples_Phonon Instrument at  Tests_samples</TITLE>
<LINK REV="made" HREF="mailto:peter.willendrup@risoe.dk">
</HEAD>

<BODY>

<P ALIGN=CENTER>
 [ <A href="#id">Identification</A>
 | <A href="#desc">Description</A>
 | <A href="#ipar">Input parameters</A>
 | <A href="#opar">Output parameters</A>
 | <A href="#links">Links</A> ]
</P>

<H1>The <CODE>Samples_Phonon</CODE> Instrument</H1>

Simple test instrument for the Phonon_simple component


<H2><A NAME=id></A>Identification</H2>

<UL>
  <LI> <B>Site:    Tests_samples</B>
  <LI> <B>Author:</B> K. Lefmann <kim.lefmann@risoe.dk> RISOE, Feb 2004</B>
  <LI> <B>Origin:</B> <a href="http://www.risoe.dk/">RISOE</a></B>
  <LI> <B>Date:</B> Feb 2004</B>
  <LI> <B>Version:</B> $Revision$</B>
</UL>
<H2><A NAME=desc></A>Description</H2>

<PRE>
Simple test instrument for the Phonon_simple component.
Refer to the component documentation for further instructions.


</PRE>

<H2><A NAME=ipar></A>Input parameters</H2>
Parameters in <B>boldface</B> are required;
the others are optional.
<TABLE BORDER=1>
<TR><TH>Name</TH>  <TH>Unit</TH>  <TH>Description</TH> <TH>Default</TH></TR>
<TR> <TD>E</TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>10</TD> </TR>
<TR> <TD>DE</TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>HDIV</TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>1e-4</TD> </TR>
<TR> <TD>VDIV</TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>1e-4</TD> </TR>
<TR> <TD>TT</TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>72.69</TD> </TR>
<TR> <TD>OM</TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>-43.3</TD> </TR>
<TR> <TD>C</TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>8</TD> </TR>
</TABLE>


<H2><A NAME=links></A>Links</H2>

<UL>
  <LI> <A HREF="Samples_Phonon.instr">Source code</A> for <CODE>Samples_Phonon.instr</CODE>.
</UL>
<HR>
<P ALIGN=CENTER>
 [ <A href="#id">Identification</A>
 | <A href="#desc">Description</A>
 | <A href="#ipar">Input parameters</A>
 | <A href="#opar">Output parameters</A>
 | <A href="#links">Links</A> ]
</P>

<ADDRESS>
Generated automatically by McDoc, Peter Willendrup
&lt;<A HREF="mailto:peter.willendrup@risoe.dk">peter.willendrup@risoe.dk</A>&gt; /
Thu Jun 16 08:51:08 2016</ADDRESS>
</BODY></HTML>
