<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<HTML><HEAD>
<TITLE>McStas: templateSANS Instrument at  Templates</TITLE>
<LINK REV="made" HREF="mailto:peter.willendrup@risoe.dk">
</HEAD>

<BODY>

<P ALIGN=CENTER>
 [ <A href="#id">Identification</A>
 | <A href="#desc">Description</A>
 | <A href="#ipar">Input parameters</A>
 | <A href="#opar">Output parameters</A>
 | <A href="#links">Links</A> ]
</P>

<H1>The <CODE>templateSANS</CODE> Instrument</H1>

Test instrument for the Sans_spheres component. No guide / velocity selector
etc. Will be developed further at later time.


<H2><A NAME=id></A>Identification</H2>

<UL>
  <LI> <B>Site:    Templates</B>
  <LI> <B>Author:</B> <a href="mailto:kim.lefmann@risoe.dk">Kim Lefmann</a></B>
  <LI> <B>Origin:</B> <a href="http://www.risoe.dk">Risoe</a></B>
  <LI> <B>Date:</B> 19th Dec 2003.</B>
  <LI> <B>Version:</B> $Revision$</B>
</UL>
<H2><A NAME=desc></A>Description</H2>

<PRE>
Very simple test instrument for the Sans_spheres component


</PRE>

<H2><A NAME=ipar></A>Input parameters</H2>
Parameters in <B>boldface</B> are required;
the others are optional.
<TABLE BORDER=1>
<TR><TH>Name</TH>  <TH>Unit</TH>  <TH>Description</TH> <TH>Default</TH></TR>
<TR> <TD>lambda</TD>
     <TD>AA</TD>
     <TD>Mean wavelength of neutrons      </TD>
<TD ALIGN=RIGHT>6</TD> </TR>
<TR> <TD>dlambda</TD>
     <TD>AA</TD>
     <TD>Wavelength spread of neutrons    </TD>
<TD ALIGN=RIGHT>0.05</TD> </TR>
<TR> <TD>r</TD>
     <TD>AA</TD>
     <TD>Radius of scattering hard spheres </TD>
<TD ALIGN=RIGHT>100</TD> </TR>
<TR> <TD>PHI</TD>
     <TD>1</TD>
     <TD>Particle volume fraction </TD>
<TD ALIGN=RIGHT>1e-3</TD> </TR>
<TR> <TD>Delta_Rho</TD>
     <TD>fm/AA^3</TD>
     <TD>Excess scattering length density </TD>
<TD ALIGN=RIGHT>0.6</TD> </TR>
<TR> <TD>sigma_abs</TD>
     <TD>barns</TD>
     <TD>Absorption cross section at 2200 m/s </TD>
<TD ALIGN=RIGHT>0.5</TD> </TR>
</TABLE>


<H2><A NAME=links></A>Links</H2>

<UL>
  <LI> <A HREF="templateSANS.instr">Source code</A> for <CODE>templateSANS.instr</CODE>.
  <LI> *
</UL>
<HR>
<P ALIGN=CENTER>
 [ <A href="#id">Identification</A>
 | <A href="#desc">Description</A>
 | <A href="#ipar">Input parameters</A>
 | <A href="#opar">Output parameters</A>
 | <A href="#links">Links</A> ]
</P>

<ADDRESS>
Generated automatically by McDoc, Peter Willendrup
&lt;<A HREF="mailto:peter.willendrup@risoe.dk">peter.willendrup@risoe.dk</A>&gt; /
Thu Jun 16 08:51:08 2016</ADDRESS>
</BODY></HTML>
