<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<HTML><HEAD>
<TITLE>McStas: templateLaue Instrument at  Templates</TITLE>
<LINK REV="made" HREF="mailto:peter.willendrup@risoe.dk">
</HEAD>

<BODY>

<P ALIGN=CENTER>
 [ <A href="#id">Identification</A>
 | <A href="#desc">Description</A>
 | <A href="#ipar">Input parameters</A>
 | <A href="#opar">Output parameters</A>
 | <A href="#links">Links</A> ]
</P>

<H1>The <CODE>templateLaue</CODE> Instrument</H1>

A simple Laue diffractometer


<H2><A NAME=id></A>Identification</H2>

<UL>
  <LI> <B>Site:    Templates</B>
  <LI> <B>Author:</B> K. Nielsen</B>
  <LI> <B>Origin:</B> ILL</B>
  <LI> <B>Date:</B> June 2nd, 2010</B>
  <LI> <B>Version:</B> $Revision$</B>
  <LI> <B>Modification history:</B> <UL>
    <LI>  EF, 
  </UL>
</UL>
<H2><A NAME=desc></A>Description</H2>

<PRE>
A single crystal sample is illuminated with a white cold beam.
Based on a Laue tutorial written by K. Nielsen, Feb 7, 2000.


</PRE>

<H2><A NAME=ipar></A>Input parameters</H2>
None.

<H2><A NAME=links></A>Links</H2>

<UL>
  <LI> <A HREF="templateLaue.instr">Source code</A> for <CODE>templateLaue.instr</CODE>.
</UL>
<HR>
<P ALIGN=CENTER>
 [ <A href="#id">Identification</A>
 | <A href="#desc">Description</A>
 | <A href="#ipar">Input parameters</A>
 | <A href="#opar">Output parameters</A>
 | <A href="#links">Links</A> ]
</P>

<ADDRESS>
Generated automatically by McDoc, Peter Willendrup
&lt;<A HREF="mailto:peter.willendrup@risoe.dk">peter.willendrup@risoe.dk</A>&gt; /
Thu Jun 16 08:51:08 2016</ADDRESS>
</BODY></HTML>
