<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<HTML><HEAD>
<TITLE>McStas: test Instrument at  Templates</TITLE>
<LINK REV="made" HREF="mailto:peter.willendrup@risoe.dk">
</HEAD>

<BODY>

<P ALIGN=CENTER>
 [ <A href="#id">Identification</A>
 | <A href="#desc">Description</A>
 | <A href="#ipar">Input parameters</A>
 | <A href="#opar">Output parameters</A>
 | <A href="#links">Links</A> ]
</P>

<H1>The <CODE>test</CODE> Instrument</H1>

Instrument short description


<H2><A NAME=id></A>Identification</H2>

<UL>
  <LI> <B>Site:    Templates</B>
  <LI> <B>Author:</B> Your name (email)</B>
  <LI> <B>Origin:</B> Your institution</B>
  <LI> <B>Date:</B> Current Date</B>
  <LI> <B>Version:</B> 0.2</B>
</UL>
<H2><A NAME=desc></A>Description</H2>

<PRE>
Instrument longer description (type, elements, usage...)

Example: mcrun test.instr <parameters=values>

once your instrument is written and functional:
- replace INSTRUMENT_SITE entry above with your Institution name as a single word
- rename the instrument name after DEFINE INSTRUMENT below
- update the parameter help in the following Parameters section
- update the instrument description, and better add a usage example with a
    sensible parameter set.

</PRE>

<H2><A NAME=ipar></A>Input parameters</H2>
Parameters in <B>boldface</B> are required;
the others are optional.
<TABLE BORDER=1>
<TR><TH>Name</TH>  <TH>Unit</TH>  <TH>Description</TH> <TH>Default</TH></TR>
<TR> <TD>Par1</TD>
     <TD>unit</TD>
     <TD>Parameter1 description
</TD>
<TD ALIGN=RIGHT>1</TD> </TR>
</TABLE>


<H2><A NAME=links></A>Links</H2>

<UL>
  <LI> <A HREF="template.instr">Source code</A> for <CODE>test.instr</CODE>.
  <LI> A reference/HTML link for more information

</UL>
<HR>
<P ALIGN=CENTER>
 [ <A href="#id">Identification</A>
 | <A href="#desc">Description</A>
 | <A href="#ipar">Input parameters</A>
 | <A href="#opar">Output parameters</A>
 | <A href="#links">Links</A> ]
</P>

<ADDRESS>
Generated automatically by McDoc, Peter Willendrup
&lt;<A HREF="mailto:peter.willendrup@risoe.dk">peter.willendrup@risoe.dk</A>&gt; /
Thu Jun 16 08:51:08 2016</ADDRESS>
</BODY></HTML>
