<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<HTML><HEAD>
<TITLE>McStas: <Unknown> Component</TITLE>
<LINK REV="made" HREF="mailto:peter.willendrup@risoe.dk">
</HEAD>

<BODY>

<P ALIGN=CENTER>
 [ <A href="#id">Identification</A>
 | <A href="#desc">Description</A>
 | <A href="#ipar">Input parameters</A>
 | <A href="#opar">Output parameters</A>
 | <A href="#links">Links</A> ]
</P>

<H1>The <CODE><Unknown></CODE> Component</H1>

<instrument short description>


<H2><A NAME=id></A>Identification</H2>

<UL>
  <LI> <B>Author:</B> <your name (email)></B>
  <LI> <B>Origin:</B> <your institution></B>
  <LI> <B>Date:</B> <current date></B>
  <LI> <B>Version:</B> <instrument version></B>
</UL>
<H2><A NAME=desc></A>Description</H2>

<PRE>
<instrument description>

Example: <parameters=values>

</PRE>

<H2><A NAME=ipar></A>Input parameters</H2>
None.

<H2><A NAME=links></A>Links</H2>

<UL>
  <LI> <A HREF="template_header_simple.instr">Source code</A> for <CODE><Unknown>.comp</CODE>.
  <LI> <reference/HTML link>

</UL>
<HR>
<P ALIGN=CENTER>
 [ <A href="#id">Identification</A>
 | <A href="#desc">Description</A>
 | <A href="#ipar">Input parameters</A>
 | <A href="#opar">Output parameters</A>
 | <A href="#links">Links</A> ]
</P>

<ADDRESS>
Generated automatically by McDoc, Peter Willendrup
&lt;<A HREF="mailto:peter.willendrup@risoe.dk">peter.willendrup@risoe.dk</A>&gt; /
Thu Jun 16 08:51:08 2016</ADDRESS>
</BODY></HTML>
