<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<HTML><HEAD>
<TITLE>McStas: Test_StatisticalChopper Instrument at  Tests_optics</TITLE>
<LINK REV="made" HREF="mailto:peter.willendrup@risoe.dk">
</HEAD>

<BODY>

<P ALIGN=CENTER>
 [ <A href="#id">Identification</A>
 | <A href="#desc">Description</A>
 | <A href="#ipar">Input parameters</A>
 | <A href="#opar">Output parameters</A>
 | <A href="#links">Links</A> ]
</P>

<H1>The <CODE>Test_StatisticalChopper</CODE> Instrument</H1>

An example using a statistical/correlation chopper and its de-correlation monitor


<H2><A NAME=id></A>Identification</H2>

<UL>
  <LI> <B>Site:    Tests_optics</B>
  <LI> <B>Author:</B> <a href="mailto:farhi@ill.fr">Emmanuel Farhi</a></B>
  <LI> <B>Origin:</B> <a href="http://www.ill.fr">ILL (France)</a></B>
  <LI> <B>Date:</B> 1st Dec 2009.</B>
  <LI> <B>Version:</B> $Revision$</B>
</UL>
<H2><A NAME=desc></A>Description</H2>

<PRE>
This instrument is a simple model of a kind of TOF instrument, with powder sample
and statistical chopper. The de-correlation is also performed in a dedicated monitor.


</PRE>

<H2><A NAME=ipar></A>Input parameters</H2>
Parameters in <B>boldface</B> are required;
the others are optional.
<TABLE BORDER=1>
<TR><TH>Name</TH>  <TH>Unit</TH>  <TH>Description</TH> <TH>Default</TH></TR>
<TR> <TD>lambda</TD>
     <TD>Angs</TD>
     <TD>source wavelength </TD>
<TD ALIGN=RIGHT>1</TD> </TR>
</TABLE>


<H2><A NAME=links></A>Links</H2>

<UL>
  <LI> <A HREF="Test_StatisticalChopper.instr">Source code</A> for <CODE>Test_StatisticalChopper.instr</CODE>.
  <LI> R. Von Jan and R. Scherm. The statistical chopper for neutron time-of-flight spectroscopy. Nuclear Instruments and Methods, 80 (1970) 69-76.

</UL>
<HR>
<P ALIGN=CENTER>
 [ <A href="#id">Identification</A>
 | <A href="#desc">Description</A>
 | <A href="#ipar">Input parameters</A>
 | <A href="#opar">Output parameters</A>
 | <A href="#links">Links</A> ]
</P>

<ADDRESS>
Generated automatically by McDoc, Peter Willendrup
&lt;<A HREF="mailto:peter.willendrup@risoe.dk">peter.willendrup@risoe.dk</A>&gt; /
Thu Jun 16 08:51:08 2016</ADDRESS>
</BODY></HTML>
