<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<HTML><HEAD>
<TITLE>McStas: Test_Monochromators Instrument at  Tests_optics</TITLE>
<LINK REV="made" HREF="mailto:peter.willendrup@risoe.dk">
</HEAD>

<BODY>

<P ALIGN=CENTER>
 [ <A href="#id">Identification</A>
 | <A href="#desc">Description</A>
 | <A href="#ipar">Input parameters</A>
 | <A href="#opar">Output parameters</A>
 | <A href="#links">Links</A> ]
</P>

<H1>The <CODE>Test_Monochromators</CODE> Instrument</H1>

Compares intensities of Monochromator components.


<H2><A NAME=id></A>Identification</H2>

<UL>
  <LI> <B>Site:    Tests_optics</B>
  <LI> <B>Author:</B> Peter Christiansen</B>
  <LI> <B>Origin:</B> RISOE.</B>
  <LI> <B>Date:</B> July 2006.</B>
  <LI> <B>Version:</B> $Revision$</B>
</UL>
<H2><A NAME=desc></A>Description</H2>

<PRE>

Very simple setup to compare intensities diffracted by Monochromators. 
It shows that implementations are equivalent.

Example: Mono=6 Detector: psd1_I=9.21295e-05

</PRE>

<H2><A NAME=ipar></A>Input parameters</H2>
Parameters in <B>boldface</B> are required;
the others are optional.
<TABLE BORDER=1>
<TR><TH>Name</TH>  <TH>Unit</TH>  <TH>Description</TH> <TH>Default</TH></TR>
<TR> <TD>Mono</TD>
     <TD>-</TD>
     <TD>Choice of Monochromator component to use, with
1=Monochromator_flat
2=Monochromator_pol
3=Monochromator_pol (forcing 1% events to be reflected)
4=Monochromator_curved (in flat mode)
5=Monochromator_2foc (contrib, flat mode)
6=Single_crystal</TD>
<TD ALIGN=RIGHT>1</TD> </TR>
<TR> <TD>lambda</TD>
     <TD>Angs</TD>
     <TD>Source wavelength   </TD>
<TD ALIGN=RIGHT>2.0</TD> </TR>
<TR> <TD>Moz</TD>
     <TD>Arc minutes</TD>
     <TD>Mosaicity           </TD>
<TD ALIGN=RIGHT>40</TD> </TR>
<TR> <TD>PG</TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>powder</TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>order</TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>1</TD> </TR>
</TABLE>


<H2><A NAME=links></A>Links</H2>

<UL>
  <LI> <A HREF="Test_Monochromators.instr">Source code</A> for <CODE>Test_Monochromators.instr</CODE>.
  <LI> 
</UL>
<HR>
<P ALIGN=CENTER>
 [ <A href="#id">Identification</A>
 | <A href="#desc">Description</A>
 | <A href="#ipar">Input parameters</A>
 | <A href="#opar">Output parameters</A>
 | <A href="#links">Links</A> ]
</P>

<ADDRESS>
Generated automatically by McDoc, Peter Willendrup
&lt;<A HREF="mailto:peter.willendrup@risoe.dk">peter.willendrup@risoe.dk</A>&gt; /
Thu Jun 16 08:51:08 2016</ADDRESS>
</BODY></HTML>
