<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<HTML><HEAD>
<TITLE>McStas: Test_Monitor_Sqw Instrument at  Tests_samples</TITLE>
<LINK REV="made" HREF="mailto:peter.willendrup@risoe.dk">
</HEAD>

<BODY>

<P ALIGN=CENTER>
 [ <A href="#id">Identification</A>
 | <A href="#desc">Description</A>
 | <A href="#ipar">Input parameters</A>
 | <A href="#opar">Output parameters</A>
 | <A href="#links">Links</A> ]
</P>

<H1>The <CODE>Test_Monitor_Sqw</CODE> Instrument</H1>

A simple ToF with cylindrical/spherical sample, and furnace/cryostat/container. The sample can be hollow.


<H2><A NAME=id></A>Identification</H2>

<UL>
  <LI> <B>Site:    Tests_samples</B>
  <LI> <B>Author:</B> E. Farhi</B>
  <LI> <B>Origin:</B> ILL</B>
  <LI> <B>Date:</B> Feb 2014</B>
  <LI> <B>Version:</B>(Unknown)</B>
</UL>
<H2><A NAME=desc></A>Description</H2>

<PRE>
This instrument models a generic, tunable, neutron time-of-flight spectrometer.

The incoming flux at the sample brings neutrons with 'beam_wavelength_Angs' wavelength.
The energy resolution at the sample is given as 'beam_resolution_meV'.
The beam size at the sample is set to the sample cross section (e.g. ~2 x 5 cm).

The sample geometry is either cylindrical ('sample_radius_m' and 'sample_height_m') 
or spherical ('sample_height_m=0'). The sample can be hollow when given a thickness
'sample_thickness_m', or filled ('sample_thickness_m=0'). When in cylindrical geometry, 
it is surrounded by a container with thickness 'container_thickness_m'. The container
material is specified as a powder file name 'container' in the McStas Sqw or PowderN format,
e.g. 'Al.laz' or 'Nb.laz'. Setting 'container=0' removes the container.

The sample scattering is characterised by its coherent and incoherent contributions
given as 'sample_coh' and 'sample_inc' file names in McStas Sqw or PowderN format.
Setting the 'sample_coh=sample_inc=0' removes the sample, e.g. to study the container or 
environment only contribution.

The sample and its container are located inside a cylindrical shield with radius
'environment_radius_m' and thickness 'environment_thickness_m'. The material is set from
the 'environment' file name in the McStas Sqw or PowderN format (e.g. 'Al.laz'). 
This way, it is possible to estimate the contribution of a cryostat or furnace.
Setting 'environment=0' removes the environment.

The detector has a cylindrical geometry, with a radius 'sample_detector_distance_m'
and tubes with height 'detector_height_m'. The detector covers a -30 to 140 deg angular range
with 2.54 cm diameter tubes (the number of tubes is computed from the distance).
The direct beam (non scattered neutrons) is discarded.

The detector produces both (angle,tof) and (q,w) data sets, for:
  total scattering
  coherent single scattering from sample
  incoherent single scattering from sample
  multiple scattering from sample
  scattering from the container and sample environment
The (angle,tof) results are corrected for the parallax effect from the detector height.

Known configurations:
ILL_IN4:
  beam_wavelength_Angs=2, beam_resolution_meV=0.5, 
  sample_detector_distance_m=2.0, detector_height_m=0.3
ILL_IN5:
  beam_wavelength_Angs=5, beam_resolution_meV=0.1, 
  sample_detector_distance_m=4.0, detector_height_m=3.0
ILL_IN6:
  beam_wavelength_Angs=4.1, beam_resolution_meV=0.1, 
  sample_detector_distance_m=2.48, detector_height_m=1.2
PSI_Focus:
  beam_wavelength_Angs=4.1, beam_resolution_meV=0.1, 
  sample_detector_distance_m=2.5, detector_height_m=1.2
FRM2_TOFTOF:
  beam_wavelength_Angs=3.0, beam_resolution_meV=0.3, 
  sample_detector_distance_m=4.0, detector_height_m=2.0
SNS_SEQUOIA:
  beam_wavelength_Angs=1.0, beam_resolution_meV=3.0, 
  sample_detector_distance_m=5.5, detector_height_m=1.2
SNS_ARCS:
  beam_wavelength_Angs=0.3, beam_resolution_meV=20.0, 
  sample_detector_distance_m=3.0, detector_height_m=1.46
NIST_DCS:
  beam_wavelength_Angs=3.0, beam_resolution_meV=0.2, 
  sample_detector_distance_m=4.0, detector_height_m=1.2
ISIS_MERLIN:
  beam_wavelength_Angs=1.0, beam_resolution_meV=2.4, 
  sample_detector_distance_m=2.5, detector_height_m=3.0
ISIS_LET: 
  beam_wavelength_Angs=4.0, beam_resolution_meV=0.1, 
  sample_detector_distance_m=3.5, detector_height_m=4.0


</PRE>

<H2><A NAME=ipar></A>Input parameters</H2>
Parameters in <B>boldface</B> are required;
the others are optional.
<TABLE BORDER=1>
<TR><TH>Name</TH>  <TH>Unit</TH>  <TH>Description</TH> <TH>Default</TH></TR>
<TR> <TD>beam_wavelength_Angs</TD>
     <TD>Angs</TD>
     <TD>incident neutron beam wavelength        </TD>
<TD ALIGN=RIGHT>2</TD> </TR>
<TR> <TD>beam_resolution_meV</TD>
     <TD>meV</TD>
     <TD>incident energy range full width        </TD>
<TD ALIGN=RIGHT>0.1</TD> </TR>
<TR> <TD>sample_coh</TD>
     <TD>str</TD>
     <TD>sample coherent Sqw data file or NULL   </TD>
<TD ALIGN=RIGHT>"Rb_liq_coh.sqw"</TD> </TR>
<TR> <TD>sample_inc</TD>
     <TD>str</TD>
     <TD>sample incoherent Sqw data file or NULL </TD>
<TD ALIGN=RIGHT>"Rb_liq_inc.sqw"</TD> </TR>
<TR> <TD>sample_thickness_m</TD>
     <TD>m</TD>
     <TD>thickness of sample. 0=filled           </TD>
<TD ALIGN=RIGHT>1e-3</TD> </TR>
<TR> <TD>sample_height_m</TD>
     <TD>m</TD>
     <TD>height of sample.    0=sphere           </TD>
<TD ALIGN=RIGHT>0.03</TD> </TR>
<TR> <TD>sample_radius_m</TD>
     <TD>m</TD>
     <TD>radius of sample (outer).               </TD>
<TD ALIGN=RIGHT>0.005</TD> </TR>
<TR> <TD>container</TD>
     <TD>str</TD>
     <TD>container material or NULL              </TD>
<TD ALIGN=RIGHT>"Al.laz"</TD> </TR>
<TR> <TD>container_thickness_m</TD>
     <TD>m</TD>
     <TD>container thickness                     </TD>
<TD ALIGN=RIGHT>50e-6</TD> </TR>
<TR> <TD>environment</TD>
     <TD>str</TD>
     <TD>sample environment material or NULL     </TD>
<TD ALIGN=RIGHT>"Al.laz"</TD> </TR>
<TR> <TD>environment_radius_m</TD>
     <TD>m</TD>
     <TD>sample environment outer radius         </TD>
<TD ALIGN=RIGHT>0.025</TD> </TR>
<TR> <TD>environment_thickness_m</TD>
     <TD>m</TD>
     <TD>sample environment thickness            </TD>
<TD ALIGN=RIGHT>2e-3</TD> </TR>
<TR> <TD>detector_height_m</TD>
     <TD>m</TD>
     <TD>detector tubes height                   </TD>
<TD ALIGN=RIGHT>3</TD> </TR>
<TR> <TD>sample_detector_distance_m</TD>
     <TD>m</TD>
     <TD>distance from sample to detector        </TD>
<TD ALIGN=RIGHT>4.0</TD> </TR>
</TABLE>


<H2><A NAME=links></A>Links</H2>

<UL>
  <LI> <A HREF="Test_Monitor_Sqw.instr">Source code</A> for <CODE>Test_Monitor_Sqw.instr</CODE>.
  <LI> The <a href="http://mcstas.org/download/components/samples/Isotropic_Sqw.html">Isotropic_Sqw sample</a>
  <LI> The <a href="http://mcstas.org/download/components/samples/PowderN.html">PowderN sample</a>
  <LI> The <a href="http://mcstas.org/download/components/examples/Samples_Isotropic_Sqw.html">Samples_Isotropic_Sqw</a> example instrument
  <LI> The <a href="https://forge.epn-campus.eu/projects/nmoldyn">nMoldyn</a> package to create Sqw data sets from MD trajectories
</UL>
<HR>
<P ALIGN=CENTER>
 [ <A href="#id">Identification</A>
 | <A href="#desc">Description</A>
 | <A href="#ipar">Input parameters</A>
 | <A href="#opar">Output parameters</A>
 | <A href="#links">Links</A> ]
</P>

<ADDRESS>
Generated automatically by McDoc, Peter Willendrup
&lt;<A HREF="mailto:peter.willendrup@risoe.dk">peter.willendrup@risoe.dk</A>&gt; /
Thu Jun 16 08:51:08 2016</ADDRESS>
</BODY></HTML>
