<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<HTML><HEAD>
<TITLE>McStas: Test_Jump_Iterate Instrument at  Tests_grammar</TITLE>
<LINK REV="made" HREF="mailto:peter.willendrup@risoe.dk">
</HEAD>

<BODY>

<P ALIGN=CENTER>
 [ <A href="#id">Identification</A>
 | <A href="#desc">Description</A>
 | <A href="#ipar">Input parameters</A>
 | <A href="#opar">Output parameters</A>
 | <A href="#links">Links</A> ]
</P>

<H1>The <CODE>Test_Jump_Iterate</CODE> Instrument</H1>

A test of the JUMP ITERATE keyword to describe a long curved guide in a concise way.


<H2><A NAME=id></A>Identification</H2>

<UL>
  <LI> <B>Site:    Tests_grammar</B>
  <LI> <B>Author:</B> E. Farhi</B>
  <LI> <B>Origin:</B>ILL</B>
  <LI> <B>Date:</B> March 30, 2015</B>
  <LI> <B>Version:</B> 1.4 </B>
</UL>
<H2><A NAME=desc></A>Description</H2>

<PRE>

A curved guide made of only two guide elements which are iterated with  slight
rotation in between, to describe a long curved guide. 


</PRE>

<H2><A NAME=ipar></A>Input parameters</H2>
Parameters in <B>boldface</B> are required;
the others are optional.
<TABLE BORDER=1>
<TR><TH>Name</TH>  <TH>Unit</TH>  <TH>Description</TH> <TH>Default</TH></TR>
<TR> <TD>L</TD>
     <TD>m</TD>
     <TD>total length of curved section
</TD>
<TD ALIGN=RIGHT>60</TD> </TR>
<TR> <TD>numel</TD>
     <TD>1</TD>
     <TD>number of guide elements, each of length L/numel
</TD>
<TD ALIGN=RIGHT>30</TD> </TR>
<TR> <TD>R</TD>
     <TD>m</TD>
     <TD>curvature radius
</TD>
<TD ALIGN=RIGHT>1500</TD> </TR>
<TR> <TD>width</TD>
     <TD>m</TD>
     <TD>width of guide element
</TD>
<TD ALIGN=RIGHT>0.03</TD> </TR>
<TR> <TD>m</TD>
     <TD>1</TD>
     <TD>super-mirror coating wrt Ni, e.g. m=2
</TD>
<TD ALIGN=RIGHT>2</TD> </TR>
</TABLE>


<H2><A NAME=links></A>Links</H2>

<UL>
  <LI> <A HREF="Test_Jump_Iterate.instr">Source code</A> for <CODE>Test_Jump_Iterate.instr</CODE>.
</UL>
<HR>
<P ALIGN=CENTER>
 [ <A href="#id">Identification</A>
 | <A href="#desc">Description</A>
 | <A href="#ipar">Input parameters</A>
 | <A href="#opar">Output parameters</A>
 | <A href="#links">Links</A> ]
</P>

<ADDRESS>
Generated automatically by McDoc, Peter Willendrup
&lt;<A HREF="mailto:peter.willendrup@risoe.dk">peter.willendrup@risoe.dk</A>&gt; /
Thu Jun 16 08:51:08 2016</ADDRESS>
</BODY></HTML>
