<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<HTML><HEAD>
<TITLE>McStas: Test_Scatter_log_losses Instrument at  Templates</TITLE>
<LINK REV="made" HREF="mailto:peter.willendrup@risoe.dk">
</HEAD>

<BODY>

<P ALIGN=CENTER>
 [ <A href="#id">Identification</A>
 | <A href="#desc">Description</A>
 | <A href="#ipar">Input parameters</A>
 | <A href="#opar">Output parameters</A>
 | <A href="#links">Links</A> ]
</P>

<H1>The <CODE>Test_Scatter_log_losses</CODE> Instrument</H1>

Example instrument of Scatter_logger feature usage for detection of lost instensity


<H2><A NAME=id></A>Identification</H2>

<UL>
  <LI> <B>Site:    Templates</B>
  <LI> <B>Author:</B> Erik B Knudsen (erkn@fysik.dtu.dk)</B>
  <LI> <B>Origin:</B> DTU Fysik</B>
  <LI> <B>Date:</B> 2013</B>
  <LI> <B>Version:</B> 1.0</B>
</UL>
<H2><A NAME=desc></A>Description</H2>

<PRE>

This instrument is an example of how to use thet newly developed (and experimental)
Scatter_logger family of components in McStas. In this example the neutrons deposited in the
guide wall of a LENGTH m long straight guide are monitored bytwo instances of Monitor_nD
The first (mnd1) stretches the full length of the guide and simply monitors the intensity lost in
the guide walls, the latter (mnd2) shows the lost intensity binned by neutron wavelength in the last
1m of guide.

Also include (but commented out) is a code-snippet that would dump the lost neutrons to stdout

Example: mcrun Test_Scatter_log_losses LENGTH=10

</PRE>

<H2><A NAME=ipar></A>Input parameters</H2>
Parameters in <B>boldface</B> are required;
the others are optional.
<TABLE BORDER=1>
<TR><TH>Name</TH>  <TH>Unit</TH>  <TH>Description</TH> <TH>Default</TH></TR>
<TR> <TD>LENGTH</TD>
     <TD>m</TD>
     <TD>The length of the guide to be modelled 
</TD>
<TD ALIGN=RIGHT>10</TD> </TR>
</TABLE>


<H2><A NAME=links></A>Links</H2>

<UL>
  <LI> <A HREF="Test_Scatter_log_losses.instr">Source code</A> for <CODE>Test_Scatter_log_losses.instr</CODE>.
  <LI> <a href="http://orbit.dtu.dk/files/57025387/prod11375088187360.NO_P_v8.pdf">Esben Klinkby talk at NOP&D 2013</a>

</UL>
<HR>
<P ALIGN=CENTER>
 [ <A href="#id">Identification</A>
 | <A href="#desc">Description</A>
 | <A href="#ipar">Input parameters</A>
 | <A href="#opar">Output parameters</A>
 | <A href="#links">Links</A> ]
</P>

<ADDRESS>
Generated automatically by McDoc, Peter Willendrup
&lt;<A HREF="mailto:peter.willendrup@risoe.dk">peter.willendrup@risoe.dk</A>&gt; /
Thu Jun 16 08:51:08 2016</ADDRESS>
</BODY></HTML>
