<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HEAD>
<META http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<LINK REL="alternate" TITLE="McStas news RSS" HREF="http://rss.mcstas.org/RSS.xml" TYPE="application/rss+xml">
<TITLE>McStas homepage</TITLE>
<STYLE>
<!--
a.menu {color: #000000}
-->
</STYLE>
<link rel="icon" href="/favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"> 
</HEAD>
<BODY text="#000000" bgcolor="#777777" link="#006699" vlink="#003366" alink="#FF0000">

<TABLE border="0" cellpadding="4" cellspacing="0" width="100%">
 <TR> <!-- top --> 
  <TD align="center" bgcolor="#ffffff" text="ffffff"> <!-- left (nrulogo) -->
   <A href="/"><IMG src="/logo-left.png" border="0" alt="McStas logo"></A>
  </TD> <!-- left (nrulogo) -->

  <TD align="center" bgcolor="#ffffff" width="10000"> <!-- midle (title) -->
    <A href="/"><img overlay src="/toplogo_animated.gif" border="0" alt="McStas - A neutron ray-trace simulation package"></A>
  </TD> <!-- midle (nrutitle) -->
  <TD align="right" bgcolor="#ffffff"><!-- right (rhhslogo) -->
    <A href="http://www.ill.fr"><IMG src="/ill-logo.png" border="0" alt="ILL;"></A>
    </TD>
  <TD align="right" bgcolor="#ffffff"><!-- right (rhhslogo) -->
    <A href="http://www.psi.ch"><IMG src="/psi-logo.png" border="0" alt="PSI;"></A> 
    </TD>
  <td align="right" bgcolor="white">
  <A href="http://www.europeanspallationsource.se/"><IMG
    src="/ESS_Logo_Frugal_Blue_cmyk.png" border="0" alt="ESS"></A></td>
  <TD align="right" bgcolor="#ffffff"><!-- right (rhhslogo) -->
  <A href="http://www.nbi.dk"><IMG src="/ku_nat.gif" border="0" alt="Niels Bohr Institute"></A></td><td align="right" bgcolor="white">
  <A href="http://www.fys.dtu.dk/"><IMG src="/DTU_logo.gif" border="0" alt="DTU Physics"></A></td><td align="right" bgcolor="white">
  <A href="http://nexmap.fysik.dtu.dk/"><IMG src="/NEXMAP_logo.png" border="0" alt="NEXMAP"></A>
  </TD> <!-- right (rhhslogo) -->
 </TR> <!-- top -->

 <TR> <!-- main -->
  <TD align="left" valign="top" bgcolor="#ffffff"> <!-- left (menu) -->
   <BR> <P style="font-family:Verdana"><B><A href="/" class="menu">McStas</A></B><BR> 
	<SMALL>
<P style="font-family:Verdana"><B><A href="/about/" class="menu">About McStas</A></B><BR> 
	<SMALL>
		&nbsp;<A href="/about/conditions" class="menu">Conditions of use</A><BR>
		&nbsp;<A href="/about/contacts" class="menu">Authors/Contacts</A><BR>
		&nbsp;<A href="/about/funding" class="menu">Project funding</A><BR>
		&nbsp;<A href="/about/screenshots" class="menu">Screenshots</A><BR>
	</SMALL>
</P> 
<P style="font-family:Verdana"><B><A href="/download/" class="menu"><font color="green">Download</font></A></B><BR> 
	<SMALL>
		&nbsp;<A href="/download/components" class="menu">Components</A><BR>
		&nbsp;<A href="/download/install_linux" class="menu"><font color="green">Linux Install (deb/rpm)</font></A><BR>
		&nbsp;<A href="/download/install_mac_os_x" class="menu"><font color="green">Mac OS X Install</font></A><BR>
		&nbsp;<A href="/download/install_unix" class="menu"><font color="green">Unix Install (src code)</font></A><BR>
		&nbsp;<A href="/download/install_windows" class="menu"><font color="green">Windows Install</font></A><BR>
		&nbsp;<A href="/download/share" class="menu"><font color="blue">Other Downloads (share)</font></A><BR>
	</SMALL>
</P> 
<P style="font-family:Verdana"><B><A href="/list/" class="menu">Mailing list</A></B><BR> 
	<SMALL>
	</SMALL>
</P> 
<P style="font-family:Verdana"><B><A href="/search/" class="menu">Search web/mailinglist</A></B><BR> 
	<SMALL>
	</SMALL>
</P> 
<P style="font-family:Verdana"><B><A href="/documentation/" class="menu">Documentation</A></B><BR> 
	<SMALL>
		&nbsp;<A href="/documentation/manual" class="menu">McStas manual</A><BR>
		&nbsp;<A href="/documentation/faq" class="menu">FAQ</A><BR>
		&nbsp;<A href="/documentation/problems" class="menu">Known problems</A><BR>
		&nbsp;<A href="/documentation/publications" class="menu">Publications</A><BR>
		&nbsp;<A href="/documentation/compilers" class="menu">C Compilers</A><BR>
		&nbsp;<A href="/documentation/other" class="menu">Other</A><BR>
		&nbsp;<A href="/documentation/tools" class="menu">Tools</A><BR>
		&nbsp;<A href="/documentation/tutorial" class="menu">Tutorial</A><BR>
	</SMALL>
</P> 
<P style="font-family:Verdana"><B><A href="/workshop/" class="menu">Workshops/conferences</A></B><BR> 
	<SMALL>
	</SMALL>
</P> 
<P style="font-family:Verdana"><B><A href="/developments/" class="menu">Developments</A></B><BR> 
	<SMALL>
	</SMALL>
</P> 
<P style="font-family:Verdana"><B><A href="/links/" class="menu">Links</A></B><BR> 
	<SMALL>
	</SMALL>
</P> 
<P style="font-family:Verdana"><B><A href="/McZilla/" class="menu">Report bugs</A></B><BR> 
	<SMALL>
	</SMALL>
</P> 
<P style="font-family:Verdana"><B><A href="/git/" class="menu">Git</A></B><BR> 
	<SMALL>
	</SMALL>
</P> 
<P style="font-family:Verdana"><B><A href="/ubuntu/" class="menu"><font color="green">McStas Ubuntu live-dvd</font></A></B><BR> 
	<SMALL>
	</SMALL>
</P> 
 <BR>
  </TD> <!-- left (menu) -->

  <TD colspan="8" align="left" valign="top" bgcolor="#ffffff"> <!-- midleright (text) -->
  <div style="font-family:arial; border: solid 0 #555; border-width:2px; padding:2.5ex; background-color: #ffffff;";>




<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<HTML><HEAD>
<TITLE>McStas: PowderN Component</TITLE>
<LINK REV="made" HREF="mailto:peter.willendrup@risoe.dk">
</HEAD>

<BODY>

<P ALIGN=CENTER>
 [ <A href="#id">Identification</A>
 | <A href="#desc">Description</A>
 | <A href="#ipar">Input parameters</A>
 | <A href="#opar">Output parameters</A>
 | <A href="#links">Links</A> ]
</P>

<H1>The <CODE>PowderN</CODE> Component</H1>

General powder sample (N lines, single scattering, incoherent scattering)


<H2><A NAME=id></A>Identification</H2>

<UL>
  <LI> <B>Author:</B> P. Willendrup, L. Chapon, K. Lefmann, A.B.Abrahamsen, N.B.Christensen, E.M.Lauridsen.</B>
  <LI> <B>Origin:</B> McStas release</B>
  <LI> <B>Date:</B> 4.2.98</B>
  <LI> <B>Version:</B> $Revision$</B>
  <LI> <B>Modification history:</B> <UL>
    <LI>  KL, KN 20.03.98   (rewrite)
    <LI>  KL,    28.09.01   (two lines)
    <LI>  KL,    22.05.03   (background)
    <LI>  KL, PW 01.05.05   (N lines)
    <LI>  PW, LC 04.10.05   (Merge with Chapon Powder_multi)
    <LI>  PW, KL 05.06.07   (Concentricity)
    <LI>  EF,    17.10.08   (added any shape sample geometry)
  </UL>
</UL>
<H2><A NAME=desc></A>Description</H2>

<PRE>
General powder sample with
        many scattering vectors
        possibility for intrinsic line broadening
        incoherent elastic background ratio is specified by user
        No multiple scattering. No secondary extinction.

Based on Powder1/Powder2/Single_crystal.
Geometry is a powder filled cylinder, sphere, box or any shape from an OFF file.
Incoherent scattering is only provided here to account for a background.
The efficient is highly improved when restricting the vertical scattering
  range on the Debye-Scherrer cone (with 'd_phi').
The unit cell volume Vc may also be computed when giving the density,
  the atomic/molecular weight and the number of atoms per unit cell.
A simple strain handling is available by mean of either a global Strain parameter,
  or a column with a strain value per Bragg reflection. The strain values are
  specified in ppm (1e-6).
The Single_crystal component can also handle a powder mode, as well as an 
  approximated texture.

<b>Sample shape:</b>
Sample shape may be a cylinder, a sphere, a box or any other shape.
  box/plate:       xwidth x yheight x zdepth (thickness=0)
  hollow box/plate:xwidth x yheight x zdepth and thickness>0
  cylinder:        radius x yheight (thickness=0)
  hollow cylinder: radius x yheight and thickness>0
  sphere:          radius (yheight=0 thickness=0)
  hollow sphere:   radius and thickness>0 (yheight=0)
  any shape:       geometry=OFF_file

  The complex geometry option handles any closed non-convex polyhedra.
  It computes the intersection points of the neutron ray with the object
  transparently, so that it can be used like a regular sample object.
  It supports the PLY, OFF and NOFF file format but not COFF (colored faces).
  Such files may be generated from XYZ data using:
    qhull < coordinates.xyz Qx Qv Tv o > geomview.off
  or
    powercrust coordinates.xyz
  and viewed with geomview or java -jar jroff.jar (see below).
  The default size of the object depends of the OFF file data, but its
  bounding box may be resized using xwidth,yheight and zdepth.

If you use this component and produce valuable scientific results, please
cite authors with references bellow (in <a href="#links">Links</a>).

Example: PowderN(reflections = "c60.lau", d_phi = 15 , radius = 0.01,
  yheight = 0.05, Vc = 1076.89, sigma_abs = 0, delta_d_d=0, DW=1,
  format=Crystallographica)

<b>Powder definition file format</b>
Powder structure is specified with an ascii data file 'reflections'.
The powder data are free-text column based files.
The reflection list should be ordered by decreasing d-spacing values.
      ... d ... F2
Lines begining by '#' are read as comments (ignored) but they may contain
the following keywords (in the header):
  #Vc           <value of unit cell volume Vc [Angs^3]>
  #sigma_abs    <value of Absorption cross section [barns]>
  #sigma_inc    <value of Incoherent cross section [barns]>
  #Debye_Waller <value of Debye-Waller factor DW>
  #delta_d_d/d    <value of Detla_d/d width for all lines>
These values are not read if entered as component parameters (Vc=...)

The signification of the columns in the numerical block may be
set using the 'format' parameter. Built-in formats are:
  format=Crystallographica
  format=Fullprof
  format=Lazy
and these specifications it is important NOT to use quotes, as shown.

An other possibility to define other formats is to set directly
the signification of the columns as a vector of indexes in the order
  format={j,d,F2,DW,delta_d_d/d,1/2d,q,F,Strain}
Signification of the symbols is given below. Indices start at 1.
Indices with zero means that the column are not present, so that:
  Crystallographica={ 4,5,7,0,0,0,0,0,0 }
  Fullprof         ={ 4,0,8,0,0,5,0,0,0 }
  Lazy             ={17,6,0,0,0,0,0,13,0}
Here again, NO quotes should be around the 'format' value.

At last, the format may be overridden by direct definition of the
column indexes in the file itself by using the following keywords
in the header (e.g. '#column_j 4'):
  #column_j     <index of the multiplicity 'j' column>
  #column_d     <index of the d-spacing 'd' column [Angs]>
  #column_F2    <index of the squared str. factor '|F|^2' column [b]>
  #column_F     <index of the structure factor norm '|F|' column>
  #column_DW    <index of the Debye-Waller factor 'DW' column>
  #column_Dd    <index of the relative line width delta_d_d/d broadening 'Dd' column>
  #column_inv2d <index of the 1/2d=sin(theta)/lambda 'inv2d' column>
  #column_q     <index of the scattering wavevector 'q' column [Angs-1]>
  #column_strain <index of the strain line shift Delta/d [ppm]>

<b>Concentricity</b>

PowderN assumes 'concentric' shape, i.e. can contain other components inside its
optional inner hollow. Example, Sample in Al cryostat:


COMPONENT Cryo = PowderN(reflections="Al.laz", radius = 0.01, thickness = 0.001,
                         concentric = 1, p_interact=0.1)
AT (0,0,0) RELATIVE Somewhere

COMPONENT Sample = some_other_component(with geometry FULLY enclosed in the hollow)
AT (0,0,0) RELATIVE Somewhere

COMPONENT Cryo2 = COPY(Cryo)(concentric = 0)
AT (0,0,0) RELATIVE Somewhere


(The second instance of the cryostat component can also be written out completely
 using PowderN(...). In both cases, this second instance needs concentric = 0.)
The concentric arrangment can not be used with OFF geometry specification.

</PRE>

<H2><A NAME=ipar></A>Input parameters</H2>
Parameters in <B>boldface</B> are required;
the others are optional.
<TABLE BORDER=1>
<TR><TH>Name</TH>  <TH>Unit</TH>  <TH>Description</TH> <TH>Default</TH></TR>
<TR> <TD>format</TD>
     <TD>no quotes</TD>
     <TD>Name of the format, or list of column indexes
(see Description). </TD>
<TD ALIGN=RIGHT>Undefined</TD> </TR>
<TR> <TD>reflections</TD>
     <TD>string</TD>
     <TD>Input file for reflections.
Use only incoherent scattering if NULL or "" </TD>
<TD ALIGN=RIGHT>"NULL"</TD> </TR>
<TR> <TD>geometry</TD>
     <TD>str</TD>
     <TD>Name of an Object File Format (OFF) or PLY file for complex geometry.
The OFF/PLY file may be generated from XYZ coordinates using qhull/powercrust </TD>
<TD ALIGN=RIGHT>"NULL"</TD> </TR>
<TR> <TD>radius</TD>
     <TD>m</TD>
     <TD>Outer radius of sample in (x,z) plane </TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>yheight</TD>
     <TD>m</TD>
     <TD>Height of sample y direction </TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>xwidth</TD>
     <TD>m</TD>
     <TD>Horiz. dimension of sample, as a width </TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>zdepth</TD>
     <TD>m</TD>
     <TD>Depth of box sample </TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>thickness</TD>
     <TD>m</TD>
     <TD>Thickness of hollow sample.
Negative value extends the hollow volume outside of the box/cylinder. </TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>pack</TD>
     <TD>1</TD>
     <TD>Packing factor </TD>
<TD ALIGN=RIGHT>1</TD> </TR>
<TR> <TD>Vc</TD>
     <TD>AA^3</TD>
     <TD>Volume of unit cell=nb atoms per cell/density of atoms </TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>sigma_abs</TD>
     <TD>barns</TD>
     <TD>Absorption cross section per unit cell at 2200 m/s. Use a negative value to unactivate it  </TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>sigma_inc</TD>
     <TD>barns</TD>
     <TD>Incoherent cross section per unit cell. Use a negative value to unactivate it </TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>delta_d_d</TD>
     <TD>0-1</TD>
     <TD>Global relative delta_d_d/d broadening when the 'w' column
is not available. Use 0 if ideal. </TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>p_inc</TD>
     <TD>1</TD>
     <TD>Fraction of incoherently scattered neutron rays </TD>
<TD ALIGN=RIGHT>0.1</TD> </TR>
<TR> <TD>p_transmit</TD>
     <TD>1</TD>
     <TD>Fraction of transmitted (only attenuated) neutron rays </TD>
<TD ALIGN=RIGHT>0.1</TD> </TR>
<TR> <TD>DW</TD>
     <TD>1</TD>
     <TD>Global Debey-Waller factor when the 'DW' column
is not available. Use 1 if included in F2 </TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>nb_atoms</TD>
     <TD>1</TD>
     <TD>Number of sub-unit per unit cell, that is ratio of sigma for chemical formula to sigma per unit cell </TD>
<TD ALIGN=RIGHT>1</TD> </TR>
<TR> <TD>d_phi</TD>
     <TD>deg,0-180</TD>
     <TD>Angle corresponding to the vertical angular range
to focus to, e.g. detector height. 0 for no focusing </TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>p_interact</TD>
     <TD>1</TD>
     <TD>Fraction of events interacting with sample, e.g. 1-p_transmit-p_inc </TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>concentric</TD>
     <TD>1</TD>
     <TD>Indicate that this component has a hollow geometry
and may contain other components. It should then be duplicated
after the inside part (only for box, cylinder, sphere) </TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>density</TD>
     <TD>g/cm^3</TD>
     <TD>Density of material. rho=density/weight/1e24*N_A. </TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>weight</TD>
     <TD>g/mol</TD>
     <TD>Atomic/molecular weight of material </TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>barns</TD>
     <TD>1</TD>
     <TD>Flag to indicate if |F|^2 from 'reflections' is in barns or fm^2
(barns=1 for laz, barns=0 for lau type files).</TD>
<TD ALIGN=RIGHT>1</TD> </TR>
<TR> <TD>Strain</TD>
     <TD>ppm</TD>
     <TD>Global relative delta_d_d/d shift when the 'Strain' column
is not available. Use 0 if ideal. </TD>
<TD ALIGN=RIGHT>0</TD> </TR>
</TABLE>


<H2><A NAME=opar></A>Output parameters</H2>
<TABLE BORDER=1>
<TR><TH>Name</TH>  <TH>Unit</TH>  <TH>Description</TH> <TH>Default</TH></TR>
<TR> <TD><B>line_info</B></TD>
     <TD>Angs-1</TD>
     <TD>.dq:   wavevector transfer of last coherent scattering event </TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>columns</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>offdata</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
</TABLE>


<H2><A NAME=links></A>Links</H2>

<UL>
  <LI> <A HREF="PowderN.comp">Source code</A> for <CODE>PowderN.comp</CODE>.
  <LI> "Validation of a realistic powder sample using data from DMC at PSI" Willendrup P, Filges U, Keller L, Farhi E, Lefmann K, Physica B-Cond Matt 385 (2006) 1032.
  <LI> See also: Powder1, Powder2 and PowderN, Single_crystal
  <LI> See <a href="http://icsd.ill.fr">ICSD</a> Inorganic Crystal Structure Database
  <LI> <a href="http://www.ncnr.nist.gov/resources/n-lengths/">Cross sections for single elements</a>
  <LI> <a href="http://www.ncnr.nist.gov/resources/sldcalc.html>Cross sections for compounds</a>
  <LI> <a href="http://www.webelements.com/">Web Elements</a>
  <LI> <a href="http://www.ill.eu/sites/fullprof/index.html">Fullprof</a> powder refinement
  <LI> <a href="http://www.crystallographica.com/">Crystallographica</a> software (free license)
  <LI> <a href="http://www.geomview.org">Geomview and Object File Format (OFF)</a>
  <LI> Java version of Geomview (display only) <a href="http://www.holmes3d.net/graphics/roffview/">jroff.jar</a>
  <LI> <a href="http://qhull.org">qhull</a>
  <LI> <a href="http://www.cs.ucdavis.edu/~amenta/powercrust.html">powercrust</a>

</UL>
<HR>
<P ALIGN=CENTER>
 [ <A href="#id">Identification</A>
 | <A href="#desc">Description</A>
 | <A href="#ipar">Input parameters</A>
 | <A href="#opar">Output parameters</A>
 | <A href="#links">Links</A> ]
</P>

<ADDRESS>
Generated automatically by McDoc, Peter Willendrup
&lt;<A HREF="mailto:peter.willendrup@risoe.dk">peter.willendrup@risoe.dk</A>&gt; /
Thu Jun 16 08:51:07 2016</ADDRESS>
</BODY></HTML>

<P><DIV align=right><A href="/download/components/samples/PowderN.pure.html">Printable version</A></DIV><HR> <CENTER><SMALL>Last Modified: Thursday, 16-Jun-2016 10:51:07 CEST</SMALL></CENTER>
</div></TD> <!-- midleright (text) -->
 </TR> <!-- main -->
<TR bgcolor = "#ffffff" align="left">
<TD colspan="8"><a href="/search"><img
 src="/spyglass.gif" alt="Search website" align="middle" height="40"
 border="0"></a>
<a href="http://freshmeat.net/projects/mcstas"><img
 src="/link_button_3.gif" align="middle"
 border="0" alt="freshmeat.net McStas site"></a>
<a href="http://rss.mcstas.org/RSS.xml" ><img src="/rssfeed.png" align="middle" border="0" alt="RSS feed"></a>
<a href="http://mailman.mcstas.org/pipermail/mcstas-users/"><img src="/Mailman.jpg" align="middle" border="0" alt="mailinglist archive"></a>
<a href="https://svn.mccode.org/svn/McCode"><img src="/subversion_logo.png" align="middle" height="40" border="0" alt="SVN repos"></A>
<a href="http://trac.mccode.org"><img src="/trac_logo.png"
 align="middle" height="50" border="0" alt="McCode Trac"></a>
<!-- Facebook Badge START --><a
 href="http://www.facebook.com/McStas"
 target="_TOP" title="McStas"><img align="middle" src="/mcstas-fblogo.png" width="50" height="40" style="border: 0px;" /></a><!-- Facebook Badge END --></TD></TR></TABLE >

</BODY>
</HTML>

