<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HEAD>
<META http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<LINK REL="alternate" TITLE="McStas news RSS" HREF="http://rss.mcstas.org/RSS.xml" TYPE="application/rss+xml">
<TITLE>McStas homepage</TITLE>
<STYLE>
<!--
a.menu {color: #000000}
-->
</STYLE>
<link rel="icon" href="/favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"> 
</HEAD>
<BODY text="#000000" bgcolor="#777777" link="#006699" vlink="#003366" alink="#FF0000">

<TABLE border="0" cellpadding="4" cellspacing="0" width="100%">
 <TR> <!-- top --> 
  <TD align="center" bgcolor="#ffffff" text="ffffff"> <!-- left (nrulogo) -->
   <A href="/"><IMG src="/logo-left.png" border="0" alt="McStas logo"></A>
  </TD> <!-- left (nrulogo) -->

  <TD align="center" bgcolor="#ffffff" width="10000"> <!-- midle (title) -->
    <A href="/"><img overlay src="/toplogo_animated.gif" border="0" alt="McStas - A neutron ray-trace simulation package"></A>
  </TD> <!-- midle (nrutitle) -->
  <TD align="right" bgcolor="#ffffff"><!-- right (rhhslogo) -->
    <A href="http://www.ill.fr"><IMG src="/ill-logo.png" border="0" alt="ILL;"></A>
    </TD>
  <TD align="right" bgcolor="#ffffff"><!-- right (rhhslogo) -->
    <A href="http://www.psi.ch"><IMG src="/psi-logo.png" border="0" alt="PSI;"></A> 
    </TD>
  <td align="right" bgcolor="white">
  <A href="http://www.europeanspallationsource.se/"><IMG
    src="/ESS_Logo_Frugal_Blue_cmyk.png" border="0" alt="ESS"></A></td>
  <TD align="right" bgcolor="#ffffff"><!-- right (rhhslogo) -->
  <A href="http://www.nbi.dk"><IMG src="/ku_nat.gif" border="0" alt="Niels Bohr Institute"></A></td><td align="right" bgcolor="white">
  <A href="http://www.fys.dtu.dk/"><IMG src="/DTU_logo.gif" border="0" alt="DTU Physics"></A></td><td align="right" bgcolor="white">
  <A href="http://nexmap.fysik.dtu.dk/"><IMG src="/NEXMAP_logo.png" border="0" alt="NEXMAP"></A>
  </TD> <!-- right (rhhslogo) -->
 </TR> <!-- top -->

 <TR> <!-- main -->
  <TD align="left" valign="top" bgcolor="#ffffff"> <!-- left (menu) -->
   <BR> <P style="font-family:Verdana"><B><A href="/" class="menu">McStas</A></B><BR> 
	<SMALL>
<P style="font-family:Verdana"><B><A href="/about/" class="menu">About McStas</A></B><BR> 
	<SMALL>
		&nbsp;<A href="/about/conditions" class="menu">Conditions of use</A><BR>
		&nbsp;<A href="/about/contacts" class="menu">Authors/Contacts</A><BR>
		&nbsp;<A href="/about/funding" class="menu">Project funding</A><BR>
		&nbsp;<A href="/about/screenshots" class="menu">Screenshots</A><BR>
	</SMALL>
</P> 
<P style="font-family:Verdana"><B><A href="/download/" class="menu"><font color="green">Download</font></A></B><BR> 
	<SMALL>
		&nbsp;<A href="/download/components" class="menu">Components</A><BR>
		&nbsp;<A href="/download/install_linux" class="menu"><font color="green">Linux Install (deb/rpm)</font></A><BR>
		&nbsp;<A href="/download/install_mac_os_x" class="menu"><font color="green">Mac OS X Install</font></A><BR>
		&nbsp;<A href="/download/install_unix" class="menu"><font color="green">Unix Install (src code)</font></A><BR>
		&nbsp;<A href="/download/install_windows" class="menu"><font color="green">Windows Install</font></A><BR>
		&nbsp;<A href="/download/share" class="menu"><font color="blue">Other Downloads (share)</font></A><BR>
	</SMALL>
</P> 
<P style="font-family:Verdana"><B><A href="/list/" class="menu">Mailing list</A></B><BR> 
	<SMALL>
	</SMALL>
</P> 
<P style="font-family:Verdana"><B><A href="/search/" class="menu">Search web/mailinglist</A></B><BR> 
	<SMALL>
	</SMALL>
</P> 
<P style="font-family:Verdana"><B><A href="/documentation/" class="menu">Documentation</A></B><BR> 
	<SMALL>
		&nbsp;<A href="/documentation/manual" class="menu">McStas manual</A><BR>
		&nbsp;<A href="/documentation/faq" class="menu">FAQ</A><BR>
		&nbsp;<A href="/documentation/problems" class="menu">Known problems</A><BR>
		&nbsp;<A href="/documentation/publications" class="menu">Publications</A><BR>
		&nbsp;<A href="/documentation/compilers" class="menu">C Compilers</A><BR>
		&nbsp;<A href="/documentation/other" class="menu">Other</A><BR>
		&nbsp;<A href="/documentation/tools" class="menu">Tools</A><BR>
		&nbsp;<A href="/documentation/tutorial" class="menu">Tutorial</A><BR>
	</SMALL>
</P> 
<P style="font-family:Verdana"><B><A href="/workshop/" class="menu">Workshops/conferences</A></B><BR> 
	<SMALL>
	</SMALL>
</P> 
<P style="font-family:Verdana"><B><A href="/developments/" class="menu">Developments</A></B><BR> 
	<SMALL>
	</SMALL>
</P> 
<P style="font-family:Verdana"><B><A href="/links/" class="menu">Links</A></B><BR> 
	<SMALL>
	</SMALL>
</P> 
<P style="font-family:Verdana"><B><A href="/McZilla/" class="menu">Report bugs</A></B><BR> 
	<SMALL>
	</SMALL>
</P> 
<P style="font-family:Verdana"><B><A href="/git/" class="menu">Git</A></B><BR> 
	<SMALL>
	</SMALL>
</P> 
<P style="font-family:Verdana"><B><A href="/ubuntu/" class="menu"><font color="green">McStas Ubuntu live-dvd</font></A></B><BR> 
	<SMALL>
	</SMALL>
</P> 
 <BR>
  </TD> <!-- left (menu) -->

  <TD colspan="8" align="left" valign="top" bgcolor="#ffffff"> <!-- midleright (text) -->
  <div style="font-family:arial; border: solid 0 #555; border-width:2px; padding:2.5ex; background-color: #ffffff;";>




<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<HTML><HEAD>
<TITLE>McStas: Single_crystal Component</TITLE>
<LINK REV="made" HREF="mailto:peter.willendrup@risoe.dk">
</HEAD>

<BODY>

<P ALIGN=CENTER>
 [ <A href="#id">Identification</A>
 | <A href="#desc">Description</A>
 | <A href="#ipar">Input parameters</A>
 | <A href="#opar">Output parameters</A>
 | <A href="#links">Links</A> ]
</P>

<H1>The <CODE>Single_crystal</CODE> Component</H1>

Mosaic single crystal with multiple scattering vectors, optimised for speed
with large crystals and many reflections.


<H2><A NAME=id></A>Identification</H2>

<UL>
  <LI> <B>Author:</B> Kristian Nielsen</B>
  <LI> <B>Origin:</B> Risoe</B>
  <LI> <B>Date:</B> December 1999</B>
  <LI> <B>Version:</B> $Revision$</B>
  <LI> <B>Modification history:</B> <UL>
    <LI>  EF, 22nd Apr 2003 : now uses Read_Table library
    <LI>  M. Schulz, March 2012 : allow to curve the crystal planes
    <LI>  EF, PW, May 2014: code efficiency improvement when SPLIT is used
    <LI>  EF, PW, 2015: powder/PG and texture mode
  </UL>
</UL>
<H2><A NAME=desc></A>Description</H2>

<PRE>
Single crystal with mosaic. Delta-D/D option for finite-size effects.
Rectangular geometry. Multiple scattering and secondary extinction included.
The mosaic may EITHER be specified isotropic by setting the mosaic input
parameter, OR anisotropic by setting the mosaic_a, mosaic_b, and mosaic_c
parameters.
The crystal lattice can be bent locally, keeping the external geometry unchanged.
Curvature is spherical along vertical and horizontal axes.

In order to dramatically improve the simulation efficiency, we recommend to
use a SPLIT keyword on this component (or prior to it), as well as to disable
the multiple scattering handling by setting order=1. This is especially powerfull
for large reflection lists such as with macromolecular proteins.

<b>Sample shape:</b>
Sample shape may be a cylinder, a sphere, a box or any other shape
  box/plate:       xwidth x yheight x zdepth
  cylinder:        radius x yheight
  sphere:          radius (yheight=0)
  any shape:       geometry=OFF file

  The complex geometry option handles any closed non-convex polyhedra.
  It computes the intersection points of the neutron ray with the object  
  transparently, so that it can be used like a regular sample object.
  It supports the PLY, OFF and NOFF file format but not COFF (colored faces). 
  Such files may be generated from XYZ data using:
    qhull < coordinates.xyz Qx Qv Tv o > geomview.off 
  or
    powercrust coordinates.xyz
  and viewed with geomview or java -jar jroff.jar (see below).
  The default size of the object depends on the OFF file data, but its 
  bounding box may be resized using xwidth,yheight and zdepth.

<b>Crystal definition file format</b>
Crystal structure is specified with an ascii data file. Each line contains
4 or more numbers, separated by white spaces:

      h k l ... F2

The first three numbers are the (h,k,l) indices of the reciprocal lattice
point, and the 7-th number is the value of the structure factor |F|**2, in
barns. The rest of the numbers are not used; the file is in the format
output by the Crystallographica program.
The reflection list should be ordered by decreasing d-spacing values.
Lines begining by '#' are read as comments (ignored). Most sample parameters
may be defined from the data file header, following the same mechanism as
PowderN.

Current data file header keywords include, for data format specification:
   #column_h <index of the Bragg Qh column>
   #column_k <index of the Bragg Qk column>
   #column_l <index of the Bragg Ql column>
   #column_F2 <index of the squared str. factor '|F|^2' column [b]>
   #column_F  <index of the structure factor norm '|F|' column>
and for material specification:
   #sigma_abs <value of absorption cross section [barns]>
   #sigma_inc <value of incoherent cross section [barns]>
   #Delta_d/d <value of Detla_d/d width for all lines>
   #lattice_a <value of the a lattice parameter [Angs]>
   #lattice_b <value of the b lattice parameter [Angs]>
   #lattice_c <value of the c lattice parameter [Angs]>
   #lattice_aa <value of the alpha lattice angle [deg]>
   #lattice_bb <value of the beta  lattice angle [deg]>
   #lattice_cc <value of the gamma lattice angle [deg]>

See the Component Manual for more defails.

Example: Single_crystal(xwidth=0.01, yheight=0.01, zdepth=0.01,
          mosaic = 5, reflections="YBaCuO.lau")

A PG graphite crystal plate, cut for (002) reflections
  Single_crystal(xwidth = 0.002, yheight = 0.1, zdepth = 0.1, 
    mosaic = 30, reflections = "C_graphite.lau", 
    ax=0,      ay=2.14,   az=-1.24,
    bx = 0,    by = 0,    bz =  2.47,
    cx = 6.71, cy = 0,    cz =  0)

A leucine protein, without multiple scattering
  Single_crystal(xwidth=0.005, yheight=0.005, zdepth=0.005,
    mosaic = 5, reflections="leucine.lau", order=1)

A Vanadium incoherent elastic scattering with multiple scattering
  Single_crystal(xwidth=0.01, yheight=0.01, zdepth=0.01,
          reflections="", sigma_abs=5.08, sigma_inc=4.935,
          ax=3.0282, by=3.0282, cz=3.0282/2)

Also, always use a non-zero value of delta_d_d.

%VALIDATION:
This component has been validated.

</PRE>

<H2><A NAME=ipar></A>Input parameters</H2>
Parameters in <B>boldface</B> are required;
the others are optional.
<TABLE BORDER=1>
<TR><TH>Name</TH>  <TH>Unit</TH>  <TH>Description</TH> <TH>Default</TH></TR>
<TR> <TD>mosaic_AB</TD>
     <TD>arc_minutes, arc_minutes,1, 1, 1, 1, 1, 1</TD>
     <TD>In Plane mosaic rotation and plane vectors (anisotropic), 
mosaic_A, mosaic_B, A_h,A_k,A_l, B_h,B_k,B_l. Puts the crystal in 
the in-plane mosaic state. Vectors A and B define plane in which 
the crystal roation is defined, and mosaic_A, mosaic_B, denotes the 
resp. mosaicities (gaussian RMS) with respect to the the two 
reflections chosen by A and B (Miller indices). </TD>
<TD ALIGN=RIGHT>Mosaic_AB_Undefined</TD> </TR>
<TR> <TD>reflections</TD>
     <TD>string</TD>
     <TD>File name containing structure factors of reflections. Use
empty ("") or NULL for incoherent scattering only </TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>geometry</TD>
     <TD>str</TD>
     <TD>Name of an Object File Format (OFF) or PLY file for complex geometry. 
The OFF/PLY file may be generated from XYZ coordinates using qhull/powercrust </TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>xwidth</TD>
     <TD>m</TD>
     <TD>Width of crystal </TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>yheight</TD>
     <TD>m</TD>
     <TD>Height of crystal </TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>zdepth</TD>
     <TD>m</TD>
     <TD>Depth of crystal (no extinction simulated) </TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>radius</TD>
     <TD>m</TD>
     <TD>Outer radius of sample in (x,z) plane </TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>delta_d_d</TD>
     <TD>1</TD>
     <TD>Lattice spacing variance, gaussian RMS </TD>
<TD ALIGN=RIGHT>1e-4</TD> </TR>
<TR> <TD>mosaic</TD>
     <TD>arc minutes</TD>
     <TD>Crystal mosaic (isotropic), gaussian RMS. Puts the crystal in the 
isotropic mosaic model state, thus disregarding other mosaicity parameters. </TD>
<TD ALIGN=RIGHT>-1</TD> </TR>
<TR> <TD>mosaic_a</TD>
     <TD>arc minutes</TD>
     <TD>Horizontal (rotation around lattice vector a) mosaic (anisotropic), gaussian RMS. 
Put the crystal in the anisotropic crystal vector state. I.e. model mosaicity
through rotation around the crystal lattice vectors. Has precedence over
in-plane mosaic model. </TD>
<TD ALIGN=RIGHT>-1</TD> </TR>
<TR> <TD>mosaic_b</TD>
     <TD>arc minutes</TD>
     <TD>Vertical (rotation around lattice vector b) mosaic (anisotropic), 
gaussian RMS. </TD>
<TD ALIGN=RIGHT>-1</TD> </TR>
<TR> <TD>mosaic_c</TD>
     <TD>arc minutes</TD>
     <TD>Out-of-plane (Rotation around lattice vector c) mosaic (anisotropic), 
gaussian RMS </TD>
<TD ALIGN=RIGHT>-1</TD> </TR>
<TR> <TD>recip_cell</TD>
     <TD>1</TD>
     <TD>Choice of direct/reciprocal (0/1) unit cell definition </TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>barns</TD>
     <TD>1</TD>
     <TD>Flag to indicate if |F|^2 from 'reflections' is in barns or fm^2. 
barns=1 for laz and isotropic constant elastic scattering (reflections=NULL), 
barns=0 for lau type files </TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>ax</TD>
     <TD>AA or AA^-1</TD>
     <TD>Coordinates of first (direct/recip) unit cell vector </TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>ay</TD>
     <TD>-</TD>
     <TD>a on y axis</TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>az</TD>
     <TD>-</TD>
     <TD>a on z axis</TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>bx</TD>
     <TD>AA or AA^-1</TD>
     <TD>Coordinates of second (direct/recip) unit cell vector </TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>by</TD>
     <TD>-</TD>
     <TD>b on y axis</TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>bz</TD>
     <TD>-</TD>
     <TD>b on z axis</TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>cx</TD>
     <TD>AA or AA^-1</TD>
     <TD>Coordinates of third (direct/recip) unit cell vector </TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>cy</TD>
     <TD>-</TD>
     <TD>c on y axis</TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>cz</TD>
     <TD>-</TD>
     <TD>c on z axis</TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>p_transmit</TD>
     <TD>1</TD>
     <TD>Monte Carlo probability for neutrons to be transmitted
without any scattering. Used to improve statistics from
weak reflections </TD>
<TD ALIGN=RIGHT>-1</TD> </TR>
<TR> <TD>sigma_abs</TD>
     <TD>barns</TD>
     <TD>Absorption cross-section per unit cell at 2200 m/s </TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>sigma_inc</TD>
     <TD>barns</TD>
     <TD>Incoherent scattering cross-section per unit cell
Use -1 to unactivate </TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>aa</TD>
     <TD>deg</TD>
     <TD>Unit cell angles alpha, beta and gamma. Then uses norms of
vectors a,b and c as lattice parameters </TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>bb</TD>
     <TD>deg</TD>
     <TD>Beta angle </TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>cc</TD>
     <TD>-</TD>
     <TD>Gamma angle [deg].</TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>order</TD>
     <TD>1</TD>
     <TD>Limit multiple scattering up to given order
(0: all, 1: first, 2: second, ...) </TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>RX</TD>
     <TD>m</TD>
     <TD>Radius of horizontal along X lattice curvature. flat for 0 </TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>RY</TD>
     <TD>m</TD>
     <TD>Radius of vertical lattice curvature. flat for 0 </TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>RZ</TD>
     <TD>m</TD>
     <TD>Radius of horizontal along Z lattice curvature. flat for 0 </TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>powder</TD>
     <TD>1</TD>
     <TD>Flag to indicate powder mode, for simulation of Debye-Scherrer cones
via random crystallite orientation. A powder texture can be 
approximated with 0<powder<1 </TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>PG</TD>
     <TD>1</TD>
     <TD>Flag to indicate "Pyrolytic Graphite" mode, only meaningful with 
choice of Graphite.lau, models PG crystal. A powder texture can be 
approximated with 0<PG<1 with main axis on 'c' </TD>
<TD ALIGN=RIGHT>0</TD> </TR>
</TABLE>


<H2><A NAME=opar></A>Output parameters</H2>
<TABLE BORDER=1>
<TR><TH>Name</TH>  <TH>Unit</TH>  <TH>Description</TH> <TH>Default</TH></TR>
<TR> <TD><B>hkl_info</B></TD>
     <TD>-</TD>
     <TD>.l:</TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>offdata</B></TD>
     <TD></TD> <TD></TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
</TABLE>


<H2><A NAME=links></A>Links</H2>

<UL>
  <LI> <A HREF="Single_crystal.comp">Source code</A> for <CODE>Single_crystal.comp</CODE>.
  <LI> See <a href="http://icsd.ill.fr">ICSD</a> Inorganic Crystal Structure Database
  <LI> <a href="http://www.ncnr.nist.gov/resources/n-lengths/">Cross sections for single elements</a> 
  <LI> <a href="http://www.ncnr.nist.gov/resources/sldcalc.html>Cross sections for compounds</a>
  <LI> <a href="http://www.webelements.com/">Web Elements</a>
  <LI> <a href="http://www.ill.eu/sites/fullprof/index.html">Fullprof</a> powder refinement
  <LI> <a href="http://www.crystallographica.com/">Crystallographica</a> software
  <LI> <a href="http://www.geomview.org">Geomview and Object File Format (OFF)</a>
  <LI> Java version of Geomview (display only) <a href="http://www.holmes3d.net/graphics/roffview/">jroff.jar</a>
  <LI> <a href="http://qhull.org">qhull</a>
  <LI> <a href="http://www.cs.ucdavis.edu/~amenta/powercrust.html">powercrust</a>

</UL>
<HR>
<P ALIGN=CENTER>
 [ <A href="#id">Identification</A>
 | <A href="#desc">Description</A>
 | <A href="#ipar">Input parameters</A>
 | <A href="#opar">Output parameters</A>
 | <A href="#links">Links</A> ]
</P>

<ADDRESS>
Generated automatically by McDoc, Peter Willendrup
&lt;<A HREF="mailto:peter.willendrup@risoe.dk">peter.willendrup@risoe.dk</A>&gt; /
Thu Jun 16 08:51:07 2016</ADDRESS>
</BODY></HTML>

<P><DIV align=right><A href="/download/components/samples/Single_crystal.pure.html">Printable version</A></DIV><HR> <CENTER><SMALL>Last Modified: Thursday, 16-Jun-2016 10:51:07 CEST</SMALL></CENTER>
</div></TD> <!-- midleright (text) -->
 </TR> <!-- main -->
<TR bgcolor = "#ffffff" align="left">
<TD colspan="8"><a href="/search"><img
 src="/spyglass.gif" alt="Search website" align="middle" height="40"
 border="0"></a>
<a href="http://freshmeat.net/projects/mcstas"><img
 src="/link_button_3.gif" align="middle"
 border="0" alt="freshmeat.net McStas site"></a>
<a href="http://rss.mcstas.org/RSS.xml" ><img src="/rssfeed.png" align="middle" border="0" alt="RSS feed"></a>
<a href="http://mailman.mcstas.org/pipermail/mcstas-users/"><img src="/Mailman.jpg" align="middle" border="0" alt="mailinglist archive"></a>
<a href="https://svn.mccode.org/svn/McCode"><img src="/subversion_logo.png" align="middle" height="40" border="0" alt="SVN repos"></A>
<a href="http://trac.mccode.org"><img src="/trac_logo.png"
 align="middle" height="50" border="0" alt="McCode Trac"></a>
<!-- Facebook Badge START --><a
 href="http://www.facebook.com/McStas"
 target="_TOP" title="McStas"><img align="middle" src="/mcstas-fblogo.png" width="50" height="40" style="border: 0px;" /></a><!-- Facebook Badge END --></TD></TR></TABLE >

</BODY>
</HTML>

