<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<HTML><HEAD>
<TITLE>McStas: Res_monitor Component</TITLE>
<LINK REV="made" HREF="mailto:peter.willendrup@risoe.dk">
</HEAD>

<BODY>

<P ALIGN=CENTER>
 [ <A href="#id">Identification</A>
 | <A href="#desc">Description</A>
 | <A href="#ipar">Input parameters</A>
 | <A href="#opar">Output parameters</A>
 | <A href="#links">Links</A> ]
</P>

<H1>The <CODE>Res_monitor</CODE> Component</H1>

Monitor for resolution calculations


<H2><A NAME=id></A>Identification</H2>

<UL>
  <LI> <B>Author:</B> Kristian Nielsen</B>
  <LI> <B>Origin:</B> Risoe</B>
  <LI> <B>Date:</B> 1999</B>
  <LI> <B>Version:</B> $Revision$</B>
  <LI> <B>Modification history:</B> <UL>
    <LI>  EF, 16th Apr 2003: imported from Monitor_nD to enable many shapes
  </UL>
</UL>
<H2><A NAME=desc></A>Description</H2>

<PRE>
A single detector/monitor, used together with the Res_sample component to
compute instrument resolution functions. Outputs a list of neutron
scattering events in the sample along with their intensities in the
detector. The output file may be analyzed with the mcresplot front-end.

Example: Res_monitor(filename="Output.res", res_sample_comp=RSample,
          xmin=-0.1, xmax=0.1, ymin=-0.1, ymax=0.1)

Setting the monitor geometry.
  The optional parameter 'options' may be set as a string with the
  following keywords. Default is rectangular ('square'):
    box                       Box of size xwidth, yheight, zdepth
    cylinder                  To get a cylindrical monitor
                               (diameter is xwidth, height is yheight).
    banana                    Same as cylinder, without top/bottom,
                               on restricted angular area
    disk                      Disk flat xy monitor. diameter is xwidth.
    sphrere                   To get a spherical monitor (e.g. a 4PI)
                               (diameter is xwidth).
    square                    Square flat xy monitor (xwidth, yheight)

</PRE>

<H2><A NAME=ipar></A>Input parameters</H2>
Parameters in <B>boldface</B> are required;
the others are optional.
<TABLE BORDER=1>
<TR><TH>Name</TH>  <TH>Unit</TH>  <TH>Description</TH> <TH>Default</TH></TR>
<TR> <TD><B>res_sample_comp</B></TD>
     <TD>no quotes</TD>
     <TD>Name of Res_sample component in the instrument
definition </TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD>filename</TD>
     <TD>string</TD>
     <TD>Name of output file. If unset, use automatic name </TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>options</TD>
     <TD>str</TD>
     <TD>String that specifies the geometry of the monitor
</TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>xwidth</TD>
     <TD>m</TD>
     <TD>Width/diameter of detector
</TD>
<TD ALIGN=RIGHT>.1</TD> </TR>
<TR> <TD>yheight</TD>
     <TD>m</TD>
     <TD>Height of detector
</TD>
<TD ALIGN=RIGHT>.1</TD> </TR>
<TR> <TD>zdepth</TD>
     <TD>m</TD>
     <TD>Thichness of detector
</TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>radius</TD>
     <TD>m</TD>
     <TD>Radius of sphere/cylinder monitor
</TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>xmin</TD>
     <TD>m</TD>
     <TD>Lower x bound of detector opening </TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>xmax</TD>
     <TD>m</TD>
     <TD>Upper x bound of detector opening </TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>ymin</TD>
     <TD>m</TD>
     <TD>Lower y bound of detector opening </TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>ymax</TD>
     <TD>m</TD>
     <TD>Upper y bound of detector opening </TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>zmin</TD>
     <TD>m</TD>
     <TD>Lower z bound of detector opening </TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>zmax</TD>
     <TD>m</TD>
     <TD>Upper z bound of detector opening </TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>bufsize</TD>
     <TD>1</TD>
     <TD>Number of events to store. Use 0 to store all </TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>restore_neutron</TD>
     <TD>1</TD>
     <TD>: If set, the monitor does not influence the neutron state
</TD>
<TD ALIGN=RIGHT>0</TD> </TR>
</TABLE>


<H2><A NAME=opar></A>Output parameters</H2>
<TABLE BORDER=1>
<TR><TH>Name</TH>  <TH>Unit</TH>  <TH>Description</TH> <TH>Default</TH></TR>
<TR> <TD><B>DEFS</B></TD>
     <TD>struct</TD>
     <TD>structure containing Monitor_nD Defines </TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>Vars</B></TD>
     <TD>struct</TD>
     <TD>structure containing Monitor_nD variables </TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>buffer_index</B></TD>
     <TD>long</TD>
     <TD>number of recorded events </TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
</TABLE>


<H2><A NAME=links></A>Links</H2>

<UL>
  <LI> <A HREF="Res_monitor.comp">Source code</A> for <CODE>Res_monitor.comp</CODE>.
</UL>
<HR>
<P ALIGN=CENTER>
 [ <A href="#id">Identification</A>
 | <A href="#desc">Description</A>
 | <A href="#ipar">Input parameters</A>
 | <A href="#opar">Output parameters</A>
 | <A href="#links">Links</A> ]
</P>

<ADDRESS>
Generated automatically by McDoc, Peter Willendrup
&lt;<A HREF="mailto:peter.willendrup@risoe.dk">peter.willendrup@risoe.dk</A>&gt; /
Thu Jun 16 08:51:07 2016</ADDRESS>
</BODY></HTML>
