<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<HTML><HEAD>
<TITLE>McStas: TOF2Q_cylPSD_monitor Component</TITLE>
<LINK REV="made" HREF="mailto:peter.willendrup@risoe.dk">
</HEAD>

<BODY>

<P ALIGN=CENTER>
 [ <A href="#id">Identification</A>
 | <A href="#desc">Description</A>
 | <A href="#ipar">Input parameters</A>
 | <A href="#opar">Output parameters</A>
 | <A href="#links">Links</A> ]
</P>

<H1>The <CODE>TOF2Q_cylPSD_monitor</CODE> Component</H1>

Cylindrical (2pi) Time-of-flight to Q monitor.
Calculates Q from TOF and known nominal grazing angle theta:
E = VS2E*(L_flight/(t-T_zero))*(L_flight/(t-T_zero));
   Q=2*sqrt(E/2.072)*sin(theta);


<H2><A NAME=id></A>Identification</H2>

<UL>
  <LI> <B>Author:</B> Anette Vickery, derived from Lefmann TOF_cylPSD</B>
  <LI> <B>Origin:</B> Risoe</B>
  <LI> <B>Date:</B> October 2000</B>
  <LI> <B>Version:</B> 4553 </B>
  <LI> <B>Modification history:</B> <UL>
    <LI>  Anette Vickery, October 9, 2012
  </UL>
</UL>
<H2><A NAME=desc></A>Description</H2>

<PRE>

</PRE>

<H2><A NAME=ipar></A>Input parameters</H2>
Parameters in <B>boldface</B> are required;
the others are optional.
<TABLE BORDER=1>
<TR><TH>Name</TH>  <TH>Unit</TH>  <TH>Description</TH> <TH>Default</TH></TR>
<TR> <TD><B>nQ</B></TD>
     <TD>1</TD>
     <TD>Number of Q bins </TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>filename</B></TD>
     <TD>text</TD>
     <TD>Name of file in which to store the detector image </TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>ny</B></TD>
     <TD>1</TD>
     <TD>Number of y bins </TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>radius</B></TD>
     <TD>m</TD>
     <TD>Cylinder radius </TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>yheight</B></TD>
     <TD>m</TD>
     <TD>Height of cylinder </TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>Qmin</B></TD>
     <TD>-</TD>
     <TD>Beginning of Q-range</TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>Qmax</B></TD>
     <TD>-</TD>
     <TD>End of Q-range</TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD>ymin</TD>
     <TD>m</TD>
     <TD>Minimum value of y monitored </TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD>ymax</TD>
     <TD>m</TD>
     <TD>Maximum value of y monitored </TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD><B>T_zero</B></TD>
     <TD>s</TD>
     <TD>Beginning of time window </TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>L_flight</B></TD>
     <TD>-</TD>
     <TD>Nominal flightpath moderator--detector</TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD>restore_neutron</TD>
     <TD>1</TD>
     <TD>If set, the monitor does not influence the neutron state </TD>
<TD ALIGN=RIGHT>0</TD> </TR>
<TR> <TD><B>theta</B></TD>
     <TD>-</TD>
     <TD>Nominal grazing angle</TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
</TABLE>


<H2><A NAME=opar></A>Output parameters</H2>
<TABLE BORDER=1>
<TR><TH>Name</TH>  <TH>Unit</TH>  <TH>Description</TH> <TH>Default</TH></TR>
<TR> <TD><B>TOF_N</B></TD>
     <TD>-</TD>
     <TD>Array of neutron counts</TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>TOF_p</B></TD>
     <TD>-</TD>
     <TD>Array of neutron weight counts</TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
<TR> <TD><B>TOF_p2</B></TD>
     <TD>-</TD>
     <TD>Array of second moments</TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
</TABLE>


<H2><A NAME=links></A>Links</H2>

<UL>
  <LI> <A HREF="TOF2Q_cylPSD_monitor.comp">Source code</A> for <CODE>TOF2Q_cylPSD_monitor.comp</CODE>.
</UL>
<HR>
<P ALIGN=CENTER>
 [ <A href="#id">Identification</A>
 | <A href="#desc">Description</A>
 | <A href="#ipar">Input parameters</A>
 | <A href="#opar">Output parameters</A>
 | <A href="#links">Links</A> ]
</P>

<ADDRESS>
Generated automatically by McDoc, Peter Willendrup
&lt;<A HREF="mailto:peter.willendrup@risoe.dk">peter.willendrup@risoe.dk</A>&gt; /
Thu Jun 16 08:51:07 2016</ADDRESS>
</BODY></HTML>
