<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<HTML><HEAD>
<TITLE>McStas: Scatter_logger_stop Component</TITLE>
<LINK REV="made" HREF="mailto:peter.willendrup@risoe.dk">
</HEAD>

<BODY>

<P ALIGN=CENTER>
 [ <A href="#id">Identification</A>
 | <A href="#desc">Description</A>
 | <A href="#ipar">Input parameters</A>
 | <A href="#opar">Output parameters</A>
 | <A href="#links">Links</A> ]
</P>

<H1>The <CODE>Scatter_logger_stop</CODE> Component</H1>

Stop logging iteractions of neutrons with components


<H2><A NAME=id></A>Identification</H2>

<UL>
  <LI> <B>Author:</B> Erik B Knudsen, Peter K Willendrup & Esben Klinkby </B>
  <LI> <B>Origin:</B> DTU Physics / DTU Nutech</B>
  <LI> <B>Date:</B> January 2013</B>
  <LI> <B>Version:</B> 1.12 </B>
</UL>
<H2><A NAME=desc></A>Description</H2>

<PRE>
Component which marks the end of the region where SCATTER events should be logged.

</PRE>

<H2><A NAME=ipar></A>Input parameters</H2>
Parameters in <B>boldface</B> are required;
the others are optional.
<TABLE BORDER=1>
<TR><TH>Name</TH>  <TH>Unit</TH>  <TH>Description</TH> <TH>Default</TH></TR>
<TR> <TD><B>logger</B></TD>
     <TD> </TD>
     <TD>The Scatter_logger.comp which began the logging region. This is necessary to allow communication between the components. </TD>
<TD ALIGN=RIGHT>&nbsp;</TD> </TR>
</TABLE>


<H2><A NAME=links></A>Links</H2>

<UL>
  <LI> <A HREF="Scatter_logger_stop.comp">Source code</A> for <CODE>Scatter_logger_stop.comp</CODE>.
</UL>
<HR>
<P ALIGN=CENTER>
 [ <A href="#id">Identification</A>
 | <A href="#desc">Description</A>
 | <A href="#ipar">Input parameters</A>
 | <A href="#opar">Output parameters</A>
 | <A href="#links">Links</A> ]
</P>

<ADDRESS>
Generated automatically by McDoc, Peter Willendrup
&lt;<A HREF="mailto:peter.willendrup@risoe.dk">peter.willendrup@risoe.dk</A>&gt; /
Thu Jun 16 08:51:07 2016</ADDRESS>
</BODY></HTML>
